{% extends "profiles/base.html" %}

{% load i18n %}
{% load pagination_tags %}

{% block head_title %}{% blocktrans %}Advanced Profile Query{% endblocktrans %}{% endblock %}

{% block body %}

	<h1>Advanced Profile Query</h1>

	<p>	
		<a href="{% url profile_new_query %}">Create new query</a>
	</p>

	<h3>My queries</h3>
	{% for q in my_queries %}
		<a href="{% url profile_query_load q.pk %}" class="loadquery">
			<strong>{{ q.name }}</strong> - {{q.created|date}}
			{% if q.shared %}
				(shared)
			{% endif %}
		</a>
		<br/>
	{% endfor %}
	
	<hr/>
	<h3>Shared queries</h3>
	
	{% for q in shared_queries %}
		<a href="{% url profile_query_load q.pk %}" class="loadquery">
			<strong>{{ q.name }}</strong> - {{q.owner}} - {{q.created|date}}
		</a>
		<br/>
	{% endfor %}
	
{% endblock %}

{% block extra_body %}

<script type="text/javascript">
	$('.loadquery').click(function() {
		var confirmed = confirm("This will replace the current query.  Are you sure?")
		if (confirmed)
			return true;
		else
			return false;
	});
</script>

{% endblock %}