{% load filesize_tags %}
{% load time_filters %}
{% load uni_form_tags %}
{% load workspace_tags %}

{% workspace_perms workspace request.user as can_view can_edit %}

<div>
<strong>{{ filename }}</strong><br/>
{% if path %}
	{% ifnotequal path '/' %}
		<em style="padding-left: 15px;">in {{ path }}</em><br/>
	{% endifnotequal %}
{% endif %}

<p>
	[<a href="{{ STATIC_URL }}workspace/files/{{ workspace.id }}{{ relpath }}">download file</a>]&nbsp;&nbsp;
	{% if can_edit %}
    	[<a href="#" onclick="move_file('{{relpath}}'); return false;">move file</a>]&nbsp;&nbsp;
	    [<a href="#" onclick="delete_file('{{relpath}}'); return false;">delete file</a>]&nbsp;&nbsp;
    {% endif %}
</p>

<p id="move-file-div" style="display: none;">
</p>

<p>
	size: {{ stat.st_size|filesize }}<br/>
	last modified: {% mktime stat.st_mtime %}<br/>
</p>

<p id="workspace-preview" style="display: none"></p>
<script type="text/javascript">
{% can_preview relpath as preview %}
{% if preview %}
	{#<a href="#" id="show-preview" onclick="preview_file('{{relpath}}'); return false;">preview this file</a>#}
    var can_preview = '{{ relpath }}';
{% else %}
    var can_preview = false;
{% endif %}

{% if force_selection %}
    var force_selection = '{{ relpath }}';
{% else %}
    var force_selection = false;
{% endif %}
</script>

</div>
