{% load filesize_tags %}
{% load time_filters %}
{% load uni_form_tags %}
{% load workspace_tags %}

{% workspace_perms workspace request.user as can_view can_edit %}

<div>
<strong>{{ file.get_filename }}</strong><br/>
{% if file.get_folder %}
	<em style="padding-left: 15px;">in {{ file.get_folder }}</em><br/>
{% endif %}

<p>
	[<a href="{{ STATIC_URL }}workspace/files/{{ workspace.id }}{{ file.get_relative_path }}">download file</a>]&nbsp;&nbsp;
	{% if can_edit %}
    	[<a href="#" onclick="replace_file('{{file.get_relative_path}}'); return false;">replace/update file</a>]&nbsp;&nbsp;
    	[<a href="#" onclick="move_file('{{file.get_relative_path}}'); return false;">move file</a>]&nbsp;&nbsp;
	    [<a href="#" onclick="delete_file('{{file.get_relative_path}}'); return false;">delete file</a>]&nbsp;&nbsp;
    {% endif %}
</p>

<p id="move-file-div" style="display: none;">
</p>

<p>
    size: {{ file.get_size|filesize }}<br/>
    modified: {% mktime file.modified %} by {{ file.updator.visible_name }}<br/>
</p>

<p id="workspace-preview" style="display: none"></p>
<script type="text/javascript">
{% can_preview file as preview %}
{% if preview %}
    var can_preview = '{{ file.get_relative_path }}';
{% else %}
    var can_preview = false;
{% endif %}

{% if force_selection %}
    var force_selection = '{{ file.get_relative_path }}';
{% else %}
    var force_selection = false;
{% endif %}
</script>

</div>
