{% load filesize_tags %}
{% load time_filters %}
{% load uni_form_tags %}
{% load workspace_tags %}

{% workspace_perms workspace request.user as can_view can_edit %}

<style>
div.jqueryFileTree li {
    display: block;
    margin-left: 25px;
    padding-left: 20px;
    height: 18px;
}
</style>

<div>
    <strong>{{ foldername }}</strong><br/>
    {% if path %}
	    {% ifnotequal path '/' %}
		    <em style="padding-left: 15px;">in {{ path }}</em><br/>
	    {% endifnotequal %}
    {% endif %}

    {% if can_edit %}
        <p>
        	[<a href="#" onclick="rename_file('{{relpath}}'); return false;">rename folder</a>]&nbsp;&nbsp;
        	[<a href="#" onclick="move_file('{{relpath}}'); return false;">move folder</a>]&nbsp;&nbsp;
            [<a href="#" onclick="delete_folder('{{relpath}}'); return false;">delete folder</a>]&nbsp;&nbsp;
        </p>
        
        <p id="move-file-div" style="display: none;">
        </p>

    {% else %}
        <br/>
    {% endif %}

    <div class="jqueryFileTree">
        {% for l,m in listing %}
            {% if can_edit %}
                <input type="checkbox" name="{{ l }}" style="float: left;">
            {% endif %}
            {{ m|safe }}
        {% endfor %}
    </div>
    
    {% if can_edit %}
        <div style="margin-left: 25px; margin-top: 5px;">
            with selected files:<br/>
            [<a href="#" onclick="window.alert('not implemented'); return false;">move</a>]&nbsp;&nbsp;
            [<a href="#" onclick="window.alert('not implemented'); return false;">delete</a>]&nbsp;&nbsp;
        </div>
    {% endif %}

</div>

<script type="text/javascript">
    {% if force_selection %}
        var force_selection = '{{ relpath }}';
    {% else %}
        var force_selection = false;
    {% endif %}

    {% if can_edit %}
        $('div.jqueryFileTree li').click(function() {
            var id = $(this).attr('id');
            var input = $('div.jqueryFileTree input[name=' + id + ']')
            if (input.attr('checked'))
                input.attr('checked', '');
            else
                input.attr('checked', 'checked');
        });
    {% endif %}
</script>

