{% load workspace_tags %}

{% workspace_perms workspace request.user as can_view can_edit %}

<style>
#explorer li a
{
    margin-right: 16px;
}
#explorer li .ui-icon-circle-triangle-e
{
    float: right;
    cursor: pointer;
}
</style>

{% if can_edit %}
<div style="position: relative; top: -5px; padding-bottom: 5px;">
	[<a href="#" id="workspace-new-file">upload file</a>] &nbsp;
	[<a href="#" id="workspace-new-folder">create folder</a>] &nbsp;
	[<a href="#" id="workspace-delete-folder">delete folder</a>]
</div>
{% endif %}

{% if can_view %}
<div id="filedetail" style="width: 60%; float: right; padding: 5px;">
</div>
<div style="width: 35%; background: #f0f0f0; padding: 5px;" class="ui-corner-all">
	<div id="explorer">
	</div>
</div>
<iframe id="uploadframe" name="uploadframe" src="" style="height: 0px; width: 0px; border: 0px;"></iframe>


<script type="text/javascript">
	$().ready(function() {
		refresh_filetree();

		// bring up the "upload new file" form
		$('#workspace-new-file').click(function() {
			// unselect any selected file in the tree
			$('.tree-selected').removeClass('tree-selected');

			// load file upload form by ajax 
			loading();
			$('#filedetail').load('{% url workspace_upload workspace.id %}',
								  function() {
				  					$('#upload-progress').hide();
				  					var last_folder = $('.tree-selected-folder').find('a').attr('rel');
				  					if (last_folder)
				  					{
    				  					last_folder = last_folder.substring(0, last_folder.length - 1);
    				  					$('#id_folder ').val(last_folder);
    				  				}
									$('#workspace-upload-form').submit(function() {
										$('#upload-progress').show();
										return true;
									});
								  });
			return false;
		});

		// if the hidden uploader iframe is updated, show the contents
		// in the filedetail pane too (content needs to be in a <div>)
		$('#uploadframe').load(function() {
			$('#filedetail').html($('#uploadframe').contents().find('div').html());
			refresh_filetree(force_selection);
		});

		function new_folder_listener()
		{
			$('#workspace-mkdir-form').submit(function() {
				$.post('{% url workspace_mkdir workspace.id %}',
						$(this).serialize(),
						function(data) {
							refresh_filetree();
							$('#filedetail').html(data);
							new_folder_listener();
						});	
				return false;
			});
		}
		$('#workspace-new-folder').click(function() {
			// unselect any selected file in the tree
			$('.tree-selected').removeClass('tree-selected');

			// load new folder form by ajax 
			loading();
			$('#filedetail').load('{% url workspace_mkdir workspace.id %}',
								  new_folder_listener);
			return false;
		});
		
		$('#workspace-delete-folder').click(function() {
			// unselect any selected file in the tree
			$('.tree-selected').removeClass('tree-selected');

			// load delete folder form by ajax 
			loading();
			$('#filedetail').load('{% url workspace_rmdir workspace.id %}',
					 function() {
							$('#workspace-rmdir-form').submit(function() {
								$.post('{% url workspace_rmdir workspace.id %}',
										$(this).serialize(),
										function(data) {
											refresh_filetree();
											$('#filedetail').html(data);
										});	
								return false;
							});
					});
			return false;
		});
	});

    function filetree_hooks() {
	    $('.ui-icon').each(function() {
	        if (!$(this).hasClass('listener'))
	        {
	            $(this).click(function() {
	                if ($(this).parent().hasClass('collapsed'))
	                    $(this).parent().find('a').click();
	                    
	                loading();
	                var folder = $(this).parent().find('a').attr('rel');
	                $.post('{% url workspace_folder_detail workspace.id %}',
	                       {dir: folder},
	                       function(data) {
	                            $('#filedetail').html(data);
	                       });
	                       
	                $('.tree-selected').removeClass('tree-selected');
	            });
	            $(this).addClass('listener');
	       }
	   });
	}

	// load or refresh the filetree
	function refresh_filetree(selected) {
		$('#explorer').fileTree({script: '{% url workspace_browse workspace.id %}',
		                         selected: selected,
		                         onload: filetree_hooks},
								function(file) {
									loading();
									$.post('{% url workspace_detail workspace.id %}',
											{dir: file}, 	
										    function(data) {
											    $('#filedetail').html(data);
											    if (can_preview)
											        preview_file(can_preview);
										    });	
								});
	}
	
	function move_file(file)
	{
		$('#move-file-div').load('{% url workspace_move workspace.id %}',
								 function() {
			 						$('#move-file-original').val(file);
			 						$('#move-file-div').slideDown();
									$('#workspace-move-form').submit(function() {
										$.post('{% url workspace_move workspace.id %}',
												$(this).serialize(),
												function(data) {
													$('#filedetail').html(data);
													refresh_filetree(force_selection);
												});	
										return false;
									});
		 });
		 return false;
	}
	function replace_file(file)
	{
		window.alert("replace file: not implemented - " + file);
	}
	function delete_file(file)
	{
           var confirmed = confirm("Are you sure you want to delete this file?");
           if (confirmed)
           {
               loading();
               $.post('{% url workspace_delete workspace.id %}',
               		{dir: file},
               		function(data) {
                   		refresh_filetree();
                   		$('#filedetail').html(data);
               		});
           }
		return false;
	}
	function preview_file(file)
	{
		//$('#show-preview').hide();
		$('#workspace-preview').html("<img src='{{ STATIC_URL}}images/ajax-loader.gif'/>  Loading...");
		$('#workspace-preview').slideDown();
		$.post('{% url workspace_preview workspace.id %}',
				{dir: file},
				function(data) {
					$('#workspace-preview').html(data);
				});
		return false;
	}

	function loading()
	{
		$('#filedetail').html("<p><img src='{{ STATIC_URL}}images/ajax-loader.gif'/>  Loading...</p>");
	}
</script>
{% endif %}
