{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load extra_tagging_tags %}

<div class="student_record">
	{% if record.institution %}<p>{{ record.institution }}</p>{% endif %}
	{% if record.level %}<p><b>{% trans "Level of education" %}</b>: {{ record.get_level_display }}</p>{% endif %}
	{% if record.field %}<p><b>{% trans "Field" %}</b>: {{ record.field }}</p>{% endif %}
	{% if record.start_date %}<p><b>{% trans "Start date" %}</b>: {{ record.start_date }}</p>{% endif %}
	{% if record.graduation_date %}<p><b>{% trans "Graduation date" %}</b>: {{ record.graduation_date }}</p>{% endif %}
	{% if record.student_number %}<p><b>{% trans "Student number" %}</b>: {{ record.student_number }}</p>{% endif %}
	
	{% if is_me %}
		<a href="{% url profile_student_record user.username record.id %}">Edit</a>
	{% endif %}
</div>