{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load extra_tagging_tags %}

<div class="work_record">	
	{% if record.employer %}<p>{{ record.employer }}</p>{% endif %}
	{% if record.sector %}<p><b>{% trans "Sector" %}</b>: {{ record.sector }}</p>{% endif %}
	{% if record.position %}<p><b>{% trans "Position" %}</b>: {{ record.position }}</p>{% endif %}
	{% if record.start_date %}<p><b>{% trans "Start date" %}</b>: {{ record.start_date }}</p>{% endif %}
	{% if record.end_date %}<p><b>{% trans "End date" %}</b>: {{ record.end_date }}</p>{% endif %}
	{% if record.company_size %}<p><b>{% trans "Company size" %}</b>: {{ record.get_company_size_display }}</p>{% endif %}
	{% if record.income_level %}<p><b>{% trans "Income level" %}</b>: {{ record.get_income_level_display }}</p>{% endif %}
	
	{% if is_me %}
		<a href="{% url profile_work_record user.username record.id %}">Edit</a>
	{% endif %}
</div>