{% load i18n %}


{# <script type="text/javascript" src="{{STATIC_URL}}js/address_tabs.js"></script> #}

{{ field }}
<br/>
<div id="address_detail" style="border: 1px solid; margin: 15px 35px; padding: 10px; margin-left: 36%; display: none;">
</div>


<script type='text/javascript'>
	function edit_link_handlers()
	{
		$('#address_detail a').unbind('click');
		$('#address_detail a').click(function() {
			$('#address_detail').load($(this).attr('href'),
									  edit_link_handlers);
			return false;
		});

		//$('form.editAddress').unbind('submit');
	    //$('form.editAddress').submit(function() {
		$('#address_detail form').unbind('submit');
	    $('#address_detail form').submit(function() {
		    $.post($(this).attr('action'),
				   $(this).serialize(),
				   function(data) {
				   		if (data.valid == true)
				   		{
					   		$('select.compactaddresswidget option:selected').val(data.label);
					   		$('select.compactaddresswidget option:selected').text(data.label);
							$('select.compactaddresswidget').change();
				   		}
				   		else
				   		{
				   			$('#address_detail').html(data.html);
				   			edit_link_handlers();
				   		}
				   });
			return false;
		    
	    });
	}
	
	$().ready(function() {
		$('select.compactaddresswidget').change(function() {
				$('#address_detail').load('{% url profile_address_detail user.username %}' + $(this).val() + '/',
										  edit_link_handlers);
				   
				$('#address_detail').show();
		});
		$('select.compactaddresswidget').change();
	});
</script>