{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}

{% if is_me %}
	{% if address.pk %}
		<div style="float: right;">
    		<a href="{% url profile_edit_address other_user.username address.pk %}">{% trans "Edit" %}</a>
		</div>
	{% endif %}
{% endif %}

<div class="address-line">{{ address.street }}</div>
<div class="address-line">{{ address.city }}, {{ address.province }}</div>
<div class="address-line">{{ address.postal_code }}</div>
<div class="address-line">{{ address.country }}</div>
<div id="address-line-pk" style="display: none;">{{ address.pk }}</div>