{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load uni_form i18n %}

<div class="editAddressErrors" id="edit-address-errors-{{ address.label }}"></div>

<form class="uniForm editAddress" id="edit-address-{{ address.label }}" method="POST" action="{% url profile_edit_address other_user.username address.pk %}" onsubmit="return false;">
    <fieldset class="inlineLabels" style="margin-right: 1px;">  
        {{ form|as_uni_form }}
        <div class="form_block">
        <input type="hidden" name="prevLabel" value="{{ address.label }}" />
        <input type="hidden" name="action" value="update" />
        <input type="submit" class="editAddressSubmit" id="edit-address-submit-{{ address.label }}" value="{% trans 'update' %}"/>
        </div>
    </fieldset>
</form>

<form class="uniForm deleteAddress" id="delete-address-{{ address.label }}" method="POST" action="{% url profile_delete_address other_user.username address.pk %}" onsubmit="return false;">
    <input type="submit" class="deleteAddressSubmit" id="delete-address-submit-{{ address.label }}" value="{% trans 'delete' %}"/>
</form>