{% extends 'profiles/base.html' %}

{% load i18n %}
{% load creditcard_tags %}

{% block head_title %}Payment preview{% endblock %}

{% block body %}

<br/><br/>

<h1>Membership payment preview</h1>
	
<h2>Personal Details</h2>

<style>
	table
	{
		border: 0px;
	}
	td.leftcell
	{
		text-align: right;
		font-weight: bold;
		border-right: 1px solid #d0d0d0;
	}
	td
	{
		border: 1px solid #d0d0d0;
		border-left: 0px;
		border-right: 0px;
		padding: 5px 15px;
	}
</style>

<table>

	<tr>
		<td class='leftcell'>Payment details</td>
		<td>{% get_product_info form.products.data %} </td>
	</tr>
	
	<tr>
		<td class='leftcell'>Credit card type</td>
		<td>{{ form.cc_type.data }}</td>
	</tr>
	<tr>
		<td class='leftcell'>Credit card number</td>
		<td>**** **** **** {{ form.cc_number.data|slice:"12:" }}</td>
	</tr>
	<tr>
		<td class='leftcell'>Credit card expiry</td>
		<td>{{ form.cc_expiry.data }}</td>
	</tr>
	<tr>
		<td class='leftcell'>Name on credit card</td>
		<td>{{ form.billing_name.data }}</td>
	</tr>
	{% comment %}
	<tr>
		<td class='leftcell'>Amount</td>
		<td>
			{% for p in form.cleaned_data.products %}
				{% get_product_info p %} <br/>
			{% endfor %}
			<strong>Total: ${{ form.cleaned_data.total_cost|floatformat:2 }}</strong>
		</td>
	</tr>
	{% endcomment %}
</table>

<form action="" method="post">
{% for field in form %}{{ field.as_hidden }}
{% endfor %}
<input type="hidden" name="{{ stage_field }}" value="2" />
<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
<p>
	<input type="button" value="Go back" onClick="history.go(-1);" />
	&nbsp;&nbsp;
	<input type="submit" value="Submit" />
</p>
</form>
<br/>




{% endblock %}