{% extends "profiles/base.html" %}

{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load avatar_tags %}
{% load uni_form_tags %}
{% load profile_tags %}
{% load group_topics_tags %}
{% load base_groups_tags %}

{% block head_title %}{% blocktrans with other_user.visible_name as username %}Profile for {{ username }}{% endblocktrans %}{% endblock %}

{% block body %}
	<style>
	  a img {
	    border: 0;
	  }
	</style>

	<br/>
    <h1 style="text-align: center;">{{ other_user.visible_name }}</h1>

    {% if is_me or has_visibility or other_user.is_staff %}
        <div style="text-align: center; position: relative; top: -5px;">
            <a href="mailto:{{other_user.email}}">{{other_user.email}}</a>
        </div>
    {% endif %}
    
    <div id="profile_avatar" style="text-align: center;">
    	<a href="{% avatar_url other_user 500 %}" id="avatar">
        	{% avatar other_user 160 %}
        </a>
    </div>
    <br/>
    
    {% if not is_me %}
		{% if is_me or has_visibility %}
	    	<div style="text-align: center;">
				
				
				{#<a href="{% url messages_compose_to other_user.username %}">Send a message to {{ other_user.visible_name}}</a>#}
				
				<form method="GET" action="{% url messages_compose_to other_user.username %}">
    	                <input type="submit" value="{% trans "Send a message to " %}{{ other_user.visible_name}}"/>
	            </form>
	            
	            
	            {% if is_friend %}
<br/>
    	            <form method="POST" action="">
    	                <input type="hidden" name="action" value="remove" /><input type="submit" value="{% trans "Remove from friends" %}"/>
    	            </form>
	            {% endif %}
	            
			</div>
			<br/>
		{% endif %}
    {% endif %}
    
    
    {% if other_user.get_profile.about %}
        <p class="profile_info profile_about_p">
            {{ other_user.get_profile.about }}
        </p>
    {% endif %}
    
    
{#start main content info table#}
<h2>{% trans "About" %}</h2>
    
    

        
	{% if is_me or has_visibility %}

		{% include "profiles/profile_info.html" %}        
	{# end of, is_me or is friend #}
    {% else %}
    
    {# see this if it's not you and not a friend #}
<table class="standard standard-right search-form">
    <tbody>

        {% if other_user.get_profile.get_chapter %}
                <tr>
                        <th>&nbsp;</th>
                        <td>
                                {% get_membership other_user.get_profile.get_chapter other_user as title %}
                                {% if title.is_admin %}
                                        <strong>{{title.admin_title}}, {{ other_user.get_profile.get_chapter.name }}</strong>
                                {% else %}
                                        {{ other_user.get_profile.get_chapter.name }}
                                {% endif %}
                        </td>
                </tr>
        {% endif %}


<tr>
            <th>Profile Info</th>
            <td>
            
                <p class="profile_info">
            	    Account created {{ other_user.date_joined|timesince }} ago
            		<br/>
            		Last signed in {{ other_user.get_profile.current_login|timesince }} ago
            		<br/>
            		{{ other_user.get_profile.login_count }} logins
            		<br/>
            		<a href="{% url topic_list_by_user other_user %}">
            			{% num_topics_for_user other_user %} posts/replies
            		</a>
            	</p>
            
            </td>
        </tr>
        
        
        
    </tbody>
</table>
    
    
    
    
        
	{% endif %}
        
    	{% comment %}
    	eh. maybe. maaaaybe.
            <p>
                <a href="{% url tweet_followers other_user %}">{% trans "Followers" %}</a>: {{ other_user.followers.count|default:"0" }}
                <a href="{% url tweet_following other_user %}">{% trans "Following" %}</a>: {{ other_user.followed.count|default:"0" }}
            </p>

            {% if not is_me %}

            {# @@@ this could be done with ajax, or at the very least turned into an inclusion tag #}
            <div>
                <form method="POST" action="{% url toggle_follow other_user %}">
                    {% if is_following %}
                        <input type="hidden" name="action" value="unfollow" /><input type="submit" value="{% trans "unfollow" %}"/>
                    {% else %}
                        <input type="hidden" name="action" value="follow" /><input type="submit" value="{% trans "follow tweets" %}"/>
                    {% endif %}
                </form>
            </div>
		{% endcomment %}
		                
	{# friend handling used to be here; moving to sidebar #}
    
    {% if perms.profiles %}
        <h2>{% trans "myEWB History" %}</h2>
        {#we'll add a neat-o search &amp; sort feature and stuff soon#}
        <table id="user-history" class="standard">
            <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Group" %}</th>
                <th>{% trans "Is Admin?" %}</th>
                <th>{% trans "Admin Title" %}</th>
                <th>{% trans "Notes" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in other_user.group_records.all %}
            <tr style="{% cycle 'background: #ffffff;' 'background: #eee;' %}">
                <td>{{ record.datetime|date:"d M Y" }}</td>
                <td>{{ record.group }}</td>
                <td>
                    {% if record.is_admin %}
                        {% trans "Yes" %}
                    {% else %}
                        {% trans "No" %}
                    {% endif %}
                </td>
                <td>
                    {% if record.admin_title %}
                        {{ record.admin_title }}
                    {% comment %}
                    {% else %}
                        {% trans "N/A" %}
                    {% endcomment %}
                    {% endif %}
                </td>
                <td>
                    {# {% ifequal record.datetime|date:"d M Y" record.joined|date:"d M Y" %} #}
                    {% if record.membership_start %}
                        {% trans "joined" %}
                    {% endif %}
                    {# {% endifequal %} #}
                    {% if record.membership_end %}
                        {% trans "left" %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
        {% if other_user.pending_memberships.all %}
            <h2>{% trans "Pending Memberships" %}</h2>
            <table id="pending-memberships">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Group" %}</th>
                        <th>{% trans "Status" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for pending_membership in other_user.pending_memberships.all %}
                    <tr>
                        <td>{{ pending_membership.request_date|date:"d M Y" }}</td>
                        <td>{{ pending_membership.group }}</td>
                        <td>
                            {% if pending_membership.is_invited %}
                                Invited
                            {% else %}
                                Requested
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}{# end of perms.profiles block for user history#}
        
{% endblock %}

{% block toolbar_left %}
    {# TODO: not really "is_me", admins should have some of these options too #}
    {% if is_me %}
        <div class="toolbarheader bkgd" id="box-my-profile-actions">{% trans "Actions" %}</div>
        <div class="toolbarcontent">
            <a href="{% url profile_edit %}" rel="facebox">update profile info</a><br/>
            <a href="{% url profile_settings other_user.username %}">update settings</a><br/>
            <a href="{% url acct_passwd %}">change password</a><br/>
            <a href="{% url avatar_change %}">update picture</a><br/>
            <br/>
            <a href="{% url account_delete other_user %}">delete my account</a><br/>
            <br/>
            
	        {% if renew %}
	            <a href="{% url profile_pay_membership other_user %}">Pay my membership fee</a><br/>
	        {% endif %}
        </div>
    {% else %}
        {# looking at another profile. #}
        
        {#friendship handling stuff here #}
        
        
        
        {% if user.is_authenticated %}
    		<div class="toolbarheader bkgd" id="box-friends-actions">{% trans "Friends" %}</div>
            <div class="toolbarcontent">
    
    	    {% if is_friend %}
    	        <p>
    	        	{% blocktrans %}You are friends with{% endblocktrans %} {{ other_user.visible_name }}.
    	            <form method="GET" action="{% url messages_compose_to other_user.username %}">
    	                <input type="submit" value="{% trans "Send a message!" %}"/>
    	            </form>
    	        </p>
    	    {% else %}
    	        {% if previous_invitations_from %}
    	            <p>{{ other_user.visible_name }} {% blocktrans %}wants to be friends.{% endblocktrans %}</p>
    	            <p>If you accept this invitation, {{ other_user.visible_name }} will be able to see your contact information and send you messages through myEWB.</p>
    	            {% for invitation in previous_invitations_from %}
    	            	{% comment %}
    	            	I've disabled the message on the request form, so no need to display it here either.
    	            	We can bring it back when we've had time to plan out the UI.
    	            	
    	                <div class="friendship_request">
    	                    <p>From <a href="{% url profile_detail invitation.from_user.username %}">{{ invitation.from_user }}</a> ({{ invitation.sent }}):</p>
    	                    <p class="invitation_message">{{ invitation.message }}</p>
    	                    <form method="post" action="">
    	                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
    	                        <input type="hidden" name="action" value="accept"/>
    	                        <input type="submit" value="{% trans 'accept' %}" />
    	                    </form>
    	                    <form method="post" action="">
    	                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
    	                        <input type="hidden" name="action" value="decline"/>
    	                        <input type="submit" value="{% trans 'decline' %}" />
    	                    </form>
    	                </div>
    	                {% endcomment %}
    
                        <form method="post" action="" style="float: left;">
                            <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                            <input type="hidden" name="action" value="accept"/>
                            <input type="submit" value="{% trans 'accept' %}" />
                        </form>
                        <form method="post" action="">
                            <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                            <input type="hidden" name="action" value="decline"/>
                            <input type="submit" value="{% trans 'decline' %}" style="margin-left: 10px;"/>
                        </form>
    
    	            {% endfor %}
    	        {% else %}
    	            {% if previous_invitations_to %}
    	                <p>{{ other_user.visible_name }} {% trans "has not yet responded to your friendship request" %}.</p>
    	            {% else %}
    	            	<p>If you know {{ other_user.visible_name }}, click the button below to be able to send messages to each other through myEWB and see each others' contact information.</p>
    	                <form class="uniForm" method="POST" action="">
    	                    <fieldset class="inlineLabels">  
    	                        {#{{ invite_form|as_uni_form }} #}
    	                        <div class="form_block">
    	                            <input type="hidden" name="to_user" value="{{other_user.username}}" />
    	                            <input type="hidden" name="action" value="invite" />
    	                            <input type="submit" value="{% trans "send friendship request" %}"/>
    	                        </div>
    	                    </fieldset>
    	                </form>
    	            {% endif %} {# previous_invitations_to #}
    	        {% endif %} {# previous_invitations_from #}
    	        
    	    {% endif %} {# is_friend #}
        	</div>
		{% endif %}  {# is authenticated #}
        
        {# exec / admin actions #}
        {% if perms.profiles or is_exec_over %}
            <div class="toolbarheader bkgd" id="box-profile-actions">{% trans "Exec Actions" %}</div>
            <div class="toolbarcontent">
    			    <a href="{% url profile_pay_membership other_user %}" id="manual_update">Make regular member</a><br/>
    			    (only click if they have paid their fee in cash)
            </div>
            
        {% endif %}
        
        {# and various admin options #}
       	{% if user.is_staff %}

               <div class="toolbarheader bkgd" id="box-profile-actions">{% trans "Admin Actions" %}</div>
               <div class="toolbarcontent">
           	    {# intentional use of is_staff... #}
           	    <a href="{% url profile_impersonate other_user %}">Impersonate user</a>
           	    <br/><br/>
	            <a href="{% url account_delete other_user %}">Delete user</a><br/>

               </div>

       	
       	{% endif %}
        	
    {% endif %}
    
{% endblock %}

{% block toolbar_right %}
	{% include "profiles/profile_right_panel.html" %}
{% endblock %}

{% block extra_body %}
	{% show_student_records_js other_user is_me %}
	{% show_work_records_js other_user is_me %}
	
	{% if messages %}
		{# looks for messages that are network suggestions only #}
		<script type="text/javascript">
            $(function(){
                $('.network-suggestion').click(function(){
                        var postData = {};
                        if ($(this).hasClass('join')){
                            postData['user'] = {{ user.id }};
                            postData['is_admin'] = false;
                            postData['admin_title'] = '';
                        }
                        var parentDiv = $(this).parents('div:first');
                        $.post($(this).attr('href'), postData, function(data){
                            parentDiv.html(data);
                            });
                        return false;
                    });
            });
		</script>
	{% endif %}
    
	<link type="text/css" href="{{STATIC_URL}}css/colorbox.css" rel="stylesheet" />
	<script type="text/javascript" src="{{STATIC_URL}}js/colorbox.js"></script>
    <script type="text/javascript">
	    $(document).ready(function() {
			$('#avatar').colorbox({transition: "elastic", width:"80%", height:"80%"});

	    });
		$('#manual_update').click(function() {
			var confirmed = confirm("Only continue if this person has paid their membership fees in person - this will renew their membership by one year.");
			if (confirmed)
				return true;
			else
				return false;
		});
    </script>
{% endblock %}

