{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load avatar_tags %}
{% load profile_tags %}

{# should probably pull this CSS stuff out into the css file... #}
<div class="toolbarheader bkgd">{% trans "Find Users" %}</div>
<div class="toolbarcontent">
	{% show_profile_search "" %}
</div>

{% if is_me or is_friend or perms.profiles %}
    {% if other_user.basegroup_set.all %}
		<div class="toolbarheader bkgd">
    	    {% if is_me %}
                {% trans "My Groups" %}
            {% else %}
    	        {% trans "Groups" %}
            {% endif %}
        </div>
		<div class="toolbarcontent">
			<p>
				<strong>Chapters</strong><br/>
            	{% for group in other_user.get_networks %}
	                <a href="{% url group_detail group.slug %}">{{ group.name }}</a><br/>
            	{% endfor %}
            </p>
			<p>
				<strong>Mailing Lists</strong><br/>
            	{% for group in other_user.get_communities %}
	                <a href="{% url group_detail group.slug %}">{{ group.name }}</a><br/>
            	{% endfor %}
            </p>
        </div>
    {% endif %}
    
    {% if other_friends %}
		<div class="toolbarheader bkgd">{% trans "Friends" %}</div>
		<div class="toolbarcontent">
			{# TODO: limit number shown here, maybe add a "see more" page #}
	        {% for friendship in other_friends %}
	         <div style="float: left; width: 15px; height: 15px;">
	             {% avatar friendship.friend 15 %}
	         </div>
	         <div style="margin-left: 18px; height: 18px;">
	             <a href="{% url profile_detail friendship.friend.username %}">{{ friendship.friend.visible_name }}</a>
	         </div>
	        {% endfor %}
	    </div>
    {% endif %}
{% endif %}

