{% extends "profiles/base.html" %}

{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load avatar_tags %}
{% load uni_form %}
{% load profile_tags %}
{% load group_topics_tags %}

{% block head_title %}{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>

{# TEMPORARY CSS - WE WANT TO REPLACE IT #}
<link type="text/css" href="http://jqueryui.com/themes/base/ui.all.css" rel="stylesheet" />

{% endblock %}

{% block body %}
	<br/>
    <h1 style="text-align: center;">{{ other_user.visible_name }}</h1>

    {% if is_me or is_friend or perms.profiles %}
        <div style="text-align: center; position: relative; top: -15px;">
            <a href="mailto:{{other_user.email}}">{{other_user.email}}</a>
        </div>
    {% endif %}
    
    <div id="profile_avatar" style="text-align: center;">
        {% avatar other_user 80 %}
    </div>
    <br/>
    
    {% if not is_me %}
	    <div style="text-align: center;">
			<a href="{% url messages_compose_to other_user.username %}">Send a message to {{ other_user.visible_name}}</a>
		</div>
		<br/>
    {% endif %}
    
    <p class="profile_info" style="text-align: center;">
	    Account created {{ other_user.date_joined|timesince }} ago
		<br/>
		Last signed in {{ other_user.get_profile.current_login|timesince }} ago
		<br/>
		{{ other_user.get_profile.login_count }} logins
		<br/>
		<a href="{% url topic_list_by_user other_user %}">
			{% num_topics_for_user other_user %} posts/replies
		</a>
	</p>

    {% if other_user.get_profile.about %}
        <h2>{% trans "About" %}</h2>
        <p class="profile_info">
            {{ other_user.get_profile.about }}
        </p>
    {% endif %}
        
	{% if is_me or is_friend or perms.profiles %}
		{% if regular %}regular member, expiring on {{ other_user.get_profile.membership_expiry }}{% endif %}
		
		<h2>{% trans "Addresses" %}</h2>
		<div id="addresses">
		    <ul>
		    {% for address in other_user.get_profile.addresses.all %}
		        <li>
		            <a href="{% url profile_address_detail other_user.username address.label %}">
		                <span>{{ address.label }}</span>
		            </a>
		        </li>
		    {% endfor %}
    		    <li>
    		        <a href="{% url profile_new_address other_user.username %}">
    		            <span><b>+</b></span>
    		        </a>
    		    </li>
		    </ul>
		</div>
		
		{% comment %}
        <h2>{% trans "Contact Information" %}</h2>
		{% if other_user.get_profile.street_address %}
			<div style="width: 33%; float: left; text-align: center; text-align: right;">
		        <b>{% trans "Street address" %}</b>
			</div>
			<div style="margin-left: 33%; padding-left: 10px;">
			    {{ other_user.get_profile.street_address }}<br/>
			    
    			{% if other_user.get_profile.street_address_two %}
    			    {{ other_user.get_profile.street_address_two }}<br/>
    			{% endif %}
    			{% if other_user.get_profile.location %}
    			    {{ other_user.get_profile.location }}<br/>
    			{% endif %}
		        {% if other_user.get_profile.postal_code %}
		            {{ other_user.get_profile.postal_code }}<br/>
		        {% endif %}
			</div>
			<br/>
		{% endif %}
		{% endcomment %}
		
		<div style="width: 33%; float: left; text-align: center; text-align: right;">
	        <b>{% trans "Email Addresses" %}</b>
		</div>
		<div style="margin-left: 33%; padding-left: 10px;">
		    {{ user.email }}
			{% for address in other_user.get_profile.email_addresses %}
				<br/>{{ address.email }}
			{% endfor %}

			{% if is_me %}
			    <br/>
	            (<a href="{% url acct_email %}">{% trans "edit emails" %}</a>)<br/>
	        {% else %}
	        	{% if perms.profiles %}
				    <br/>
		            (<a href="{% url acct_email_user other_user.username %}">{% trans "edit emails" %}</a>)<br/>
	        	{% endif %}
			{% endif %}
		</div>
		<br/>
	
		{% if other_user.get_profile.website %}
			<div style="width: 33%; float: left; text-align: center; text-align: right;">
		        <b>{% trans "Website" %}</b>
			</div>
			<div style="margin-left: 33%; padding-left: 10px;">
                <a href="{{ other_user.get_profile.website }}">{{ other_user.get_profile.website }}</a>
            </div>
            <br/>
        {% endif %}
                
        <h2>{% trans "School/Work History" %}</h2>
		<div style="width: 33%; float: left; text-align: center; text-align: right;">
	        <b>{% trans "School History" %}</b>
		</div>
		<div style="margin-left: 33%; padding-left: 10px;">
			{% show_student_records other_user is_me %}
			{% if is_me %}
			    <a href="{% url new_student_record other_user.username %}">Add a school</a>
			{% endif %}
        </div>
        <br/>
	
		<div style="width: 33%; float: left; text-align: center; text-align: right;">
	        <b>{% trans "Work History" %}</b>
		</div>
		<div style="margin-left: 33%; padding-left: 10px;">
			{% show_work_records other_user is_me %}
			{% if is_me %}
			    <a href="{% url new_work_record other_user.username %}">Add a workplace</a>
			{% endif %}
        </div>
        <br/>
	{% endif %}
        
    	{% comment %}
    	eh. maybe. maaaaybe.
            <p>
                <a href="{% url tweet_followers other_user %}">{% trans "Followers" %}</a>: {{ other_user.followers.count|default:"0" }}
                <a href="{% url tweet_following other_user %}">{% trans "Following" %}</a>: {{ other_user.followed.count|default:"0" }}
            </p>

            {% if not is_me %}

            {# @@@ this could be done with ajax, or at the very least turned into an inclusion tag #}
            <div>
                <form method="POST" action="{% url toggle_follow other_user %}">
                    {% if is_following %}
                        <input type="hidden" name="action" value="unfollow" /><input type="submit" value="{% trans "unfollow" %}"/>
                    {% else %}
                        <input type="hidden" name="action" value="follow" /><input type="submit" value="{% trans "follow tweets" %}"/>
                    {% endif %}
                </form>
            </div>
		{% endcomment %}
		                
	{% if not is_me and user.is_authenticated %}
		{# is there a better section heading than "sharing"? =) #}
		<h2>{% trans "Sharing" %}</h2>
	    {% if is_friend %}
	        <p>
	        	{% blocktrans %}You are sharing contact information with{% endblocktrans %} {{ other_user.visible_name }}.
	            <form method="POST" action="">
	                <input type="hidden" name="action" value="remove" /><input type="submit" value="{% trans "stop sharing" %}"/>
	            </form>
	        </p>
	    {% else %}
	        {% if previous_invitations_from %}
	            <p>{{ other_user.visible_name }} {% blocktrans %}has requested to share contact information with you.{% endblocktrans %}</p>
	            {% for invitation in previous_invitations_from %}
	            	{% comment %}
	            	I've disabled the message on the request form, so no need to display it here either.
	            	We can bring it back when we've had time to plan out the UI.
	            	
	                <div class="friendship_request">
	                    <p>From <a href="{% url profile_detail invitation.from_user.username %}">{{ invitation.from_user }}</a> ({{ invitation.sent }}):</p>
	                    <p class="invitation_message">{{ invitation.message }}</p>
	                    <form method="post" action="">
	                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
	                        <input type="hidden" name="action" value="accept"/>
	                        <input type="submit" value="{% trans 'accept' %}" />
	                    </form>
	                    <form method="post" action="">
	                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
	                        <input type="hidden" name="action" value="decline"/>
	                        <input type="submit" value="{% trans 'decline' %}" />
	                    </form>
	                </div>
	                {% endcomment %}

                    <form method="post" action="" style="float: left;">
                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                        <input type="hidden" name="action" value="accept"/>
                        <input type="submit" value="{% trans 'accept' %}" />
                    </form>
                    <form method="post" action="">
                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                        <input type="hidden" name="action" value="decline"/>
                        <input type="submit" value="{% trans 'decline' %}" style="margin-left: 10px;"/>
                    </form>

	            {% endfor %}
	        {% else %}
	            {% if previous_invitations_to %}
	                <p>{% trans "You have requested to share contact information." %}</p>
	            {% else %}
	                <form class="uniForm" method="POST" action="">
	                    <fieldset class="inlineLabels">  
	                        {#{{ invite_form|as_uni_form }} #}
	                        <div class="form_block">
	                            You can request to share contact information.  If {{ other_user.visible_name }} agrees,
	                            you will be able to see each others' full profiles (email address, phone number, etc).<br/>
	                            <input type="hidden" name="to_user" value="{{other_user.username}}" />
	                            <input type="hidden" name="action" value="invite" />
	                            <input type="submit" value="{% trans "send request" %}"/>
	                        </div>
	                    </fieldset>
	                </form>
	            {% endif %} {# previous_invitations_to #}
	        {% endif %} {# previous_invitations_from #}
	    {% endif %} {# is_friend #}
	{% endif %}  {# not is_me #}
    
    {% if perms.profiles %}
        <h2>{% trans "myEWB History" %}</h2>
        we'll add a neat-o search &amp; sort feature and stuff soon
        <table id="user-history">
            <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Group" %}</th>
                <th>{% trans "Is Admin?" %}</th>
                <th>{% trans "Admin Title" %}</th>
                <th>{% trans "Notes" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in other_user.group_records.all %}
            <tr style="{% cycle 'background: #ffffff;' 'background: #d0d0d0;' %}">
                <td>{{ record.datetime|date:"d M Y" }}</td>
                <td>{{ record.group }}</td>
                <td>
                    {% if record.is_admin %}
                        {% trans "Yes" %}
                    {% else %}
                        {% trans "No" %}
                    {% endif %}
                </td>
                <td>
                    {% if record.admin_title %}
                        {{ record.admin_title }}
                    {% else %}
                        {% trans "N/A" %}
                    {% endif %}
                </td>
                <td>
                    {% ifequal record.datetime|date:"d M Y" record.joined|date:"d M Y" %}
                        {% trans "joined" %}
                    {% endifequal %}
                    {% if record.membership_ended %}
                        {% trans "left" %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
        {% if other_user.pending_memberships.all %}
            <h2>{% trans "Pending Memberships" %}</h2>
            <table id="pending-memberships">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Group" %}</th>
                        <th>{% trans "Status" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for pending_membership in other_user.pending_memberships.all %}
                    <tr>
                        <td>{{ pending_membership.request_date|date:"d M Y" }}</td>
                        <td>{{ pending_membership.group }}</td>
                        <td>
                            {% if pending_membership.is_invited %}
                                Invited
                            {% else %}
                                Requested
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}{# end of perms.profiles block for user history#}
        
{% endblock %}

{% block toolbar_left %}
    {# TODO: not really "is_me", admins should have some of these options too #}
    {% if is_me %}
        <div class="toolbarheader bkgd">{% trans "Actions" %}</div>
        <div class="toolbarcontent">
            <a href="{% url profile_edit %}" rel="facebox">update profile info</a><br/>
            change password<br/>
            <a href="{% url avatar_change %}">update picture</a><br/>
            <br/>
            <a href="{% url account_delete other_user %}">delete my account</a><br/>
            <br/>
            
	        {% if renew %}
	            <a href="{% url profile_pay_membership other_user %}">Pay my membership fee</a><br/>
	        {% endif %}
        </div>
    {% else %}
        {% if perms.profiles %}
            <div class="toolbarheader bkgd">{% trans "Actions" %}</div>
            <div class="toolbarcontent">
            	{# TODO: is chapter exec?? #}
            	{% if renew %}
    			    <a href="{% url profile_pay_membership other_user %}">Make regular member</a><br/>
    			    (only click if they have paid their fee in cash)
    			    <br/><br/>
            	{% endif %}
            	
            	{% if user.is_staff %}
            	    {# intentional use of is_staff... #}
            	    <a href="{% url profile_impersonate other_user %}">Impersonate</a>
            	    <br/><br/>
		            <a href="{% url account_delete other_user %}">delete</a><br/>
		            <br/>
            	{% endif %}
            </div>
        {% endif %}
    {% endif %}
    
{% endblock %}

{% block toolbar_right %}
	{% include "profiles/profile_right_panel.html" %}
{% endblock %}

{% block extra_body %}
	{% show_student_records_js other_user is_me %}
	{% show_work_records_js other_user is_me %}
	
	<script type="text/javascript">
	$(document).ready(function(){
        var $addressTabs = $("#addresses").tabs({
            load: function(event, ui) {
                $('a', ui.panel).click(function() {
                    $(ui.panel).load(this.href);
                    
                    $('.editAddressSubmit').click(function() {
                        var form = $(this).parents('form').get(0);
                        var label = $('#id_label').value;
                        editUrl = '{% url profile_edit_address other_user.username "label" %}';
                        editUrl = editUrl.replace("label", label);                
                        $.ajax({
                          type: 'POST',
                          url: editUrl,
                          data: $('.edit-address').serialize(),
                          success: function(data) {
                              if(data.created == true) {
                                  viewUrl = '{% url profile_address_detail other_user.username "label" %}';
                                  viewUrl = viewUrl.replace("label", data.label);
                                  $(ui.panel).load(viewUrl);
                              } else {
                                  $(ui.panel).html(data.rendered_form);
                              }
                          },
                          dataType: "json"
                        });
                    });
                    
                    return false;
                });
                
                $('.newAddressSubmit').click(function() {                    
                    // submit address
                    $.ajax({
                      type: 'POST',
                      url: "{% url profile_new_address other_user.username %}",
                      data: $('#new-address').serialize(),
                      success: function(data) {
                          if(data.created == true) {
                              var length = $addressTabs.tabs('length');
                              tempUrl = '{% url profile_address_detail other_user.username "label" %}';
                              tempUrl = tempUrl.replace("label", data.label);
                              $addressTabs.tabs('add', tempUrl, data.label, length - 1);
                          } else {
                              $(ui.panel).html(data.rendered_form);
                          }
                      },
                      dataType: "json"
                    });                    
                    return false;
                });
            },
            
            add: function(event, ui) {
                $addressTabs.tabs('select', '#' + ui.panel.id);
            }        
        });
    });
	</script>

	{% if messages %}
		{# looks for messages that are network suggestions only #}
		<script type="text/javascript">
            $(function(){
                $('.network-suggestion').click(function(){
                        var postData = {};
                        if ($(this).hasClass('join')){
                            postData['user'] = {{ user.id }};
                            postData['is_admin'] = false;
                            postData['admin_title'] = '';
                        }
                        var parentDiv = $(this).parents('div:first');
                        $.post($(this).attr('href'), postData, function(data){
                            parentDiv.html(data);
                            });
                        return false;
                    });
            });
		</script>
	{% endif %}
    
{% endblock %}

