{% extends "profiles/base.html" %}

{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load avatar_tags %}
{% load uni_form %}
{% load profile_tags %}
{% load group_topics_tags %}

{% block head_title %}{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}

{% block subnav %}
{% if user.is_authenticated %}
    <ul class="subnav green">
        <li><a href="{% url profile_detail user.username %} ">{% trans "Your Profile" %}</a></li>
        <li><a href="{% url profile_list %} ">{% trans "All Profiles" %}</a></li>
    </ul>
{% endif %}
{% endblock %}

{% block body %}
    <div class="right_panel">
        {% include "profiles/profile_right_panel.html" %}
    </div>
    
    <div class="left_panel">
    	<br/>
        <h1 style="text-align: center;">{% if other_user.get_profile.name %}{{ other_user.get_profile.name }}{% else %}{{other_user.email}}{% endif %}</h1>
        
        <div id="profile_avatar" style="text-align: center;">
            <div>{% avatar other_user 80 %}</div>
            {% if is_me %}
            <a href="{% url avatar_change %}" id="avatar_replace">(replace)</a>
            {% endif %}
        </div>
        <br/>
        
        <div class="profile_info" style="padding-left: 40%;">
            {% if other_user.get_profile.about %}<p><b>{% trans "About" %}</b>: {{ other_user.get_profile.about }}</p>{% endif %}

			<ul>
				<li>
					Account created {{ other_user.date_joined|timesince }} ago
				</li>
				<li>
					{{ other_user.get_profile.login_count }} logins
				</li>
				<li>
					Last signed in {{ other_user.get_profile.current_login|timesince }} ago
				</li>
				<li>
					<a href="{% url topic_list_by_user other_user %}">
						{% num_topics_for_user other_user %} posts/replies
					</a>
				</li>
			</ul>

			{% if is_me or is_friend or user.is_staff %}
				{% if regular %}<p>(regular member, expiring on {{ other_user.get_profile.membership_expiry }})</p>{% endif %}
				{% if other_user.get_profile.street_address %}<p><b>{% trans "Street address" %}</b>:</p> <p>{{ other_user.get_profile.street_address }}</p>{% endif %}
				{% if other_user.get_profile.street_address_two %}<p>{{ other_user.get_profile.street_address_two }}</p>{% endif %}
				{% if other_user.get_profile.location %}<p>{{ other_user.get_profile.location }}</p>{% endif %}
				{% if other_user.get_profile.postal_code %}<p>{{ other_user.get_profile.postal_code }}</p>{% endif %}
				
				{% if other_user.get_profile.email_addresses.count %}
					<p>
						<b>{% trans "Email addresses" %}</b>: {% if is_me %} (<a href="{% url acct_email %}">{% trans "edit" %}</a>) {% endif %}
					</p>
					{% for address in other_user.get_profile.email_addresses %}
						<p>{{ address.email }}</p>
					{% endfor %}
				{% else %} 
					<p><a href="{% url acct_email %}">{% trans "Add email addresses" %}</a></p>
				{% endif %}
			
				{% if other_user.get_profile.website %}<p><b>{% trans "Website" %}</b>: <a href="{{ other_user.get_profile.website }}">{{ other_user.get_profile.website }}</a></p>{% endif %}
				
			{% else %}
				Full contact information is only available for your friends. See below if you wish to add this user as a friend.<br/><br/>
				
			{% endif %}
        </div>

		{% if is_me or is_friend or user.is_staff %}
			<div class="student_records">
				<p><b>Student records:</b></p>
				{% show_student_records other_user is_me %}
			</div>
		
			{% if is_me %}
				<a href="{% url new_student_record other_user.username %}">Add student record</a>
			{% endif %}
		
			<div class="work_records">
				<p><b>Work records:</b></p>
				{% show_work_records other_user is_me %}
			</div>
		
			{% if is_me %}
				<a href="{% url new_work_record other_user.username %}">Add work record</a>
			{% endif %}
		{% endif %}
        
        {% if user.is_authenticated %}
        	{% comment %}
            <p>
                <a href="{% url tweet_followers other_user %}">{% trans "Followers" %}</a>: {{ other_user.followers.count|default:"0" }}
                <a href="{% url tweet_following other_user %}">{% trans "Following" %}</a>: {{ other_user.followed.count|default:"0" }}
            </p>
            {% endcomment %}

            {% if is_me %}
                <p><a href="{% url profile_edit %}" rel="facebox">Edit profile</a></p>

            {% comment %}            
            {% if is_me %}
                <div class="form-toggle">
                <p><span id="edit-profile-toggle">{% trans "Edit profile" %}</span></p>
                
                <form class="uniForm" id="edit-profile" method="POST" action="" style="display: none;">
                    <fieldset class="inlineLabels">
                        {{ profile_form|as_uni_form }}
                        <div class="form_block">
                        <input type="hidden" name="action" value="update" />
                        <input type="submit" value="{% trans "update" %}"/>
                        </div>
                    </fieldset>
                </form>
                </div>
            {% endcomment %}
            {% else %}
                {# @@@ this could be done with ajax, or at the very least turned into an inclusion tag #}
                {% comment %}
                <div>
                    <form method="POST" action="{% url toggle_follow other_user %}">
                        {% if is_following %}
                            <input type="hidden" name="action" value="unfollow" /><input type="submit" value="{% trans "unfollow" %}"/>
                        {% else %}
                            <input type="hidden" name="action" value="follow" /><input type="submit" value="{% trans "follow tweets" %}"/>
                        {% endif %}
                    </form>
                </div>
                {% endcomment %}
                
                {# @@@ this should be an inclusion tag #}
                {% if is_friend %}
                    <p>{% blocktrans %}You are friends with {{ other_user }}.{% endblocktrans %} <a href="{% url messages_compose %}{{ other_user }}/">{% trans "Send a message" %}</a>.</p>
                    <div>
                        <form method="POST" action="">
                            <input type="hidden" name="action" value="remove" /><input type="submit" value="{% trans "remove from friends" %}"/>
                        </form>
                    </div>
                {% else %}
                    {% if previous_invitations_from %}
                        <p>{% blocktrans %}{{ other_user }} has requested friendship.{% endblocktrans %}</p>
                        {% for invitation in previous_invitations_from %}
                            <div class="friendship_request">
                                <p>From <a href="{% url profile_detail invitation.from_user.username %}">{{ invitation.from_user }}</a> ({{ invitation.sent }}):</p>
                                <p class="invitation_message">{{ invitation.message }}</p>
                                <form method="post" action="">
                                    <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                    <input type="hidden" name="action" value="accept"/>
                                    <input type="submit" value="{% trans 'accept' %}" />
                                </form>
                                <form method="post" action="">
                                    <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                    <input type="hidden" name="action" value="decline"/>
                                    <input type="submit" value="{% trans 'decline' %}" />
                                </form>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% if previous_invitations_to %}
                            <p>{% trans "Friendship request sent." %}</p>
                        {% else %}
                            <h2>{% trans "Add As Friend" %}</h2>
                            <form class="uniForm" method="POST" action="">
                                <fieldset class="inlineLabels">  
                                    {{ invite_form|as_uni_form }}
                                    <div class="form_block">
                                        <input type="hidden" name="action" value="invite" />
                                        <input type="submit" value="{% trans "invite" %}"/>
                                        {{ other_user.first_name }}{% blocktrans %} to be a friend.{%  endblocktrans %}
                                    </div>
                                </fieldset>
                            </form>
                        {% endif %} {# previous_invitations_to #}
                    {% endif %} {# previous_invitations_from #}
                {% endif %} {# is_friend #}
                
            {% endif %} {# is me #}

            
            {% if user.is_staff %}
                <h2>{% trans "User History" %}</h2>
                we'll add a neat-o search &amp; sort feature and stuff soon
                <table id="user-history">
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Group" %}</th>
                        <th>{% trans "Changed To" %}</th>
                    </tr>
                    {% for record in other_user.group_records.all %}
                    <tr>
                        <td>{{ record.datetime|date:"d M Y" }}</td>
                        <td>{{ record.group }}</td>
                        <td>
                        	{% ifequal record.request_status 'A' %}joined{% endifequal %}
                        	{% ifequal record.request_status 'E' %}left{% endifequal %}
                        	{% ifequal record.request_status 'I' %}invited{% endifequal %}
                        	{% ifequal record.request_status 'R' %}requested{% endifequal %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        
        {% else %} {# not user.is_authenticated #}
            {% url acct_signup as signup_url %}
            {% url acct_login as login_url %}
            <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to add this person as a friend and see their tweets and blog posts.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}

{% block extra_body %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.autocomplete.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-profile').hide();
            $('#edit-profile-toggle').click(function() {
                $('#edit-profile').toggle();
                $('#edit-profile').autoscroll();
                return false;
            });
            if ($('#edit-profile ul.errorlist').length) {
                $('#edit-profile').show();
                $('#edit-profile ul.errorlist').autoscroll();
            }
            if ($('#edit-profile p.errorField').length){
                $('#edit-profile').show();
                $('#edit-profile p.errorField').autoscroll();
            }
            $('#id_city').autocomplete('{% url ajax_search_network "R" %}');
        });
    </script>
    
	{% show_student_records_js other_user is_me %}
	{% show_work_records_js other_user is_me %}

	{% if messages %}
		{# looks for messages that are network suggestions only #}
		<script type="text/javascript">
            $(function(){
                $('.network-suggestion').click(function(){
                        var postData = {};
                        if ($(this).hasClass('join')){
                            postData['user'] = {{ user.id }};
                            postData['is_admin'] = false;
                            postData['admin_title'] = '';
                        }
                        var parentDiv = $(this).parents('div:first');
                        $.post($(this).attr('href'), postData, function(data){
                            parentDiv.html(data);
                            });
                        return false;
                    });
            });
		</script>
	{% endif %}

    
{% endblock %}
