{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load avatar_tags %}
{% load profile_tags %}

{# should probably pull this CSS stuff out into the css file... #}
<div class="toolbarheader bkgd" id="box-find-users">{% trans "Find Users" %}</div>
<div class="toolbarcontent">
	{% show_profile_search "" %}
</div>

{% if is_me or is_friend or perms.profiles %}
    {% if other_user.basegroup_set.all %}
		<div class="toolbarheader bkgd"  id="box-groups">
    	    {% if is_me %}
                {% trans "My Groups" %}
            {% else %}
    	        {% trans "Groups" %}
            {% endif %}
        </div>
		<div class="toolbarcontent">
			<p>
				<strong>Chapters</strong><br/>
            	{% for group in other_user.get_networks %}
            		<div style="padding-bottom: 3px;">
	                	<a href="{% url group_detail group.slug %}">{{ group.name }}</a>
	                </div>
            	{% endfor %}
            </p>
			<p>
				<strong>Communities</strong><br/>
            	{% for group in other_user.get_communities %}
            		<div style="padding-bottom: 3px;">
	                	<a href="{% url group_detail group.slug %}">{{ group.name }}</a>
	                </div>
            	{% endfor %}
            </p>
        </div>
    {% endif %}
    
    {% if other_friends or pending_requests %}
		<div class="toolbarheader bkgd" id="box-friends">{% trans "Friends" %}</div>
		<div class="toolbarcontent">
			{% if is_me and pending_requests %}
				(<a href="{% url profile_pending_friends other_user.username %}"><em>see {{pending_requests}} pending request{{ pending_requests|pluralize}}</em></a>)
				<br/><br/>
			{% endif %}
			
	        {% for friend in other_friends %}
	         <div style="float: left; width: 15px; height: 15px;">
	             {% avatar friend 15 %}
	         </div>
	         <div style="margin-left: 18px; height: 18px;">
	             <a href="{% url profile_detail friend.username %}">{{ friend.visible_name }}</a>
	         </div>
	         
	        {% endfor %}
	        
	        {% if is_me %}
	        	<br/>
	        	<div style="text-align: right;">
	        		<a href="{% url profile_all_friends other_user.username %}">see all</a>
	        	</div>
	        {% endif %}
	    </div>
    {% endif %}
{% endif %}

