{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load extra_tagging_tags %}
{% load profile_tags %}

{% for record in records %}

	{% if record.employer %}
		{# TODO: use proper CSS classes instead of hardcoding here #}
		<div class="work_record" style="padding-bottom: 10px;">
			{% if record.network %}
				<a href="{% url network_detail record.network.slug %}">{{ record.employer }}</a>
			{% else %}
				{{ record.employer }}
			{% endif %}
			
			{% if is_me %}
				(<a href="{% url edit_work_record user.username record.id %}"><small>edit</small></a>)
			{% endif %}
			(<a href="#" id="work_record_more_{{ record.id }}"><small>more</small></a><a href="#" id="work_record_less_{{ record.id }}" style="display: none;"><small>less</small></a>)

			<br/>
			
			{% if record.start_date and record.end_date %}
				(<em>{{record.start_date}} until {{record.end_date}}</em>)
			{% else %}
				{% if record.start_date %}(<em>started on {{ record.start_date }}</em>){% endif %}
				{% if record.end_date %}(<em>finished on {{ record.end_date }}</em>){% endif %}
			{% endif %}
			
			<div id="work_record_{{ record.id }}" style="display: none; margin-left: 15px; margin-top: 5px; border: 1px solid; background: #d0d0d0; padding: 5px;">
				{% if record.sector %}<b>{% trans "Sector" %}</b>: {{ record.sector }}<br/>{% endif %}
				{% if record.position %}<b>{% trans "Position" %}</b>: {{ record.position }}<br/>{% endif %}
				{% if record.company_size %}<b>{% trans "Company size" %}</b>: {{ record.get_company_size_display }}<br/>{% endif %}
				{% if record.income_level %}<b>{% trans "Income level" %}</b>: {{ record.get_income_level_display }}<br/>{% endif %}
			</div>
	
		</div>
	{% endif %}

{% endfor %}
