# git ignore file for myewb project

# ignore python compiled files
*.pyc

# ignore vim swp files and gedit temp files
*.swp
*.*~

# ignore db files
*.db
*.sqlite

# ignore local_settings and files
myewb/local_settings.py
myewb/site_media
myewb/media/attachments
myewb/media/avatars

# ignore any diff/patch files
*.diff
*.patch

# eclipse settings files
.project
.pydevproject
.settings

# ignore Mac folder settings files
.DS_Store
