{% extends "volunteering/base.html" %}
{% load sorting_tags pagination_tags %}
{% load truncate helpers %}
{% load segmented_control %}

{% block head_title %}
Volunteering » Placements
{% endblock %}

{% block body %}

	{% new_button "placement" %}

  {% if placement_list %}	
	  {% segmented_control base_url type page_list %}
	  {% autopaginate placement_list 10 %}
	  {% paginate %}

		<form class="filter" action="{{ base_url }}" method="get">
		<select name="sector" onchange="this.form.submit();">
		{% select_box sector_list selected_sector %}
		</select>
		<select name="country" onchange="this.form.submit();">
		{% select_box country_list selected_country %}
		</select>
		</form>
	
		<div class="clear"></div>
		<table>
		<tr>
	    <th>{% anchor country_name "Country" %}</th>

	    <th>{% anchor profile.name "Volunteer" %}</th>
	    <th>{% anchor rown "Location" %}</th>
	    <th>{% anchor start_date "Arrival" %}</th>
	    <th>{% anchor end_date "Departure" %}</th>
	    <th>Phone number</th>
	    <th>{% anchor stipend.get.daily_rate "Daily Rate" %}</th>
	    <th>Days in Quarter</th>
			<th>Stipend</th>
	    <th>{% anchor stipend.get.repatriation "Repatriation Paid (Quarter)" %}</th>
	    <th>{% anchor stipend.get.repatriation "Repatriation Accrued (Quarter)" %}</th>
	    <th>{% anchor stipend.get.repatriation "Repatriation Paid (Total)" %}</th>
	    <th>{% anchor stipend.get.repatriation "Repatriation Paid (Total)" %}</th>
	    <th>{% anchor stipend.get.adjustment "Adjustments" %}</th>
	    <th>{% anchor stipend.get.payment "Payment" %}</th>
	    <th>Notes</th>
	    <th>Repatriation Notes</th>
		</tr>
		{% for placement in placement_list %}
			<tr>
			  <td>{{ placement.country_name }}</td>
				<td><a href="{% url profile_detail placement.profile.user.username %}">{{ placement.profile.name }}</a></td>
			  <td><a href="{% url placement_detail placement.id %}">{{ placement.town }}</a></td>
			  <td class='right'>
			    {% if placement.start_date %}
			      {{ placement.start_date|date:"d M Y" }}
			    {% endif %}
			  </td>
			  <td class='right'>
			    {% if placement.end_date %}
			      {{ placement.end_date|date:"d M Y" }}
			    {% endif %}
			  </td>
			  <td>
			    {% for pn in placement.local_phone_numbers %}
			    {{ pn.number }}
			    {% if not forloop.last %}<br/>{% endif %}
			    {% endfor %}
			  </td>
			  <td>
					{% if placement.stipend.get %}
					<a href="{% url stipend_detail placement.stipend.get.id %}">{{ placement.stipend.get.daily_rate|floatformat:2 }}</a>
					{% endif %}
				</td>
			  <td>90</td>
				<td>{{ placement.stipend.get.payment|floatformat:2 }}</td>
			  <td>{{ placement.stipend.get.repatriation_paid_quarter|floatformat:2 }}</td>
			  <td>{{ placement.stipend.get.repatriation_accrued_quarter|floatformat:2 }}</td>
			  <td>{{ placement.stipend.get.repatriation_paid_total|floatformat:2 }}</td>
			  <td>{{ placement.stipend.get.repatriation_accrued_total|floatformat:2 }}</td>
			  <td>{{ placement.stipend.get.adjustment|floatformat:2 }}</td>
			  <td>{{ placement.stipend.get.adjusted_payment|floatformat:2 }}</td>
			  <td>{{ placement.stipend.get.notes|truncate_tail:30 }}</td>
			  <td>{{ placement.stipend.get.repatriation_notes|truncate_tail:30 }}</td>
			</tr>
		{% endfor %}
	</table>
	{% else %}
		<p>No placements found.</p>
	{% endif %}
{% endblock %}

