{% extends "volunteering/base.html" %}

{% block body %}
	<a href="{% url placement_new %}">new placement</a>

	{% if current_page.has_previous %}
	<a href="/placements/page/{{current_page.previous_page_number}}">«</a>
		{% if current_page.has_next %}|{% endif %}
	{% endif %}

	{% if current_page.has_next %}
	<a href="/placements/page/{{current_page.next_page_number}}">»</a>
	{% endif %}

	{% if placements %}
	
	<ul>
	<li><a href="all">All placements</a></li>
	<li><a href="active">Active placements</a></li>
	<li><a href="past">Past placements</a></li>
	</ul>
	
	<table>
	<tr>
	  <th>Country</th>
	  <th>Volunteer</th>
	  <th>Location</th>
	  <th>Arrival</th>
	  <th>Departure</th>
	</tr>
	{% for placement in placements %}
		<tr>
		  <td>{{ placement.country_name }}</td>
			<td><a href="{% url placement_edit placement.id %}">{{ placement.profile.name }}</a></td>
		  <td>{{ placement.town }}</td>
		  <td>
		    {% if placement.start_date %}
		      {{ placement.start_date }}
		    {% endif %}
		  </td>
		  <td>
		    {% if placement.end_date %}
		      {{ placement.end_date }}
		    {% endif %}
		  </td>
		</tr>
	{% endfor %}
	</table>
	{% else %}
	<p>No placements found.</p>
	{% endif %}
{% endblock %}

