{% extends 'events/base.html' %}

{% load i18n %}

{% block head_title %}National Conference 2010{% endblock %}

{% block body %}
<br/><br/>

<h1>National Conference 2010</h1>
	
<h2>Cancel your registration?</h2>
	
Are you sure you want to cancel your registration?
A $20 processing fee will be charged, and the rest of your registration will be refunded.<br/><br/>

Note that membership payments and the contributions to the "Support an African delegate" program 
are non-refundable.<br/><br/>

<form action="{% url conference_cancel %}" method="post">
<input type="submit" value="Cancel my registration" />
</form>
<br/>

	


{% endblock %}