{% extends 'conference/confsite.html' %}

{% load i18n %}
{% load uni_form_tags %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block body %}
	<style>
		label {
			position: relative;
			display: block;
			text-align: left;
			font-size: 12px;
			padding-bottom: 5px;
		}
		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
		}
		li, li label {
			padding: 0px;
			margin: 0px;
		}
		ul.errorlist {
			margin-top: 20px;
			float: right;
			list-style: none;
			margin-left: 0;
			border: 1px solid #ff0000;
			padding: 3px;
			-moz-border-radius: 0.5em;
			-webkit-border-radius: 0.5em;
			color: #ff0000;
			background: #ffdfdf;
		}
		
	</style>

    <div style="float: left; width: 43%; padding: 5px;">
    	<p>
	    	EWB members and alumni, sign in with your myEWB account
    	</p>

	    <form class="login" method="post" action="" style="position: relative;">
	    	{{ signin_form.as_p }}
	
			<p>
				<label for="id_login"></label>
				<input type="hidden" name="action" value="signin" />
				<input type="submit" name="login" id="id_login" value="{% trans "Login" %}" />
			</p>
	
			<p>
				<label for="forgotten_password"></label>
				<a href="{% url acct_passwd_reset %}" target="_new">{% trans "Forgot password?" %}</a>
			</p>

			<p>
				<strong><em>EWB members must sign in with your myEWB account here to obtain special member rates and registration options</em></strong>
			</p>
	    </form>
    </div>
    
    <div style="margin-left: 45%; border-left: 1px solid; padding: 5px 5px 5px 5%;">
    <p>Guests and external delegates, continue here</p>
    
	    <form class="login" method="post" action="" style="position: relative;">
	    	{{ signup_form.as_p }}
	
			<p>
				<label for="id_login"></label>
				<input type="hidden" name="action" value="signup" />
				<input type="submit" name="login" id="id_login" value="{% trans "Continue" %}" />
			</p>
	    </form>
    
    </div>
    
<script type='text/javascript'>
    $('#id_remember').parent().hide();
    $('#id_chapter').parent().hide();
</script>
{% endblock %}
