{% extends 'conference/confsite.html' %}

{% load i18n %}
{% load uni_form_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load group_tags %}
{% load topics_tags %}

{% block head_title %}National Conference 2011{% endblock %}

{% block body %}
<br/><br/>

	<style type="text/css">
		.descform
		{
			width: auto;
			position: static;
		}
		.descform th, .descform td
		{
			align: center;
			padding: 10px;
		}
		label
		{
			text-align: right;
			font-weight: bold;
		}
		li label
		{
			text-align: left;
			font-weight: normal;
		} 
		div.heading
		{
			font-weight: bold;
			font-size: 1.5em;
			text-align: center;
		}
		.uniForm .inlineLabels select, .uniForm select
		{
			width: auto;
			max-width: 200px;
		}
		
		input.deleteAddressSubmit
		{
		    position: relative;
		    top: -26px;
		    left: 80px;
		}
	</style> 

	{% if not registration %}
		<p>We are very happy to invite our student chapter members to join us for 3 exciting days of work and learning at our10th Anniversary National Conference from January 13-15, 2011!</p>
		
		<p>You will require a registration code from your chapter president to register below at the subsidized rate. These codes are valid through the first phase of registration from October 5-13.</p>
		
		<p>
			What does this registration include?
			<ul>
				<li>Attendance and accommodations from Wednesday night through Saturday night.</li>
    			<li>One ticket to the closing Gala Saturday evening</li>
    			<li>Presidents, JFs and certain executive members will also be invited for a special leadership day on Wednesday the 12th at no extra cost.</li>
    			<li>The most stimulating and challenging single experience you'll ever have.</li>
			</ul>
		</p>
		
		<p>This is your first step on the exciting road to Conference 2011! After registering you will begin to get regular updates and be given opportunities to participate in a series of lead up activities to help you get the most out of the event.</p>
		
		<br/>
		
		<form id="conf-registration" method="POST" action="{% url conference_preview %}" class="uniForm" enctype="multipart/form-data">
			<fieldset class="inlineLabels">
				<div class="heading">Personal Details</div>
			
				<div class="ctrlHolder">
					{{ user.first_name}} {{user.last_name }}
					<label>Name</label>
				</div>
			
				<div class="ctrlHolder">
					{{ user.email }}
					<label>Email</label>
				</div>
				
				{% comment %}
				<div class="ctrlHolder">
					{{ user.get_profile.default_phone }}
					<label>Phone Number</label>
				</div>
				{% endcomment %}
				
				<div class="ctrlHolder">
					{{ user.get_profile.gender }}
					<label>Gender</label>
				</div>
				
				<div class="ctrlHolder">
					{% if user.get_profile.student %}
						Yes
					{% else %}
						No
					{% endif %}
					<label>Student status</label>
				</div>
				
				<div class="ctrlHolder">
					{{ user.get_profile.language }}
					<label>Preferred language</label>
				</div>
				
				{% if needsRenewal %}
					<div class="ctrlHolder">
						You are not a paid member of EWB - the membership fee will be automatically added to your registration<br/>
						($20 for students, $40 for professionals)<br/>
						<label>EWB membership</label>
					</div>
				{% endif %}

				<div class="ctrlHolder" style="text-align: center;">
					<em>To change your personal details, please
					<a href="{% url profile_edit %}" target="_new">update your myEWB profile</a>.</em>
				</div>
				<hr/>

				<div class="heading">Registration Details</div>
										
				{{ form|as_uni_form }}
				
	            <div class="form_block ctrlHolder">
	                <input type="submit" value="Preview your registration" />
	                <label>&nbsp;</label>
	            </div>
				
			</fieldset>
		</form>

	{% else %}
		<br />
		<p align="center" style="font-weight: bold;">
			You are currently registered to attend the conference!
			From this page you may:
		</p>

		<p align="center">
			<a href="{% url conference_receipt %}" style="font-weight: bold;">click here for a printable receipt &raquo;</a>
		</p>

		<p align="center">or</p>

		<p align="center">
			<a href="{% url conference_cancel %}">click here to cancel your registration</a>
		</p>

		<br />
		<br />
		<p>Keep checking the conference website at <a href="http://conference2011.ewb.ca/">http://conference2011.ewb.ca</a> for up-to-date information regarding the conference!</p>

	{% endif %}

{% endblock %}