{% extends 'conference/confsite.html' %}

{% load i18n %}
{% load uni_form_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load group_tags %}
{% load topics_tags %}

{% block head_title %}National Conference 2011{% endblock %}

{% block body %}
<br/><br/>

	<style type="text/css">
		.descform
		{
			margin-left: 34%;
			width: auto;
			position: static;
		}
		.descform th, .descform td
		{
			align: center;
			padding: 10px;
		}
		label
		{
			text-align: right;
			font-weight: bold;
		}
		li label
		{
			text-align: left;
			font-weight: normal;
		} 
		div.heading
		{
			font-weight: bold;
			font-size: 1.5em;
			text-align: center;
		}
		.uniForm .inlineLabels select, .uniForm select
		{
			width: auto;
		}
	</style> 


	<h1>National Conference 2011</h1>

	{% if not registration %}
		<br/>
		<p>Register for the conference!</p>
		<p>Some other text about registration details will go here...</p>
		<p>Form user: {{ form.user }} - {{ form.user.visible_name }}</p>
		<br/>
		
		<form id="conf-registration" method="POST" action="{% url conference_preview %}" class="uniForm" enctype="multipart/form-data">
			<fieldset class="inlineLabels">
				<div class="heading">Personal Details</div>
			
				<div class="ctrlHolder">
					{{ user.first_name}} {{user.last_name }}
					<label>Name</label>
				</div>
			
				<div class="ctrlHolder">
					{{ user.email }}
					<label>Email</label>
				</div>
				
				{% comment %}
				<div class="ctrlHolder">
					{{ user.get_profile.default_phone }}
					<label>Phone Number</label>
				</div>
				{% endcomment %}
				
				<div class="ctrlHolder">
					{{ user.get_profile.gender }}
					<label>Gender</label>
				</div>
				
				<div class="ctrlHolder">
					{% if user.get_profile.student %}
						Yes
					{% else %}
						No
					{% endif %}
					<label>Student status</label>
				</div>
				
				<div class="ctrlHolder">
					{{ user.get_profile.language }}
					<label>Preferred language</label>
				</div>

				<div class="ctrlHolder" style="text-align: center;">
					<em>To change your personal details, please
					<a href="{% url profile_edit %}" target="_new">update your myEWB profile</a>.</em>
				</div>
				<hr/>

				<div class="heading">Registration Details</div>
										
				{{ form|as_uni_form }}
				
	            <div class="form_block ctrlHolder">
	                <input type="submit" value="Preview your registration" />
	                <label>&nbsp;</label>
	            </div>
				
			</fieldset>
		</form>

	{% else %}
		<br />
		<p align="center" style="font-weight: bold;">
			You are currently registered to attend the conference!
			From this page you may:
		</p>

		<p align="center">
			<a href="{% url conference_receipt %}" style="font-weight: bold;">click here for a printable receipt &raquo;</a>
		</p>

		<p align="center">or</p>

		<p align="center">
			<a href="{% url conference_cancel %}">click here to cancel your registration</a>
		</p>

		<br />
		<br />
		<p>Keep checking the conference website at <a href="http://conference2011.ewb.ca/">http://conference2011.ewb.ca</a> for up-to-date information regarding the conference!</p>

	{% endif %}

{% endblock %}