{% extends 'events/base.html' %}

{% load i18n %}

{% block head_title %}National Conference 2011{% endblock %}

{% block body %}
<br/><br/>

<h1>National Conference 2011</h1>

<p>You're an admin, or are an exec of multiple chapters.</p>

<p>Which chapter do you want to a view a list for?</p>

<style>
#confreg-list th
{
  padding: 10px;
  text-align: left;
}
#confreg-list td
{
  padding: 10px 20px;
}
</style>
<table border="1" id="confreg-list">

{% for chapter in chapters %}
	<tr>
		<th>
			<a href="{% url conference_list_chapter chapter.network.slug %}">
				{{ chapter.chapter_name }}
			</a>
		</th>
		<td>
			{{ chapter.numRegistrations }}
		</td>
	</tr>
{% endfor %}
</table>


{% endblock %}