{% extends "finance/base.htm" %}

{% block finance_body %}
<h2>Summary - Account Balances</h2>
	<p>
		As of {{today|date:"F d, Y"}}
	</p>
	<table class="cellpadding8 standard" width="700" style="margin: 0 auto;">
		<tr>
		<th>Chapter</th>
		<th>Chapter Balance</th>
		<th>National Office Balance</th>
		<th>Net</th>
		</tr>
		{% for t in table %}
		<tr>
		<td>{{t.0}}</td>
		{% if t.2 %}<td style="color: red;" align = "right">{{t.1|floatformat:2}}{% else %}<td align = "right">{{t.1|floatformat:2}}{% endif %}</td>
		{% if t.4 %}<td style="color: red;" align = "right">{{t.3|floatformat:2}}{% else %}<td align = "right">{{t.3|floatformat:2}}{% endif %}</td>
		{% if t.6 %}<td style="color: red;" align = "right">{{t.5|floatformat:2}}{% else %}<td align = "right">{{t.5|floatformat:2}}{% endif %}</td>
		</tr>
		{% endfor %}

	</table>


{% endblock finance_body %}