{% extends "finance/base.htm" %}

{% block title %}View Commitments{% endblock title %}

{% block finance_body %}
	
	<h2>Commitments</h2>
	<table class="cellpadding8 standard" width="700" style="margin: 0 auto;">
		<tr>
		<th>Account</th>
		<th>Payment Date</th>
		<th>Category</th>
		<th>Description</th>
		<th>Amount</th>
		<th>View Detail</th>
		</tr>
	{% for t in commitments %}
		<tr>
		<td>{{t.entered_by}}</td>
		<td>{{t.bank_date}}</td>
		<td>{{t.category}}</td>
		<td>{{t.description}}</td>
		<td>{{ t.amount|floatformat:2 }}</td>
		<td><a href="{% url view_id id=t.id group_slug=group.slug %}">View Detail</a></td>
		</tr>
	{% endfor %}

	</table>
	

{% endblock finance_body %}
