{% extends 'topics/base.html' %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load whiteboard_tags %}

{% block extra_head %}
    {{ block.super }}
    
    <link rel="alternate" type="application/rss+xml" title="myEWB Front Page" href="{% url topic_feed_all %}" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbars.css" />    

	<link type="text/css" href="{{STATIC_URL}}css/jquery-ui.css" rel="stylesheet" />

	
{% endblock %}

{% block head_title %}{% trans "Search" %}{% endblock %}

{% block body %}

    <h1>Search</h1>


<ul class="segmented" id="groupheader" style="float: none;">
        <li id="li-group-postsearch" class="current"><a href="#post-search" id="show-postsearch">Search posts and events</a></li>
        <li id="li-group-peoplesearch"><a href="#people-search" id="show-peoplesearch">People Search</a></li>

    </ul>

    <div id="div-post-search" class="group-subsection" style="display: block;">



    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>

    </div>
    
    <div id="div-people-search" class="group-subsection">
    People search goes here.
    </div>


        <h1>Results</h1>
        
        
		{% if results %}
		    {% autopaginate results 10 %}
 
	        {% for result in results %}
	          	{# is there a better way? #}
	          	{% ifequal result.model_name "grouptopic" %}
				    {% with result.object as topic %}
				        {% include "topics/topic_item.html" %}
				    {% endwith %}
				{% else %}
					{% ifequal result.model_name "whiteboard" %}
				        {% get_membership result.object.parent_group request.user as member %}
				        {% show_whiteboard_force result.object result.object.parent_group member %}
					{% else %}
						{% ifequal result.model_name "event" %}
							{# I so wish they had elif in django templates... #}
							<div style="border: solid 1px; padding: 15px; margin: 15px;">
								<strong>Event</strong>: 
								<a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a><br/>
								{{ result.object.start|date:"D, M j \a\t P" }}
							</div>
						{% else %}
		                <p>
		                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
		                </p>
			            {% endifequal %}
	                {% endifequal %}
			    {% endifequal %}
            {% endfor %}

	        {% paginate %}

        {% else %}
      	  <p>No results found.</p>
        {% endif %}

{% endblock %}

{% block extra_body %}
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script> 
  <script type="text/javascript" src="{{STATIC_URL}}js/ui.datepicker.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    var datepicker = $("input#id_start_date, input#id_end_date").datepicker({});
  });
  </script>
  
    <script type="text/javascript" src="{{STATIC_URL}}js/tabselection.js"></script> 


{% endblock %}
  