{% extends 'topics/base.html' %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load events_tags %}
{% load whiteboard_tags %}

{% block extra_head %}
    {{ block.super }}
    
    <link rel="alternate" type="application/rss+xml" title="myEWB Front Page" href="{% url topic_feed_all %}" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbars.css" />    

	<link type="text/css" href="{{STATIC_URL}}css/jquery-ui.css" rel="stylesheet" />

	
{% endblock %}

{% block head_title %}{% trans "Search" %}{% endblock %}

{% block body %}

    <h1>Search</h1>


<div id="search-tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">

<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li id="li-group-postsearch" class="ui-corner-top ui-state-default ui-tabs-selected ui-state-active"><a href="#post-search" id="show-postsearch">Search posts and events</a></li>
        <li id="li-group-peoplesearch" class="ui-corner-top ui-state-default "><a href="{% url profiles_index %}?search=" id="show-peoplesearch">People Search</a></li>

    </ul>
    
    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

        <div id="div-post-search" class="group-subsection" style="display: block;">
    
    
    
        <form method="get" action=".">
            <table>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Search">
                    </td>
                </tr>
            </table>
        </form>
    
        </div>
    
    </div>
</div>


        <h1>Results</h1>
        
        
		{% if results %}
		    {% autopaginate results 10 %}
 
	        {% for result in results %}
	          	{# is there a better way? #}
	          	{% ifequal result.model_name "grouptopic" %}
				    {% with result.object as topic %}
				        {% include "topics/topic_item.html" %}
				    {% endwith %}
				{% else %}
					{% ifequal result.model_name "whiteboard" %}
<div class="post">
	<div class="postheader orange {# some way of checking if this is a chapter or a community? #}" style="position: relative;"> <!-- header row -->
    <a class="postheaderlink" href="{{ result.object.parent_group.get_absolute_url }}#group-whiteboard">Whiteboard for {{ result.object.parent_group }}</a>
	</div>
	
    <div class="postcontent orange-border">
					    
				        {% get_membership result.object.parent_group request.user as member %}
				        {% show_whiteboard_force result.object result.object.parent_group member %}
    </div>
</div>		    
				        
					{% else %}
						{% ifequal result.model_name "event" %}
							{# I so wish they had elif in django templates... #}
							
<div class="post">
	<div class="postheader red" style="position: relative;"> <!-- header row -->
    <a class="postheaderlink" href="{{ result.object.get_absolute_url }}">Event: {{ result.object.title }}</a>
	</div>
	
    <div class="postcontent red-border">
					    
<p><span class="lighter">Starts: </span>{{result.object.start|date:"D, M j \a\t P"}} &nbsp;
<span class="lighter">Ends: </span>{{result.object.end|date:"D, M j \a\t\ P"}}</p>

{% if result.object.location %}<p>Location: {{result.object.location}}</p>{% endif %}

<p>{{result.object.description|safe}}</p>

    <div class="whiteboard-editing-box">
<a href="{% link_to_events_for result.object.content_object 'css_class' 1 %}">More events for {{result.object.content_object.visible_name}}</a>
    </div>
    <br class="clear"/>

    </div>
</div>		  
							
							
							
						{% else %}
		                <p>
		                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
		                </p>
			            {% endifequal %}
	                {% endifequal %}
			    {% endifequal %}
            {% endfor %}

	        {% paginate %}

        {% else %}
      	  <p>No results found.</p>
        {% endif %}

{% endblock %}

{% block extra_body %}
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script> 
  <script type="text/javascript" src="{{STATIC_URL}}js/ui.datepicker.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    var datepicker = $("input#id_start_date, input#id_end_date").datepicker({});
    
    
    // maintain search term state
    $('#id_q').change(function() {
        
        $('#show-peoplesearch').attr('href', '{% url profiles_index %}?search=' + $(this).val());
        
    });
    // initial load
    $('#show-peoplesearch').attr('href', '{% url profiles_index %}?search=' + $('#id_q').val());

    
  });
  </script>
  
    <script type="text/javascript" src="{{STATIC_URL}}js/tabselection.js"></script> 


{% endblock %}
  