{% load i18n %}

{% load wiki_tags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}

<h2>{% trans "Whiteboard" %}</h2>

{% if group.whiteboard %}
    <table class="topics">
		{% include "base_groups/whiteboard.html" %}
    </table>
{% endif %}

<h2>{% trans "Discussion Topics" %}{% if group.topics.all.count %} ({{ group.topics.all.count }}){% endif %}</h2>

{% get_grouptopics_for_group group as topic_queryset %}
{% with topic_queryset|slice:":5" as topics %}
    {% if topics %}
        {% for topic in topics|slice:":5" %}
            {% show_topic topic %}
            <br/>
        {% endfor %}
        <p><a href="{% groupurl topic_list group %}">{% trans "more..." %}</a></p>
    {% else %}
        {% groupurl topic_list group as new_topic_url %}
        <p>{% trans "None yet." %} {% if user.is_authenticated %}<a href="{{ new_topic_url }}">{% trans "Start one..." %}</a>{% endif %}</p>
    {% endif %}
{% endwith %}

{% comment %}

<h2>{% trans "Tweets" %}</h2>

{% tweet_listing tweets 1 0 %}

<h2>{% trans "Upcoming Events" %}</h2>
{% get_calendar group as calendar %}
{% if calendar.get_upcoming_events %}
    <table class="topics">
        {% for event in calendar.get_upcoming_events %}
            <tr class="odd">
                <td>{{ event.title }}</td>
                <td>{{ event.start }}-{{ event.end }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    {% trans "There are no upcoming events." %}
{% endif %}
<p>
    <a href="{{ calendar.get_absolute_url }}">{% trans "calendar..." %}</a>
</p>


{% if photos %}
    <h2>{% trans "Group Photo Pool" %}</h2>
    <div class="thumb-row clearfix">
        {% for photo in photos %}
        <div class="gallery-photo-thumb">
            <a href="/photos/details/{{ photo.photo.id }}/"><img src="{{ photo.photo.get_thumbnail_url }}" alt="{{ photo.photo.title }}"/></a><br />
            <img src="{{ STATIC_URL }}pinax/images/silk/icons/comment.png" border="0" class="noborder" align="absmiddle" /><a href="/photos/details/{{ photo.photo.id }}/">{% get_comment_count for photo as commentcount %} {% blocktrans %}{{ commentcount }} Comments {% endblocktrans %}</a>
       </div>
       {% endfor %}
   </div>
{% endif %}
{% endcomment %}