{% load i18n %}

{% load wiki_tags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load whiteboard_tags %}
{% load events_tags %}

{% show_whiteboard group.whiteboard group member %}

<h2>{% trans "Upcoming Events" %}</h2>
{% events_upcoming user group %} <br/>
<a href="{% link_to_events_for group 'css_class' 1 %}">Go to the {{group}} calendar</a><br/>
<br/>

<h2>{% trans "Discussions" %}{% if group.topics.all.count %} ({{ group.topics.all.count }}){% endif %}</h2>

{% get_grouptopics_for_group group as topic_queryset %}
{% with topic_queryset|slice:":5" as topics %}
    {% if topics %}
        {% for topic in topics|slice:":5" %}
            {% show_topic topic %}
            <br/>
        {% endfor %}
        <p><a href="{% groupurl topic_list group %}">{% trans "more..." %}</a></p>
    {% else %}
        {% groupurl topic_list group as new_topic_url %}
        <p>
            {% trans "None yet." %}
            {% if user.is_authenticated %}<br/><a href="{{ new_topic_url }}">{% trans "Start one..." %}</a>{% endif %}
        </p>
    {% endif %}
{% endwith %}

{% comment %}

<h2>{% trans "Tweets" %}</h2>

{% tweet_listing tweets 1 0 %}

{% if photos %}
    <h2>{% trans "Group Photo Pool" %}</h2>
    <div class="thumb-row clearfix">
        {% for photo in photos %}
        <div class="gallery-photo-thumb">
            <a href="/photos/details/{{ photo.photo.id }}/"><img src="{{ photo.photo.get_thumbnail_url }}" alt="{{ photo.photo.title }}"/></a><br />
            <img src="{{ STATIC_URL }}pinax/images/silk/icons/comment.png" border="0" class="noborder" align="absmiddle" /><a href="/photos/details/{{ photo.photo.id }}/">{% get_comment_count for photo as commentcount %} {% blocktrans %}{{ commentcount }} Comments {% endblocktrans %}</a>
       </div>
       {% endfor %}
   </div>
{% endif %}
{% endcomment %}

