{% extends "apply/base.html" %}
{% load sorting_tags pagination_tags %}
{% load truncate helpers %}
{% autosort travelsegment_list %}

{% block head_title %}
Applications » Travel Segments
{% endblock %}

{% block body %}
	{% new_button "travelsegment" "travel segment" %}

	{% if travelsegment_list %}
		{% autopaginate travelsegment_list 10 %}
		{% paginate %}
		<div class="clear"></div>
		<table>
		    <tr>
		       <th>{% anchor booking_code "Booking Code" %}</th>
		       <th>{% anchor start_date_time "Departure Date" %}</th>
		       <th>{% anchor start_location "Location" %}</th>
		       <th>{% anchor end_date_time "Arrival Date" %}</th>
		       <th>{% anchor end_location "Location" %}</th>
		       <th>{% anchor notes "Notes" %}</th>
		       <th>{% anchor payment_method "Payment Method" %}</th>
		       <th>{% anchor purpose "Purpose" %}</th>
		    </tr>
		{% for travelsegment in travelsegment_list %}
		<tr>
			<td><a href="{% url travelsegment_detail travelsegment.id %}">{{ travelsegment.booking_code }}</a></td>
			<td>{{ travelsegment.start_date_time|date:"d M Y H:i" }}</td>
			<td>{{ travelsegment.start_location }}</td>
			<td>{{ travelsegment.end_date_time|date:"d M Y H:i" }}</td>
			<td>{{ travelsegment.end_location }}</td>
			<td>{{ travelsegment.notes }}</td>
			<td>{{ travelsegment.payment_method }}</td>
			<td>{{ travelsegment.purpose }}</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>No travel segments found.</p>
	{% endif %}

{% endblock %}
