{% extends "topics/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About myEWB" %}{% endblock %}

{% block body %}
    <h1>{% trans "About myEWB" %}</h1>

    {% blocktrans %}
    
    <p>myEWB is Engineers Without Borders Canada's online community!
    We envision this online community as a place where EWB members and non-members alike can connect to discuss human development and EWB's operations.
    EWB is a large, distributed virtual organization and myEWB can help to keep us connected and working together effectively.</p>

    <p>myEWB is also EWB's chapter membership management system, providing EWB chapters with automatic mailing lists and other useful tools.</p>

    <p>
    myEWB is an evolving system, with new features being added all the time to support the EWB community.
    </p>
    
    <p>
    In the past, features were added slowly but the system was solid and stable; however in the future 
    we see a more agile myEWB where we can experiment and play with new ideas.  This also means that 
    things may not always work perfectly... if you find any problems, please 
    <a href="#" onclick="$('#feedback-button-woot').click(); return false;">tell us</a>
    and we'll be sure to fix them ASAP!
    </p>

    <h1>The Software</h1>

    <p>The software powering myEWB is an open-source project: see our 
    <a href="http://office.ewb.ca/fastrac/myewb2">project page</a> and
    <a href="http://github.com/ewbcanada/myewb2">GitHub repository</a>.
    It is written in Python, using the <a href="http://djangoproject.com">django</a>
    and <a href="http://pinaxproject.com">pinax</a> projects.
    </p>
    
    <p>If you would like to contribute to the project, give us a shout!</p>
    
    <p>
    The old version of myEWB (myEWB1 or OpenMyEWB, written in Java) is also available 
    <a href="http://nicolas.kruchten.com/openmyewb.html">here</a>.
    </p>
    
    {% endblocktrans %}

{% endblock %}    


{% block toolbar_right %}
	<style>
	#toolbarcolumn_right {
		width: 400px;
		margin: 0 -1em 0 2em;
	}
	.toolbarcontent ul li
	{
		margin-left: 1em;
		font-size: 12px;
		list-style: disc;
		padding-bottom: 5px;
	}
	</style>
	
    <div class="toolbarheader bkgd" id="box-status2">{% trans "myEWB status" %}</div>
    <div class="toolbarcontent">
	<p>
 		<img src="{{STATIC_URL}}images/status_icons/svn_conflicted.png" style="padding-right: 5px;"/>
		<span style="position: relative; top: -7px;">online with minor problems</span>
		{% comment %}
		<img src="{{STATIC_URL}}images/status_icons/bug.png" style="padding-right: 5px;"/>
		<span style="position: relative; top: -7px;">online with some bugs</span>
		{% endcomment %}
	</p>

    	<p>
    	<strong>Known Issues</strong>
    	<br/>
    	
    	<ul>
    	
    	
    	
		<li>
			On a chapter or community page, clicking on the posts/events/whiteboard tab causes the page to jump
		</li>
		<li>
			The RSS feed format has changed - some chapter sites relying on these may stop working.  Will investigate 
			and get in touch with any chapter webmasters this affects.
		</li>
		<li>
			File-sharing for groups has not been re-added yet
		</li>
		<li>
			Layout is broken in Internet Explorer 6.  Use of IE6 is discouraged (many sites, including Youtube, will drop support for it soon)
		</li>
		<li>Listing, adding, and removing email forwards is temporarily offline (existing forwards will continue to work)</li>
		<li>
			See full list of known issues <a href="https://office.ewb.ca/fastrac/myewb2/query?status=assigned&status=new&status=reopened&group=status&milestone=Post-Launch+Feedback" target="_new">here</a>
		</li>
		<li>Attached files with accents in the filename may not display</li>
    	</ul>
    	</p>

	<!--
    	<p>
    	<strong>Planned updates</strong>
    	<ul>
		<li>Clicking on someone's picture on their profile page should bring up the full-size picture</li>
		<li>Chapter executive members should have that listed on their profile pages</li>
    	</ul>
    	</p>
	-->
    	
    	<p>
    	<strong>Recent fixes</strong>
    	<ul>
    	
    	
    	<li>Email delivery is back online. Sorry for the inconvenience! (<em>June 10</em>)	</li>
    	
		<li>Added toggle to collapse post previews (<em>Jun 8</em>)</li>
		<li>CHAMP school outreach spreadsheets now working (<em>Jun 8</em>)</li>
		<li>iCal feeds now show more upcoming events (<em>Jun 8</em>)</li>

		<li>Better timezone support (<em>Jun 7</em>)</li>
		<li>Fixed some problems with attached files (<em>Jun 7</em>)</li>

		<li>Old links to attached files now work again (<em>Jun 4</em>)</li>

		<li>Fixed caching problem when viewing all posts for a member (<em>Jun 1</em>)</li>
		<li>Fixed some tags that were causing server errors (<em>Jun 1</em>)</li>
		<li>Fixed watchlists... again (<em>Jun 1</em>)</li>
		<li>Fixed some more obscure server errors (<em>Jun 1</em>)</li>		

		<li>Replying to a private message is fixed - <em>May 28</em></li>
		<li>Confirming an email address that already exists as a mailing-list-only entry is fixed - <em>May 28</em></li>
		<li>Chapter execs can see contact info of members in their chapter - <em>May 28</em></li>
		<li>Reply preview loop fixed (was happening for long replies) - <em>May 28</em></li>
		<li>Reply notice emails are more detailed - <em>May 28</em></li>
		<li>Hidden groups don't show up on other peoples' profile pages - <em>May 28</em></li>
		<li>Cleaned up front page formatting (can't change the font size in post intros any more) - <em>May 28</em></li>
		<li>Fixed a large number of obscure server errors - <em>May 28</em></li>

		<li>
			see full list <a href="http://github.com/ewbcanada/myewb2/commits/" target="_new">here</a>
		</li>
    	</ul>
    	</p>
    </div>
	
{% endblock %}      
