{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Privacy Policy" %}{% endblock %}

{% block body %}
    <h1>{% trans "Privacy Policy" %}</h1>

    {% blocktrans %}
    
        <p>Engineers Without Borders respects the privacy of our supporters. All information that you provide to us using the myEWB system will be used for internal purposes only. We will not disclose any of your personal information outside of the organization.  </p>

        <p>The accuracy of your individual information is important to EWB. On myEWB you can control the information we collect about you. You can update or delete your myEWB account at any time, and when deleted, only your name will remain stored on our system, linked to any postings you have made on myEWB.</p>

        <p>Our web server does not automatically recognize or collect personal information based on your email address, and all personal information we collect is always voluntarily submitted by you. EWB uses your information to send you communications such as our e-newsletter, organization updates, surveys and/or mail appeals. You may opt out of any mailing lists at any time.</p>

        <p>The information you provide about yourself is not made available to other EWB members except when we have your permission or under special circumstances required for EWB<92>s operations, such as providing the executive of your chapter (if you belong to one) with a membership list.</p>

        <p>If you notice any instances in which this system does not comply with the above policy, or if you have any questions about our privacy policy, please contact us at <a href="mailto:admin@my.ewb.ca">admin@my.ewb.ca</a> and we will correct any oversights. </p>
    
    {% endblocktrans %}

{% endblock %}    

