{% extends "topics/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Main Dashboard" %}{% endblock %}

{% block body %}

<h1>Main Dashboard</h1>

<h2>Stats Today (so far):</h2>
<table border="0">
	<tr>
		<td style="text-align: right;">
			<strong>Signins:</strong>
		</td>
		<td>
			{{ signins }}
		</td>
	</tr>
	<tr>
		<td style="text-align: right;">
			<strong>Posts:</strong>
		</td>
		<td>
			{{ posts }}
		</td>
	</tr>
	<tr>
		<td style="text-align: right;">
			<strong>Replies:</strong>
		</td>
		<td>
			{{ replies }}
		</td>
	</tr>
	<tr>
		<td style="text-align: right;">
			<strong>Signups:</strong>
		</td>
		<td>
			{{ signups }}
		</td>
	</tr>
	<tr>
		<td style="text-align: right;">
			<strong>List signups:</strong>
		</td>
		<td>
			{{ listsignups }}
		</td>
	</tr>
	<tr>
		<td style="text-align: right;">
			<strong>List upgrades:</strong>
		</td>
		<td>
			{{ listupgrades }}
		</td>
	</tr>
	<tr>
		<td style="text-align: right;">
			<strong>Deletions:</strong>
		</td>
		<td>
			{{ deletions }}
		</td>
	</tr>
	<tr>
		<td style="text-align: right;">
			<strong>Upgrades:</strong>
		</td>
		<td>
			{{ regupgrades }}
		</td>
	</tr>
	<tr>
		<td style="text-align: right;">
			<strong>Downgrades:</strong>
		</td>
		<td>
			{{ regdowngrades }}
		</td>
	</tr>
	<tr>
		<td style="text-align: right;">
			<strong>Renewals:</strong>
		</td>
		<td>
			{{ renewals }}
		</td>
	</tr>
</table>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Usage</h2>
	<img src="{{dailyUsage}}" style="width: 800px; height: 600px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Account Changes</h2>
	<img src="{{accountChanges}}" style="width: 800px; height: 600px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Membership</h2>
	<img src="{{membershipChart}}" style="width: 800px; height: 600px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Membership Changes</h2>
	<img src="{{membershipChanges}}" style="width: 800px; height: 600px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Status Breakdown for {{ totalusers }} users</h2>
	<img src="{{statusBreakdown}}" style="width: 800px; height: 320px;"/><br/>
	Mailing list members: {{mlistmembers}} - {{mlistmemberspercent}}%<br/>
	Associate members: {{associatemembers}} - {{associatememberspercent}}%<br/>
	Regular members: {{regularmembers}} - {{regularmemberspercent}}%<br/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Membership Breakdown by chapter</h2>
	<img src="{{membershipBreakdown}}" style="width: 800px; height: 600px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Province breakdown ({{provincecount}} known addresses)</h2>
	<img src="{{provinceBreakdown}}" style="width: 800px; height: 320px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Gender breakdown</h2>
	<img src="{{genderBreakdown}}" style="width: 800px; height: 320px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Student breakdown</h2>
	<img src="{{studentBreakdown}}" style="width: 800px; height: 320px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Language breakdown</h2>
	<img src="{{languageBreakdown}}" style="width: 800px; height: 320px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Post breakdown</h2>
	<img src="{{postBreakdown}}" style="width: 800px; height: 320px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Login distribution</h2>
	<img src="{{loginDistribution}}" style="width: 800px; height: 600px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Login recency</h2>
	<img src="{{loginRecency}}" style="width: 800px; height: 600px;"/>
</div>

<div style="width: 800px; margin: 0 auto; padding: 0 25px 15px; background: #d0d0d0; text-align: center;">
	<h2>Age Distribution</h2>
	<img src="{{ageDistribution}}" style="width: 800px; height: 600px;"/>
</div>



{% endblock %}
