{# NB - this is all hard-coded in to avoid any issues with loading other templates, libraries, variables etc.  We should try to remember to update this page when we make any major design changes. #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>myEWB &raquo; Error 500</title>
        
		<link rel="stylesheet" href="/site_media/static/css/myewb2.css" />



</head>
<body>


<body id="bodybackground" class="topics blue">
        
    <div id="maincontainer">

        
        <div id="tabhead">
            <a href="/"><img src="/site_media/static/images/logos/title-graphic.png" alt="Engineers Without Borders" border="0" title="...and behind the scenes, 100% more awesome." /></a>
            
            <div id="left_tabs" ></div>
            <div id="right_tabs" >
    <ul class="tabs"><li><a id="tab_home" class="blue" href="/">Home</a></li><li><a id="tab_profile" class="green" href="/profiles/sboots/">Profile</a></li><li><a id="tab_networks" class="yellow" href="/networks/">Chapters</a></li><li><a id="tab_communities" class="orange" href="/communities/">Communities</a></li><li><a id="tab_events" class="red" href="/events/">Events</a></li><li><a id="tab_volunteering" class="purple" href="/volunteering/">Volunteering</a></li></ul>
</div>
        </div>

        
        
        <div id="body">
	        <div id="subnav" class="clearfix bkgd-light">
	        	
	        	
				<div id="subnavsearchbox">
					<form method="get" action="/search/">
						<input type="text" value="search" style="width: 150px; color: #a0a0a0;" id="global_search_box" name="q"/>
						<input type="submit" value="search" class="bkgd-light" />
					</form>
				</div>

	        	
                <ul class="subnav">
                    <li ><a href="/">Discussion Board</a></li>
                    
                    
                    <li><a href="/posts/cloud/">Tag Cloud</a></li>
                    
                    
                    <li><a href="/posts/featured/">Featured Posts</a></li>
                    
                    
                    <li><a href="/about/">About</a></li>
                
                </ul>

	        </div>


            <div id="content">
	
            
            
            
            
                <div id="toolbarcolumn_left"></div>


            
                
                <div id="toolbarcolumn_right"></div>
            
            
            

                <div id="maincolumn" style="overflow-x: hidden;">


                    <h1>Server Error!</h1>
                    
                    <p>Oh noes! Something went wrong on our end. Send us an email at <a href="mailto:support@my.ewb.ca">support@my.ewb.ca</a> and let us know what happened.</p>
                    <p>Thanks for the help - and sorry for the inconvenience!</p>

                </div>
            </div>
        </div>
        
        <div id="footer">
            <ul class="legal">
            	<li><a href="/about/terms/">Terms of Use</a></li>
            	<li><a href="/about/privacy/">Privacy Policy</a></li>
                <li>&copy; 2005&ndash;10 <a href="http://www.ewb.ca/">EWB-ISF Canada</a></li>

            	
            </ul>
        </div>

        
        
        
        
    </div>

</body>
</html>