{% load i18n %}
{% load git_revision %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if SITE_NAME %}{{ SITE_NAME }} &raquo; {% endif %}{% block head_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form/uni-form.css" />    
        <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form/default.uni-form.css" />            
		<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/accounts.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/toolbars.css" />    
		<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb2.css" />
		<script src="{{ STATIC_URL }}/js/jquery.js" type="text/javascript"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/jquery.tinymce.js"></script> 
		<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script> 
		{% block extra_head %}{% endblock %}
    </head>

    <body id="bodybackground" class="{% block body_class %}{% endblock %}" style='min-width: 0; width: auto;'>
    <div id="maincontainer">
        
        {% block body_outer %}
        <div id="body">
			<div id="content">
	
            <div id="toolbarcolumn_left">{% spaceless %}
                {% block toolbar_left %}
                    {% comment %}
                        Sub-classing templates should use the toolbarheader and
                        toolbarcontent classes to ensure toolbars look good!
                    
                        ie:
                    
                        <div class="toolbarheader">Toolbar Title</div>
                        <div class="toolbarcontent">Toolbar content</div>
            
                        <div class="toolbarheader">Toolbar2 Title</div>
                        <div class="toolbarcontent">Toolbar2 content</div>
                    
                    {% endcomment%}
                {% endblock %}
            {% endspaceless %}</div>


            {% block toolbarcolumn_right_top %}{% endblock %}
                
                <div id="toolbarcolumn_right">{% spaceless %}
                    {% block toolbar_right %}
                        {# same scheme as toolbarcolumn_left #}
                    {% endblock %}            
                {% endspaceless %}</div>
            
            
            {% block toolbarcolumn_right_bottom %}{% endblock %}

            <div id="maincolumn" style="overflow-x: hidden;">

                {% block body %}

                {% endblock %}
            </div>
    
			<div class="clear"></div>
			</div>
        </div>
        {% endblock %}
        
        <div id="footer">{% block footer %}{% endblock %}</div>
        
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
        
    </div>

    </body>
</html>
