{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load group_tags %}
{% load tagging_tags %}
{% load events_tags %}

{% block extra_head %}
    {{ block.super }}
    
    <link rel="alternate" type="application/rss+xml" title="myEWB Front Page" href="{% url topic_feed "all" %}" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbars.css" />    
{% endblock %}


{% block head_title %}{% trans "Discussion Board" %}{% endblock %}

{% block body %}

    {% if can_adminovision %}
        <p style="margin-top: 0; text-align: right;">
            {% spaceless %}
                <a href="{% url topic_adminovision %}">
                    {% if adminovision %}
            			Turn off adminovision
            		{% else %}
            			Turn on adminovision
            		{% endif %}
            	</a>
            {% endspaceless %}
        </p>
    {% endif %}
    
    {% autopaginate topics 10 %}
    
    {% for topic in topics %}
        {% include "topics/topic_item.html" %}
    {% endfor %}
    
    {% paginate %}
            
{% endblock %}

{% block toolbar_left %}
    {% if user.is_authenticated %}
        <div class="toolbarheader bkgd">{% trans "At A Glance" %}</div>
        <div class="toolbarcontent">
            woot
        </div>
    {% else %}
        <div class="toolbarheader bkgd">{% trans "Sign In" %}</div>
        <div class="toolbarcontent">
            <form class="toolbarlogin" method="POST" action="{% url acct_login %}">
                {% for field in login_form %}
                    <div style="padding-bottom: 7px;">
                        {{ field.label_tag }} &nbsp;&nbsp;&nbsp;
                        {{ field }}
                    </div>
                {% endfor %}
                <div style="text-align: center;">
                    <input type="submit" value="{% trans "sign in" %} &raquo;" /><br/>
                    <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
                </div>
            </form>
        </div>
    {% endif %}
            
    <div class="toolbarheader bkgd">{% trans "Upcoming Events" %}</div>
    <div class="toolbarcontent" style="padding: 2px; overflow: none;">
        {% events_widget user %}
        <a href="{% url events_all %}">{% trans "more events" %} &raquo;</a>
    </div>
    
    <div class="toolbarheader bkgd">{% trans "Who's Online" %}</div>
    <div class="toolbarcontent">
        {% for online in online_users %}
            <a href="{% url profile_detail online %}">{{ online.first_name }} {{ online.last_name }}</a><br/>
        {% endfor %} <br/>
        and {{ online_anon }} guests
    </div>
{% endblock %}

{% block toolbar_right %}
    {# put this in its own file, since its so big (and others like kyle may want to edit it #}
    {% include "frontpage-right.html" %}
{% endblock %}            

