{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load pagination_tags %}
{% load group_tags %}
{% load tagging_tags %}
{% load events_tags %}
{% load cache %}

{% block extra_head %}
    {{ block.super }}
    
    <link rel="alternate" type="application/rss+xml" title="myEWB Front Page" href="{% url topic_feed_all %}" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbars.css" />   
	
	
	
	
	
	{# JS here for the frontpage ajax updates #}
<script type="text/javascript">
// Frontpage Ajax updates

	var currentURL = "";
	
	var shortPosts = false; 

	function load_posts(url)
	{
		  if (url == "")
			  url = "/";
			  
         if(url.indexOf('ajax') == -1)   // since pagination has it pre-tacked on
         {
		  url = url + "?ajax=1";
		 } 
		 
		 
		  {% if not current_timezone %}
		  	var d = new Date();
		  	url = url + "&tzoffset=" + d.getTimezoneOffset();
		  {% endif %}
		  
		  
		  if(shortPosts) {
		      if(url.indexOf('&short=1')==-1) {
    		      url = url + "&short=1";
		      }
		      
		  } else {
		      // url should *not* have &short=1 in it - kept by the pagination deal otherwise
		      url = url.replace('&short=1','')
		  }
		  
		  currentURL = url;
		  
		  $('#topiclisting').hide();
		  $('.frontpage-loading').show();

		  $('#topiclisting').load(url,
			function() {
      		  $('.frontpage-loading').hide();
			  $('#topiclisting').show();

			  $('.pagination a').click(function() {
				  if (currentURL.indexOf('?') != -1)
					  currentURL = currentURL.substring(0, currentURL.indexOf('?'));
					  
				  load_posts(currentURL + $(this).attr('href'));
				  
				  if(shortPosts!=true)
				  {
				    $().scrollTo(0,600);
				  }
				  return false;
	  		  });

		    }
		  );				  
	}
	
	$(document).ready(function() {
		$('.frontpage-update').click(function() {
		  $('.frontpage-mygroups-actions').hide();
		  $('.frontpage-mygroups-actions').parent().removeClass('bkgd-light');
			  
		  $(this).parent().addClass('bkgd-light');
		  $(this).siblings('.frontpage-mygroups-actions').show();
		  var groupSlug = $(this).attr("id").substring(17);
		  load_posts('/groups/' + groupSlug + '/posts/');
		  //$('.frontpage-reset').show();
		  return false;
		});
		
		$('.frontpage-reset').click(function() {
		  $('.frontpage-mygroups-actions').hide();
		  $('.frontpage-mygroups-actions').parent().removeClass('bkgd-light');
		  load_posts('{{request.url}}');
		  //$('.frontpage-reset').hide();
		  return false;
        });
		
		load_posts('{{request.url}}');
	});
 
 </script>
 
 
{% endblock %}

{% block frontpagerightJS %}
            function toggleFrontpageToolbar() {
                $('#toolbarcolumn_right_container').toggle();
                $('#toolbarcolumn_right_show').toggle();
                
                {% if user.is_authenticated %}
                    
                    var action = "";
                    if (! $('#toolbarcolumn_right_container').is(':visible'))
                        action = "close";
                    else
                        action = "show";
                    
                    $.ajax({
                      url: "{% url profile_toolbar_action %}" + action + "/" + "toolbarcolumn_right_container" + "/",
                      cache: false,  // this prepends another query onto the end with a timestamp - make sure it doesn't mix up the handler page?
                    });
                {% endif %}
                {# state saving only works if youre logged in, so only really try then #}

                                

            }
            
            $('.frontpagetoolbarToggles').click(function(){	
                toggleFrontpageToolbar();

          	  });
          	  
          	  
            $('#collapse-posts').click(function(){	
                $('div.postcontent').slideUp(); $('div.postheader').addClass('shortpost'); $('#collapse-posts').hide(); $('#expand-posts').show(); 
                shortPosts = true;
                return false;

          	  });
          	  
            $('#expand-posts').click(function(){	
          	   $('div.postcontent').slideDown(); $('div.postheader').removeClass('shortpost'); $('#expand-posts').hide(); $('#collapse-posts').show(); 
          	   
                shortPosts = false;
          	   return false;
          	  
          	   });

{% endblock %}


{% block head_title %}{% trans "Discussion Board" %}{% endblock %}

{% block body %}

	<div class="frontpage-loading">Loading...</div>     
 
 	<div id="topiclisting">
 		{% comment %}
		{% ifequal mode "newposts" %}
			<h2>{% trans "New posts since last sign-in" %}</h2>
		{% endifequal %}

		{% ifequal mode "newreplies" %}
			<h2>{% trans "New replies since last sign-in" %}</h2>
		{% endifequal %}

		{% ifequal mode "featured" %}
			<h2>{% trans "Featured Posts" %}</h2>
		{% endifequal %}

	    {% autopaginate topics 10 %}
    
	    {% for topic in topics %}
        	{% include "topics/topic_item.html" %}
    	{% endfor %}
    
    	{% paginate %}
    	{% endcomment %}
    </div>
            
{% endblock %}

{% block toolbar_left %}
    {% if user.is_authenticated %}
    
        
        
		{% ifnotequal mode "newposts" %}
			{% ifnotequal mode "newreplies" %}
				{% ifnotequal mode "featured" %}
        {# my groups #}
        {% cache CACHE_TIMEOUT "frontpagegroups" user.username LATEST_POST CACHE_STAMP adminovision %} 
        <div class="toolbarheader bkgd" id="box-frontpage-mygroups">{% trans "Latest posts" %}</div>
        <div class="toolbarcontent">
        
				<a href="#" class="frontpage-reset" {#style="display: none;"#}>All posts{% if posts_since_login %}&nbsp;&nbsp;<small>({{posts_since_login}} recent){% endif %}</small></a>

             	{% for group in user.get_groups %}
             		{% if not group.recent_topic_count %}
             		<div class="frontpage-mygroups-nonew" style="display: none;">
             		{% endif %}
	                <div class="frontpage-mygroups-div">
	                	<a href="#" class="frontpage-update" id="frontpage-update-{{ group.slug }}">{{ group.name }}</a>
	                	{% if group.recent_topic_count %}&nbsp;&nbsp;<small>({{group.recent_topic_count}} recent)</small>{% endif %}

		                <div class="frontpage-mygroups-actions">
		                	{# {{group.recent_topic_count}} recent posts<br/> #}
		                	<a href="{% groupurl topic_new group %}">New post &raquo;</a><br/>
		                	<a href="{% url group_detail group.slug %}">View group info &raquo;</a>
		                </div>
		            </div>
             		{% if not group.recent_topic_count %}
             		</div>
             		{% endif %}
            	{% endfor %}
            	<div style="text-align: right;">
            		<a href="#" onclick="$('.frontpage-mygroups-nonew').slideToggle(); {#$(this).hide();#} return false;">show all</a>
            		
            		{% if can_adminovision %}
                    {% spaceless %}
                        <br/><a href="{% url topic_adminovision %}">
                            {% if adminovision %}
                    			Turn off adminovision
                    		{% else %}
                    			Turn on adminovision
                    		{% endif %}
                    	</a>
                    {% endspaceless %}
           	{% else %}
               	{% if can_execovision %}
               		{% spaceless %}
               			<br/><a href="{% url topic_adminovision %}">
                		{% if adminovision %}
                			Turn off execovision
                		{% else %}
                			Turn on execovision
                		{% endif %}
                		</a>
                	{% endspaceless %}
                {% endif %}
           	{% endif %}
            		
            		
	<span style="display:block;margin-top:4px;">
		<a href="#" id="collapse-posts">collapse posts</a>
		<a href="#" id="expand-posts" style="display: none;">show post previews</a>
	</span>
            		
            	</div>
        </div>
        {% endcache %}
        {% endifnotequal %}
        {% endifnotequal %}
        {% endifnotequal %}
        
        
    {% else %}
        <div class="toolbarheader bkgd">{% trans "Sign In" %}</div>
        <div class="toolbarcontent">
            <form class="toolbarlogin" method="POST" action="{% url acct_login %}">
                {% for field in login_form %}
                    <div style="padding-bottom: 7px;">
                        {{ field.label_tag }} &nbsp;&nbsp;&nbsp;
                        {{ field }}
                    </div>
                {% endfor %}
                <div style="text-align: center;">
                    <input type="submit" value="{% trans "sign in" %} &raquo;" /><br/>
                    <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
                </div>
            </form>
        </div>
    {% endif %}
            
    <div class="toolbarheader bkgd"  id="box-happening">{% trans "Happening in EWB" %}</div>
    <div class="toolbarcontent" style="padding: 2px; overflow: none;">
        {% events_widget user %}
        <div style="text-align: right;">
            <a href="{% url events_all %}">{% trans "more events" %} &raquo;</a>
        </div>
    </div>
    
    <div class="toolbarheader bkgd" id="box-online">{% trans "Who's Online" %}</div>
    <div class="toolbarcontent">
        {% for online in online_users %}
            <div style="padding-bottom: 4px;"><a href="{% url profile_detail online %}">{{ online.visible_name }}</a></div>
        {% endfor %} <br/>
        {% if online_anon %}
        	and {{ online_anon }} guest{{ online_anon|pluralize }}
        {% endif %}
    </div>
    
    <div class="toolbarheader bkgd" id="box-status">{% trans "myEWB status" %}</div>
    <div class="toolbarcontent">
 		<img src="{{STATIC_URL}}images/status_icons/svn_conflicted.png" style="float: left; padding: 0.8em 3px 0 0;"/>
 		myEWB is: <br/>
    	<a href="{% url about %}#status">online with minor problems</a> 
		{% comment %}
		<img src="{{STATIC_URL}}images/status_icons/bug.png" style="float: left; padding: 0.1em 3px 0 0 ;"/>
		myEWB is: <br/>
		<a href="{% url about %}#status">online with some bugs</a>
		{% endcomment %}
		
		<br/>
<br/><em><b>Update, 3:30pm EST</b> myEWB's email delivery system should be working again. If you have any outstanding issues, <a href="mailto:feedback@my.ewb.ca">let us know</a> - thanks!</em>
		
		
    </div>
{% endblock %}

{% block toolbar_right %}
    {# put this in its own file, since its so big (and others like kyle may want to edit it #}
    {% include "frontpage-right.html" %}
{% endblock %}      

{% block toolbarcolumn_right_top %}
            <div id="toolbarcolumn_right_container">


                <div id="box-around-ewb-rightbar" class="toolbarheader-wide bkgd frontpagetoolbarToggles">Essential EWB</div>
{% endblock %}

{% block toolbarcolumn_right_bottom %}
</div>


<div id="toolbarcolumn_right_show" class="blue frontpagetoolbarToggles" style="display:none;">
            +
            </div>

{% endblock %}      

{% block extra_body %}
{% comment %}
    <script type="text/javascript">
      // from http://stackoverflow.com/questions/619773/filter-out-replies-in-a-twitter-feed
      function filterCallback( twitter_json ) {
        var result = [];
        for(var index in twitter_json) {
          if(twitter_json[index].in_reply_to_user_id == null) {
            result[result.length] = twitter_json[index];
          }
          if( result.length==4 ) break; // Edit this to change the maximum tweets shown
        }
        twitterCallback2(result); // Pass tweets onto the original callback. Don't change it!
      }
    </script>
    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
    <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/ewb.json?callback=filterCallback&amp;count=10"></script>
{% endcomment %}
{% endblock %}
