{# Put this in its own file, just because it's so big... #}

<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb-frontright.css" />    

{# <div id="toolbarcolumn_right2"> #}
        <div>
                <div class="toolbarheader_right"><a href="http://vision.ewb.ca" target="_blank" class="barheaderlink">Read about EWB's new direction</a></div>
                <div class="toolbarcontent_right">
                    <ul class="postlinklist">
                        <li>&raquo; EWB Direction (<a href="http://vision.ewb.ca/sites/vision.ewb.ca/files/direction.pdf" target="_blank">pdf</a>) (<a href="http://vision.ewb.ca/node/148" target="_blank">browse</a>)</li>
                        <li>&raquo; EWB Values (<a href="http://my.ewb.ca/postfile/69028/EWB+Values_and_Beliefs.pdf" target="_blank">pdf</a>) (<a href="http://vision.ewb.ca/node/150" target="_blank">browse</a>) <span style="color: red;">updated!</span></li>
                        <li><a href="http://www.ewb.ca/book" target="_blank">&raquo; "Good luck, and don't have sex: The makings of a sophisticated development organization"</a><br/>the EWB story so far</li>
                    </ul>

                    <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://vision.ewb.ca" class="more" target="_blank">learn more about EWB &raquo;</a></p>
                </div>
        </div>

        <div>
                <div class="toolbarheader_right"><a href="http://www.youtube.com/user/ewbcanada" target="_blank" class="barheaderlink">Watch EWB Videos</a></div>
                <div class="toolbarcontent_right">

                <div id="ewbbc">
                <div id="ewbbc-flash">

{#<object width="280" height="172"><param name="movie" value="http://www.youtube.com/v/fiaP1owlMCY&hl=en_US&fs=1&rel=0&color1=0xe1600f&color2=0xfebd01"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/fiaP1owlMCY&hl=en_US&fs=1&rel=0&color1=0xe1600f&color2=0xfebd01" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="280" height="172"></embed></object> #}
youtube here (removed cuz it takes a while to load!)
                </div> <!-- ewbbc-flash -->
                </div> <!-- ewbbc -->

                <p align="left" style="padding: 0px; margin 0px; margin-left: 0px; margin-right: 6px;"><strong>Featured videos</strong></p>
                <ul class="postlinklist">
                        <li><a href="http://www.youtube.com/watch?v=eOg88HxOm7A" target="_blank">&raquo; EWB World of Opportunity</a></li>
                        <li><a href="http://www.youtube.com/watch?v=NyDcGWxGkjM" target="_blank">&raquo; EWB's Impact in 2009</a></li>
                        <li><a href="http://www.youtube.com/watch?v=1jbAzBOmbI0" target="_blank">&raquo; Impact d'ISF en 2009</a></li>
                </ul>

                <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://www.youtube.com/user/ewbcanada" class="more" target="_blank">more videos from EWB &raquo;</a></p>

                </div> <!-- toolbarcontent_right -->
        </div>


        <div>
                <div class="toolbarheader_right"><a href="http://www.ewb.ca/en/whatsnew/index.html" target="_blank" class="barheaderlink">What's New @ EWB</a></div>
                <div class="toolbarcontent_right">
                <ul class="postlinklist">
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091217_one.html">World of Opportunity: Together we have raised $100,000!</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091214_ghanarice.html">EWB promotes local rice during campaign to support Ghanaian rice farmers</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091211_values.html">EWB Releases its newly articulated Values and Beliefs</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091208_water.html">Exponential Change: Investing in the leaders who bring clean water to Malawi</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091203_agric.html">Unlocking the potential of rural farmers in Ghana</a></li>

                </ul>
                <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://www.ewb.ca/en/whatsnew/index.html" class="more" target="_blank">See what else is new &raquo;</a></p>

                </div>
        </div>

        <div>
                <div class="toolbarheader_right"><a href="http://blogs.ewb.ca/ceo" target="_blank" class="barheaderlink">Learn from our Co-CEO and overseas volunteers blogs</a></div>
                <div class="toolbarcontent_right">
                <ul class="postlinklist">
                        <li><a href="http://blogs.ewb.ca/ceo/2009/11/08/what-is-social-innovation/" target="_blank">What is social innovation?</a> - Musings from EWB's Co-CEOs</li>
                        <li><a href="http://blogs.ewb.ca/ceo/2009/10/06/living-wills-for-development-projects/" target="_blank">"Living Wills" for devleopment projects?</a> - Musings from EWB's Co-CEOs</li>
                </ul>

                        <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://blogs.ewb.ca/ceo" class="more" target="_blank">more from the co-CEOs &raquo;</a></p>

                <ul class="postlinklist">
                        <li><a href="http://www.whereintheworldiscolleen.com/?p=845" target="_blank">GHANA! First impressions</a> - Colleen Duncan, Ghana</li>
                        <li><a href="http://sarahkgrant.blogspot.com/2009/07/use-what-you-have-to-secure-what-you.html" target="_blank">Use what you have to secure what you have not</a> - Sarah Grant, Ghana</li>
                        <li><a href="http://atdaybreak.wordpress.com/" target="_blank">Probably looked better on paper</a> - The First Mile, three Southern Africa volunteers</li>
                        <li><a href="http://blogs.ewb.ca/complexity/" target="_blank">Excitement Based Decision Making</a> - From the Edge of Complexity blog - Jon Fishbein</li>
                </ul>
                </div>
        </div>

       <div>
                <div class="toolbarheader_right"><a href="http://chapters.ewb.ca" target="_blank" class="barheaderlink">Access resources for chapters and individual action</a></div>
                <div class="toolbarcontent_right">

                <ul class="postlinklist">
                        <li><a href="http://www.wiki.ewb.ca/en/Welcome" target="_blank">Orangeapedia - The change resource</a><br/>
                        Check out the Orange Wiki of Change. All the answers to all of your questions from fundraising secrets to role descriptions, to how to run an amazing meeting!</li>
                        <li><a href="http://chapters.ewb.ca/index.php?path=/curriculum-enhancement/curriculum-resources" target="_blank">Curriculum enhancement library</a> - brand new!<br/>
                        Access more than 60 resources, from case studies to presentations to full courses, that will help you enhance engineering education at your University.!</li>
                        <li><a href="http://chapters.ewb.ca/index.php?path=/public-outreach-and-advocacy/our-work/fair-trade" target="_blank">Fair Trade - Direction, Discussions, Debates</a><br/>
                        Encouraging Canadians to buy Fair Trade products, and understand what that action means, is one of our focuses organizationally. Check out this resource to learn all about Fair Trade in EWB.</li>
                        <li><a href="http://www.wiki.ewb.ca/en/Impact_chain" target="_blank">Foundational learning - The Impact Chain</a><br/>
                        Learn all about The Impact Chain, EWB's tool for planning and analyzing how the actions we all take together lead to the impact we desire.</li>
                </ul>

                        <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://chapters.ewb.ca" class="more" target="_blank">more resources &raquo;</a></p>

                </div>
        </div>

        <div>
                <div class="toolbarheader_right"><a href="http://twitter.com/ewb" class="barheaderlink">Follow us on twitter</a></div>
                <div class="toolbarcontent_right">

                    <ul id="twitter_update_list" class="postlinklist">
                    <li>twitter here.  also takes too long to load.</li>
                    </ul>

                    <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://twitter.com/ewb" class="more" id="twitter-link" target="_blank">follow us on Twitter &raquo;</a></p>
                </div>
        </div>
{# </div> #}

