{# Put this in its own file, just because it's so big... #}

<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb-frontright.css?d=20100608c" />

{# <div id="toolbarcolumn_right2"> #}
{% comment %}
        <div>
                <div class="toolbarheader_right">The myEWB 1.5 Scavenger Hunt!</div>
                <div class="toolbarcontent_right">
                    Welcome to the new myEWB!  We hope you like it. Be sure to send us your feedback by clicking the orange tab on the right - thanks!
                    <ul class="postlinklist">
                        <strong>Push all of the buttons!</strong>
                            
                        <li>toggle-able toolbars</li>
                        <li>hide and show the Around EWB section here</li>
                        <li>rock the dynamic homepage by clicking the links under "Latest posts"</li>
                        <li>find and edit your chapter's whiteboard</li>
                        <li>add a new profile pic to your account</li>
                        <li>join a bunch of interesting communities!</li>
                        

                        <strong>For bonus points</strong>

                        <li>share contact information with 5 people you know!</li>
                        <li>send a message to someone you haven't seen since Conference!</li>
                        <li>create your own community!</li>
                        <li>apply for an APS placement! (kidding, that's coming soon)</li>
                    </ul>

                </div>
        </div>
        
{% endcomment %}
        <div>
                <div class="toolbarcontent_right">
                    <ul class="postlinklist">
                        <li>&raquo; EWB Direction (<a href="http://vision.ewb.ca/sites/vision.ewb.ca/files/direction.pdf" target="_blank">pdf</a>) (<a href="http://vision.ewb.ca/node/148" target="_blank">browse</a>)</li>
                        <li>&raquo; EWB Values (<a href="http://my.ewb.ca/postfile/69028/EWB+Values_and_Beliefs.pdf" target="_blank">pdf</a>) (<a href="http://vision.ewb.ca/node/150" target="_blank">browse</a>)</li>
                        <li>&raquo; <a href="http://chapters.ewb.ca/" target="_blank">Chapter resources</a></li>
                        <li>&raquo; <a href="http://wiki.ewb.ca/" target="_blank">Orange Wiki of Change</a></li>
                        <li>&raquo; <a href="http://vision.ewb.ca/" target="_blank">EWB Vision</a></li>

                    </ul>
{% comment %}
                </div>
        </div>


        <div>
             <div class="toolbarcontent_right">               
{% endcomment %}<br/>
                <div id="ewbbc">
                <div id="ewbbc-flash">

{% if not grandfathered %}

<object width="280" height="172"><param name="movie" value="http://www.youtube.com/v/WY9u-Q2YWFM&hl=en_US&fs=1&color1=0xe1600f&color2=0xfebd01"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/WY9u-Q2YWFM&hl=en_US&fs=1&color1=0xe1600f&color2=0xfebd01" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="280" height="172"></embed></object>
{#youtube here (removed cuz it takes a while to load!)#}

{% endif %}

                </div> <!-- ewbbc-flash -->
            </div> <!-- ewbbc -->

                <div style="text-align: right; padding: 3px 0; margin-top: 0; margin-right: 6px; font-size: 11px;"><a href="http://www.youtube.com/user/ewbcanada" class="more" target="_blank">more videos from EWB &raquo;</a></div>

                </div> <!-- toolbarcontent_right -->
        </div>
        
        
        
        
        {# profile #}
        <div>
                <div class="toolbarheader_right"><a href="http://ewb.ca/africa" target="_blank">African Leader profile</a></div>
                <div class="toolbarcontent_right">
                    <img src="{{ MEDIA_URL }}images/frontpage-right/ajuratu.jpg" style="float:right; padding-left:4px; padding-bottom:4px;"/><span><strong>Ajuratu Alurigo</strong> is a tomato farmer in Bukere, Northern Ghana, and part of the Women in Extension Volunteers group in the area.<br/><em>"Now I am trained to help my community grow their produce in a better way. I don't want my community to suffer any more, and I believe that by working together as a united people we can do anything. Someday we will be strong and our communities will prosper."</em></span>                    
                    
                </div>
        </div>
        
        

{% comment %}
        <div>
                <div class="toolbarheader_right"><a href="http://www.ewb.ca/en/whatsnew/index.html" target="_blank" class="barheaderlink">What's New @ EWB</a></div>
                <div class="toolbarcontent_right">
                <ul class="postlinklist">
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091217_one.html">World of Opportunity: Together we have raised $100,000!</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091214_ghanarice.html">EWB promotes local rice during campaign to support Ghanaian rice farmers</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091211_values.html">EWB Releases its newly articulated Values and Beliefs</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091208_water.html">Exponential Change: Investing in the leaders who bring clean water to Malawi</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091203_agric.html">Unlocking the potential of rural farmers in Ghana</a></li>

                </ul>
                <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://www.ewb.ca/en/whatsnew/index.html" class="more" target="_blank">See what else is new &raquo;</a></p>

                </div>
        </div>
{% endcomment %}

        <div>
                <div class="toolbarheader_right"><a href="http://blogs.ewb.ca/" target="_blank" class="barheaderlink" title="Blogs below last updated: June 9, 2010 - Click here for the latest!">EWB Blogs</a></div>
                <div class="toolbarcontent_right">
                <ul class="postlinklist">
                        <li>&raquo; <a title="from Colleen Duncan's blog" href="http://www.whereintheworldiscolleen.com/archives/1148" target="_blank">What Motivates You?</a></li>
                        
                        <li>&raquo; <a title="from Duncan McNicholl's blog" rel="bookmark" href="http://waterwellness.ca/2010/06/07/carving-a-canoe/" target="_blank">Carving a Canoe</a></li>


                        {#<p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://blogs.ewb.ca/ceo" class="more" target="_blank">more from the co-CEOs &raquo;</a></p>#}

                        <li>&raquo; <a title="from Sarah's JF blog" rel="bookmark" href="http://sarahsgonetoghana.wordpress.com/2010/06/04/all-gingered-up/">All 'Gingered'&nbsp;Up</a></li>
                        
                        <li>&raquo; <a title="from Erin's JF blog" href="http://setforchange.wordpress.com/2010/06/04/fertile-ground/" target="_blank">Fertile Ground</a></li>
                        
                        <li>&raquo; <a title="from Lucas's JF blog" href="http://ualberta.ewb.ca/node/138" target="_blank">Agrodealers</a></li>
                        
                        
                </ul>
{#                <span class="lighter">Updated May 21, 2010<br/><a href="mailto:feedback@my.ewb.ca?subject=Blogs">Suggestions for blogs to highlight?</a></span> #}
                </div>
        </div>

        <div>
                <div class="toolbarheader_right"><a href="http://twitter.com/ewb" class="barheaderlink">Across the country</a></div>
                <div class="toolbarcontent_right" style="padding: 0px;">

				<div id="twitterbar" style="margin-left: -1px;">
				<style>
				.twtr-hd
				{
				  display: none;
				}
				.twtr-doc, .twtr-timeline
				{
				  -moz-border-radius-bottomleft:0px;
				  -moz-border-radius-bottomright:0px;
				  -moz-border-radius-topleft:0px;
				  -moz-border-radius-topright:0px;
				}
				#twtr-widget-1 p
				{
				  font-size: 12px;
				}
				</style>
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'search',
				  search: '#ewb',
				  interval: 2000,
				  title: 'What are you doing? Tweet it with #ewb',
				  subject: 'Across The Country',
				  width: 301,
				  height: 750,
				  theme: {
				    shell: {
				      background: '#001f65',
				      color: '#ffffff'
				    },
				    tweets: {
				      background: '#ffffff',
				      color: '#444444',
				      links: '#0047ee'
				    }
				  },
				  features: {
				    scrollbar: true,
				    loop: false,
				    live: true,
				    hashtags: true,
				    timestamp: true,
				    avatars: true,
				    behavior: 'all'
				  }
				}).render().start();
				</script>
				
				</div>

                </div>
        </div>
{# </div> #}

