{# Put this in its own file, just because it's so big... #}

<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb-frontright.css" />    

{# <div id="toolbarcolumn_right2"> #}
        <div>
                <div class="toolbarheader_right">The myEWB 1.5 Scavenger Hunt!</div>
                <div class="toolbarcontent_right">
                    Welcome to the new myEWB!  We hope you like it. Be sure to send us your feedback by clicking the orange tab on the right - thanks!
                    <ul class="postlinklist">
                        <strong>Push all of the buttons!</strong>
                            
                        <li>toggle-able toolbars</li>
                        <li>hide and show the Around EWB section here</li>
                        <li>rock the dynamic homepage by clicking the links under "Latest posts"</li>
                        <li>find and edit your chapter's whiteboard</li>
                        <li>add a new profile pic to your account</li>
                        <li>join a bunch of interesting communities!</li>
                        

                        <strong>For bonus points</strong>

                        <li>share contact information with 5 people you know!</li>
                        <li>send a message to someone you haven't seen since Conference!</li>
                        <li>create your own community!</li>
                        <li>apply for an APS placement! (kidding, that's coming soon)</li>
                    </ul>

                </div>
        </div>
        
        
        <div>
                <div class="toolbarheader_right"><a href="http://vision.ewb.ca" target="_blank" class="barheaderlink">EWB Resources</a></div>
                <div class="toolbarcontent_right">
                    <ul class="postlinklist">
                        <li><a href="http://vision.ewb.ca" target="_blank">EWB's Vision</a></li>
                        <li><a href="http://my.ewb.ca/postfile/69028/EWB+Values_and_Beliefs.pdf" target="_blank">EWB's Values</a></li>
                        <li><a href="http://www.ewb.ca/book" target="_blank">The Book</a></li>
                        <li <a href="http://wiki.ewb.ca" target="_blank">The Orange Wiki</li>
                        <li <a href="http://chapters.ewb.ca" target="_blank">Chapters.ewb.ca</li>
                    </ul>

                    {#<p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://vision.ewb.ca" class="more" target="_blank">learn more about EWB &raquo;</a></p>#}
                </div>
        </div>

        <div>
                <div class="toolbarheader_right"><a href="http://www.youtube.com/user/ewbcanada" target="_blank" class="barheaderlink">Latest from the EWBBC</a></div>
                <div class="toolbarcontent_right">

                <div id="ewbbc">
                <div id="ewbbc-flash">

{% if not grandfathered %}

<object width="280" height="172"><param name="movie" value="http://www.youtube.com/v/c95wEDty3WI&hl=en_US&fs=1&color1=0xe1600f&color2=0xfebd01"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/c95wEDty3WI&hl=en_US&fs=1&color1=0xe1600f&color2=0xfebd01" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="280" height="172"></embed></object>
{#youtube here (removed cuz it takes a while to load!)#}

{% endif %}

                </div> <!-- ewbbc-flash -->
            </div> <!-- ewbbc -->
{% comment %}
                <p align="left" style="padding: 0px; margin 0px; margin-left: 0px; margin-right: 6px;"><strong>Featured videos</strong></p>
                <ul class="postlinklist">
                        <li><a href="http://www.youtube.com/watch?v=eOg88HxOm7A" target="_blank">EWB World of Opportunity</a></li>
                        <li><a href="http://www.youtube.com/watch?v=NyDcGWxGkjM" target="_blank">EWB's Impact in 2009</a></li>
                        <li><a href="http://www.youtube.com/watch?v=1jbAzBOmbI0" target="_blank">Impact d'ISF en 2009</a></li>
                </ul>
                
{% endcomment %}

                <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://www.youtube.com/user/ewbcanada" class="more" target="_blank">more videos from EWB &raquo;</a></p>

                </div> <!-- toolbarcontent_right -->
        </div>
        
        
        
        
        {# profile #}
        <div>
                <div class="toolbarheader_right"><a href="http://ewb.ca/africa" target="_blank">African Leader profile</a></div>
                <div class="toolbarcontent_right">
                    <img src="{{ MEDIA_URL }}images/frontpage-right/dambulaS.jpg" style="float:right; padding-left:4px; padding-bottom:4px;"/><span><strong>Chrispin Dambula</strong> is a district Water and Sanitation officer with WASH in Malawi, providing leadership to a number of water, sanitation, and hygiene projects.<br/><em>"My hope for the future is that rural communities will be empowered to use resources effectively and be able to fund their own projects without needing to depend on external aid."</em></span>                    
                    
                </div>
        </div>
        
        

{% comment %}
        <div>
                <div class="toolbarheader_right"><a href="http://www.ewb.ca/en/whatsnew/index.html" target="_blank" class="barheaderlink">What's New @ EWB</a></div>
                <div class="toolbarcontent_right">
                <ul class="postlinklist">
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091217_one.html">World of Opportunity: Together we have raised $100,000!</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091214_ghanarice.html">EWB promotes local rice during campaign to support Ghanaian rice farmers</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091211_values.html">EWB Releases its newly articulated Values and Beliefs</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091208_water.html">Exponential Change: Investing in the leaders who bring clean water to Malawi</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091203_agric.html">Unlocking the potential of rural farmers in Ghana</a></li>

                </ul>
                <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://www.ewb.ca/en/whatsnew/index.html" class="more" target="_blank">See what else is new &raquo;</a></p>

                </div>
        </div>
{% endcomment %}

        <div>
                <div class="toolbarheader_right"><a href="http://blogs.ewb.ca/" target="_blank" class="barheaderlink">EWB Blogs</a></div>
                <div class="toolbarcontent_right">
                <ul class="postlinklist">
                        <li><a title="from Colleen Duncan's blog" href="http://www.whereintheworldiscolleen.com/archives/1139" target="_blank">How should development workers live?</a></li>
                        
                        <li><a title="from Mark Hemsworth's blog" rel="bookmark" href="http://markhemsworth.blogspot.com/2010/05/visitors.html" target="_blank">Visitors - a photo update</a></li>


                        {#<p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://blogs.ewb.ca/ceo" class="more" target="_blank">more from the co-CEOs &raquo;</a></p>#}

                        <li><a title="from the At Daybreak blog" href="http://atdaybreak.wordpress.com/2010/05/08/not-money-transfers-an-agent-network/" target="_blank">Not money transfers, an agent&nbsp;network</a></li>
                        
                        <li><a title="from Whispers to Voices" href="http://whisperstovoices.wordpress.com/2010/05/17/mr-ali/" target="_blank">Peace and&nbsp;Solidarity</a></li>
                        
                        
                </ul>
                <span class="lighter">Updated May 21, 2010<br/><a href="mailto:feedback@my.ewb.ca?subject=Blogs">Suggestions for blogs to highlight?</a></span>
                </div>
        </div>


{% comment %}
       <div>
                <div class="toolbarheader_right"><a href="http://chapters.ewb.ca" target="_blank" class="barheaderlink">Access resources for chapters and individual action</a></div>
                <div class="toolbarcontent_right">

                <ul class="postlinklist">
                        <li><a href="http://www.wiki.ewb.ca/en/Welcome" target="_blank">Orangeapedia - The change resource</a><br/>
                        Check out the Orange Wiki of Change. All the answers to all of your questions from fundraising secrets to role descriptions, to how to run an amazing meeting!</li>
                        <li><a href="http://chapters.ewb.ca/index.php?path=/curriculum-enhancement/curriculum-resources" target="_blank">Curriculum enhancement library</a> - brand new!<br/>
                        Access more than 60 resources, from case studies to presentations to full courses, that will help you enhance engineering education at your University.!</li>
                        <li><a href="http://chapters.ewb.ca/index.php?path=/public-outreach-and-advocacy/our-work/fair-trade" target="_blank">Fair Trade - Direction, Discussions, Debates</a><br/>
                        Encouraging Canadians to buy Fair Trade products, and understand what that action means, is one of our focuses organizationally. Check out this resource to learn all about Fair Trade in EWB.</li>
                        <li><a href="http://www.wiki.ewb.ca/en/Impact_chain" target="_blank">Foundational learning - The Impact Chain</a><br/>
                        Learn all about The Impact Chain, EWB's tool for planning and analyzing how the actions we all take together lead to the impact we desire.</li>
                </ul>

                        <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://chapters.ewb.ca" class="more" target="_blank">more resources &raquo;</a></p>

                </div>
        </div>
        
{% endcomment %}

        <div>
                <div class="toolbarheader_right"><a href="http://twitter.com/ewb" class="barheaderlink">Across the country</a></div>
                <div class="toolbarcontent_right" style="padding: 0px;">

				<div id="twitterbar" style="margin-left: -1px;">
				<style>
				.twtr-hd
				{
				  display: none;
				}
				.twtr-doc, .twtr-timeline
				{
				  -moz-border-radius-bottomleft:0px;
				  -moz-border-radius-bottomright:0px;
				  -moz-border-radius-topleft:0px;
				  -moz-border-radius-topright:0px;
				}
				#twtr-widget-1 p
				{
				  font-size: 12px;
				}
				</style>
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'search',
				  search: '#ewb',
				  interval: 2000,
				  title: 'What are you doing? Tweet it with #ewb',
				  subject: 'Across The Country',
				  width: 301,
				  height: 750,
				  theme: {
				    shell: {
				      background: '#001f65',
				      color: '#ffffff'
				    },
				    tweets: {
				      background: '#ffffff',
				      color: '#444444',
				      links: '#0047ee'
				    }
				  },
				  features: {
				    scrollbar: true,
				    loop: false,
				    live: true,
				    hashtags: true,
				    timestamp: true,
				    avatars: true,
				    behavior: 'all'
				  }
				}).render().start();
				</script>
				
				</div>

                </div>
        </div>
{# </div> #}

