{% extends "base.html" %}

{% load i18n %}
{# {% load openid_tags %} #}
{% load ifsetting_tag %}
{% load analytics %}



{% block extra_head_base %}
		<link rel="SHORTCUT ICON" href="{{ STATIC_URL}}favicon.ico" />
		<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/social_project.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}base.js"></script>
		{% block extra_head %}{% endblock %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb2.css?d=20100629" />

		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-min.js"></script>		
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />


		<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb2-posts.css?d=20100629" /> 
		<link rel="stylesheet" href="{{ STATIC_URL }}css/segmented_control.css" />
		
		
		<script type="text/javascript">
		
//  External links in posts, etc., should open in a new window    
$(document).ready(function(){
	$(".textbody a[ href^='http']").attr('target','_blank');
	
	$(".openlinks a").attr('target','_blank');
});
		
		
        $(document).ready(function() {
    		  $('.toolbarheader').click(function(){	
                $(this).next().slideToggle();
                $(this).toggleClass('hidebox');
                if($(this).attr('id')) {
                    //console.log($(this).attr('id'));
                    
                    {% if user.is_authenticated %}
                    var action = "";
                    if ($(this).hasClass('hidebox'))
                        action = "close";
                    else
                        action = "show";
                    
                    $.ajax({
                      url: "{% url profile_toolbar_action %}" + action + "/" + $(this).attr('id') + "/",
                      cache: false,  // this prepends another query onto the end with a timestamp - make sure it doesn't mix up the handler page?
                      
                      //success: function(html){
                      //  console.log(html);
                      //}   // just for debugging; not actually required to send anything back.
                    });
                    {% endif %}
                    {# state saving only works if youre logged in, so only really try then #}
                    
                    
                } else {
                    //console.log('no id');
                }
                // indicates that the box *below* is hidden

          	  });
          	  
        {% block frontpagerightJS %}

          	  
        {% endblock frontpagerightJS %}
          	  
          	  

            // process saved settings, hide previously closed toolbars 
            {% for t in closed_toolbars %}
                {% ifequal t "toolbarcolumn_right_container" %}
                    $('#toolbarcolumn_right_container').hide();
                    $('#toolbarcolumn_right_show').show();
                {% else %}
                	var tbox = $('#{{ t }}');
                	tbox.next().hide();
                	tbox.addClass('hidebox');
            	
            	{% endifequal %}
            {% endfor %}
		
        });
        
	$(document).ready(function() {
        if (jQuery.browser.msie) {
           if(parseInt(jQuery.browser.version) == 6) {
                $('#ie6alert').html('<div>        <span>Uhoh.</span> Looks like you\'re using Internet Explorer 6. It\'s pretty sketchy with myEWB, so we\'d suggest upgrading to <a href="http://getfirefox.com" target="_blank" title="It\'s great.">Firefox</a>, <a href="http://www.google.com/chrome" target="_blank" title="It\'s great too.">Chrome</a>, or <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" title="...but preferably, one of the first two. :)">Internet Explorer 8</a>. Sorry!    </div>');
                $('#ie6alert').show();
           }
        }
    });
        
        
        
        
		</script>
		
{% endblock %}

{% block login %}
	{% ifnotequal request.path "/account/login/" %}
	<div class="login">
    {% if user.is_authenticated %}
		Signed in as <a class="username" href="{% url profile_detail user %}"><strong>{{ user.visible_name }}</strong></a>.
		<br/>
		<div id="inbox_count">
			<a href="{% url messages_inbox %}">{{ messages_inbox_count }} unread myEWB message{% ifnotequal messages_inbox_count 1 %}s{% endifnotequal %}</a>
		</div>
		{% if user.google_username %}
			This account is linked to <a href="http://mail.ewb.ca" target="_new">{{ user.google_username }}@ewb.ca</a><br/>
		{% endif %}
		
		<a class="signout" href="{% url acct_logout %}">{% trans "sign out" %}</a>
    {% else %}
        <a href="{% url acct_login %}?url={{request.path}}">{% trans "Login" %}</a>
{% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><strong>{% trans "Sign up" %}</strong></a>{% endifsetting %}
    {% endif %}
	</div>
	{% endifnotequal %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ STATIC_URL }}images/logos/title-graphic-worldcup.png" alt="Engineers Without Borders" border="0" title="Go Ghana!" /></a>{% endblock %}

{% block myewb_link_image %}{% endblock %}


{% block right_tabs %}
    <ul class="tabs">{% spaceless %}
        <li><a id="tab_home" class="blue" href="{% url home %}">{% trans "Home" %}</a></li>
        {% if user.is_authenticated %}
            <li><a id="tab_profile" class="green" href="{% url profile_detail user %}">{% trans "Profile" %}</a></li>
        {% else %}
            <li><a id="tab_profile" class="green" href="{% url acct_signup %}">{% trans "Sign Up" %}</a></li>
        {% endif %}
        <li><a id="tab_networks" class="yellow" href="{% url networks_index %}">{% trans "Chapters" %}</a></li>
        <li><a id="tab_communities" class="orange" href="{% url communities_index %}">{% trans "Communities" %}</a></li>
        <li><a id="tab_events" class="red" href="{% url events_all %}">{% trans "Events" %}</a></li>
        <li><a id="tab_volunteering" class="purple" href="{% url applications %}">{% trans "Volunteering" %}</a></li>
    {% endspaceless %}</ul>
{% endblock %}

{% block subnav %}
{% endblock %}

{% block footer %}
<ul class="legal">
	<li><a href="{% url terms %}">Terms of Use</a></li>
	<li><a href="{% url privacy %}">Privacy Policy</a></li>
    <li>&copy; 2005&ndash;{% now "y" %} <a href="http://www.ewb.ca/">{% trans "EWB-ISF Canada" %}</a></li>
	{% if user.is_staff %}<li><a href="/admin/">{% trans "Admin" %}</a></li>{% endif %}
	{% block locale_switcher %}
		<li>
	    <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
	        <select name="language" onchange="$('#locale_switcher').submit()">
	            {% for lang in LANGUAGES %}
	                <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
	            {% endfor %}
	        </select>
	    </form>
		</li>
	{% endblock %}
	
	<li>timezone: 
		<form action="{% url timezone_switch %}" method="post" id="language-switcher">
			<select name="timezone" onchange="$('#language-switcher').submit()">
				<option value="auto">auto-detect {% if detected_timezone %}({{detected_timezone}}){% endif %}</option>
				{% for tz in timezones %}
					<option value="{{tz}}" {% ifequal tz current_timezone %}selected="selected"{% endifequal %}>{{ tz }}</option>
				{% endfor %}
			</select>
			<input type="hidden" name="redirect" value="{{ request.path }}"/>
		</form>
	</li>
</ul>

{% include "feedbackform.html" %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-907833-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

{% endblock %}

{% block extra_body_base %}
    {#{% urchin %}    #}
    
    {# javascript keepalive for who's online counter #}
    <script type="text/javascript">
    function keepalive()
    {
        jQuery.get('{% url whosonline_refresh %}',
                function(data)
                {
            		$('#box-online-contents').html(data);
            		var new_inbox = $('#box-online-contents div#inbox_count_ajax').html()
               		$('#inbox_count').html(new_inbox);
                });
        setTimeout('keepalive()', 5 * 60 * 1000);
    }
                        
    $(document).ready(function() {
        setTimeout('keepalive()', 5 * 60 * 1000);
    });
    
    </script>
    
    {% block extra_body %}{% endblock %}
    
    {% if grandfathered %}
	<link type="text/css" href="{{STATIC_URL}}css/colorbox.css" rel="stylesheet" />
	<script type="text/javascript" src="{{STATIC_URL}}js/colorbox.js"></script>
    <script type="text/javascript">
	    $(document).ready(function() {
	    	$.fn.colorbox({	inline:true,
		    				href:'#welcomescreen',
		    				width:'80%',
		    				height:'80%',
		    				opacity:'0.7',
		    				overlayClose:false});
	    });
    </script>
    <style>
    #welcomescreen li { font-size: 12px; line-height: 18px; }
    </style>
    
    <div style="display: none;">
     	<div id="welcomescreen">
     		<img src="{{STATIC_URL}}images/ninja.gif" style="float: right; padding: 5px;"/>
     		<img src="{{STATIC_URL}}images/logos/title-graphic.png"/>
     		<h2>Welcome to the new myEWB<br/>
     		<em style="font-size: 10px; position: relative; top: -8px; padding-left: 5px;">slightly more awesome</em></h2>
    		
    		<p>
    			Over the past year, we've been busy at work on this myEWB release.  While it's the 
    			same myEWB that's served us well over the past five years, we've brought it into the garage,
    			rebuilt the engine, done some body work, and are preparing for some really exciting changes 
    			over the summer.
    		</p>
    		
    		<p>
    			<strong>What's new?</strong><br/>
    			Our work was mostly behind the scenes, rewritting myEWB from the ground up.  The new 
    			re-written platform is much more agile (agile like a fox!), allowing us to push new features out faster.  
    			And we were also able to sneak in some pretty cool upgrades:
    			<ul>
    				<li>a "remember me" checkbox when you're logging in!</li>
    				<li>a rich text editor for new posts (instead of those pesky stars and hat signs for formatting)</li>
    				<li>options to have posts emailed to you automatically after you start or reply to a post</li>
    				<li>communities that anyone can create to do cool EWB stuff, both in and out of chapters</li>
					<li>a friends and messaging system making it easy for EWBers to keep in touch (really, Facebook, we didn't copy you!)</li>
					<li>and for chapter execs, better member management options instead of CSV files!</li>
    			</ul>
    		</p>
    		
    		<p>
    			<strong>What's coming up?</strong><br/>
    			This is the first step toward the <em>myEWB 2.0</em> we've been talking about.  We have 
    			a lot of exciting plans for the summer, including a new CHAMP (finally... we know!) and new tools to enhance our 
    			online community.  Stay tuned!
    		</p>
    		
    		<p>
    			With these cool new changes, and to better reflect our future direction, we have made some small changes
    			to the <a href="{% url privacy %}" target="_new">myEWB privacy policy</a>.  Don't worry, it's still 
    			really really short (we're engineers, not lawyers).  Please take a moment to look it over.  The new 
    			myEWB provides new and improved ways for members to conenct with each other, and we want to make sure 
    			this is okay with you.   If you're freaked out by the changes, definitely send us an email! 
    		</p>
    		
    		<p>
    			<strong>What do you think?</strong><br/>
    			Are we on the right track?  What are you most excited about?  Have you found something 
    			that doesn't quite work as expected?  We'd love to hear from you!  Like any new software system, there
    			will be some wrinkles to iron out.  Please send your feedback to 
    			<a href="mailto:feedback@my.ewb.ca">feedback@my.ewb.ca</a>, or click the 
    			feedback tab on the side of the screen.
    		</p>
    		
    		<p>
    			<strong>Most of all, we hope to help build this incredible movement across the country!</strong>
    		</p>
    		
    	</div>
    </div>
    {% endif %}


<div id="ie6alert" style="display:none;">
    
</div>

{% endblock %}
