{% extends "base.html" %}

{% load i18n %}
{# {% load openid_tags %} #}
{% load ifsetting_tag %}
{% load analytics %}

{% block extra_head_base %}
		<link rel="SHORTCUT ICON" href="{{ STATIC_URL}}favicon.ico" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/social_project.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}base.js"></script>
		{% block extra_head %}{% endblock %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb2.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/segmented_control.css" />
{% endblock %}

{% block login %}
	{% ifnotequal request.path "/account/login/" %}
	<div class="login">
    {% if user.is_authenticated %}
		Signed in as <a class="username" href="{% url acct_email %}"><strong>{{ user.email }}</strong></a>.
		<a class="signout" href="{% url acct_logout %}">{% trans "sign out" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a>
{% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><strong>{% trans "Sign up" %}</strong></a>{% endifsetting %}
    {% endif %}
	</div>
	{% endifnotequal %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ STATIC_URL }}images/ewb_logo.png" alt="Engineers Without Borders" width="146" height="73" border="0"/></a>{% endblock %}

{% block myewb_link_image %}<img src="{{ STATIC_URL }}images/myewb_logo.png" width="182" height="52" alt="MyEWB"/>{% endblock %}


{% block right_tabs %}
    <ul class="tabs">{% spaceless %}
        <li id="tab_home" class="blue current"><a href="{% url home %}">{% trans "Home" %}</a></li>
        {% if user.is_authenticated %}
            <li id="tab_profile" class="green"><a href="{% url profile_detail user %}">{% trans "Profile" %}</a></li>
        {% else %}
            <li id="tab_profile" class="green"><a href="{% url profile_list %}">{% trans "Profiles" %}</a></li>
        {% endif %}
        <li id="tab_networks" class="yellow"><a href="{% url networks_index %}">{% trans "Chapters" %}</a></li>
        <li id="tab_communities" class="orange"><a href="{% url communities_index %}">{% trans "Mailing Lists" %}</a></li>
        <li id="tab_events" class="red"><a href="{% url events_all %}">{% trans "Events" %}</a></li>
        <li id="tab_volunteering" class="purple"><a href="{% url volunteering_index %}">{% trans "Volunteering" %}</a></li>
    {% endspaceless %}</ul>
{% endblock %}

{% block subnav %}
<ul class="subnav blue">
<li class="current">Discussion Board</li>
<li><a href="#">Tag Cloud</a></li>
<li><a href="#">Hot Posts</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Help</a></li>
</ul>
{% endblock %}

{% block footer %}
<ul class="legal">
	<li><a href="{% url terms %}">Terms of Use</a></li>
	<li><a href="{% url privacy %}">Privacy Policy</a></li>
    <li>&copy; 2005&ndash;{% now "y" %} <a href="http://www.ewb.ca/">{% trans "Engineers Without Borders (Canada) Organisation" %}</a></li>
	{% if user.is_staff %}<li><a href="/admin/">{% trans "Admin" %}</a></li>{% endif %}
	{% block locale_switcher %}
		<li>
	    <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
	        <select name="language" onchange="$('#locale_switcher').submit()">
	            {% for lang in LANGUAGES %}
	                <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
	            {% endfor %}
	        </select>
	    </form>
		</li>
	{% endblock %}
</ul>
{% endblock %}

{% block extra_body_base %}
    {% urchin %}    
    {% block extra_body %}{% endblock %}
{% endblock %}
