{% extends "base_groups/base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}networks yellow{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}networks/css/networks.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
{% endblock %}

{% block subnav %}
    <ul class="subnav">
        {% if group %}
        <li><a href="{% url network_detail group.slug %}">{{ group.name }} {% trans "Home" %}</a></li>
        {% endif %}
        <li><a href="{% url networks_index %}">{% trans "All Networks" %}</a></li>
        <li><a href="{% url chapters_index %}">{% trans "All Chapters" %}</a></li>
    </ul>
{% endblock %}
