{% extends "base_groups/base.html" %}

{% load i18n %}
{% load group_tags %}
{% load avatar_tags %}
{% load networks_tags %}
{% load base_groups_tags %}

{% block body_class %}networks yellow{% endblock %}

{% block subnav %}
    <ul class="subnav">
        {% if group %}
            <li><a href="{% url network_detail group.slug %}">{{ group.name }}</a></li>
        {% endif %}
        <li><a href="{% url networks_index %}">{% trans "All Chapters" %}</a></li> 
        {#<li><a href="{% url chapters_index %}">{% trans "All Chapters" %}</a></li>#}
        <li><a href="{% url national_office %}">{% trans "National Office" %}</a></li>
        {% if is_exec %}
        	<li><a href="{% url champ_dashboard %}">CHAMP</a></li>
        {% endif %}
    </ul>
{% endblock %}


{% block toolbar_left %}
    {% if group and group.is_chapter %}
        <div class="toolbarheader bkgd">{% trans "Chapter Info" %}</div>
        <div class="toolbarcontent">
            link to photo gallery, etc?
        </div>
    {% endif %}
    
    {{ block.super }}

    {% if group %}
	    {% if is_admin %}
            <div class="toolbarheader bkgd">{% trans "Admin Options" %}</div>
            <div class="toolbarcontent">
		        <a href="{% url network_new_member group.slug %}">{% trans "Add users" %}</a><br/>
		        <a href="{% url network_invite_member group.slug %}">{% trans "Invite users" %}</a><br/>
	            <a href="{% url network_bulk_import group.slug %}">{% trans "Bulk-add email addresses" %}</a><br/>
	            <a href="{% url network_bulk_remove group.slug %}">{% trans "Bulk-remove email addresses" %}</a><br/>
	            {% if group.is_chapter %}
		            <a href="{% url email_forwards_index group.slug %}">{% trans "Manage chapter email addresses" %}</a><br/>
	            {% endif %}
	            <br/>
	            
{#       			<a href="{% url edit_network group.slug %}">{% trans "Edit network details" %}</a><br/><br/> #}
       			<a href="{% url edit_network group.slug %}">{% trans "Edit chapter details" %}</a><br/><br/> 
		        <a href="{% url network_stats group.slug %}">{% trans "Group statistics" %}</a><br/>
                
                {% if perms.base_groups and not group.is_chapter %}
                    <a href="{% url new_chapter %}?network={{ group.slug }}">{% trans "Convert to chapter" %}</a><br/>
                {% endif %}      
            </div>
        {% endif %}
	{% endif %}
{% endblock %}


{% block toolbar_right %}
    {% if group and group.is_chapter %}
        <div class="toolbarheader bkgd">{% trans "Chapter Executive" %}</div>
        <div class="toolbarcontent">
            {% get_admins group as admins %}
            {% for admin in admins %}
                <div style="float: left; width: 30px; height: 30px;">
                    {% avatar admin.user 30 %}
                </div>
                <div style="margin-left: 35px; height: 35px;">
                    <a href="{% url profile_detail admin.user.username %}">{{ admin.user.visible_name }}</a><br/>
                    {{ admin.admin_title }} {% if is_admin %}<a href="{% url network_edit_member group.slug admin.user.username %}">(edit)</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}


