{% extends "networks/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Email bulk remove for" %} {{ group.name }}{% endblock %}

{% block body %}
    <h1>{% trans "Email bulk remove for" %} {{ group.name }}</h1>
    <p>{% trans "Please enter the addresses you wish to remove, one per line. Do not use commas or other delimiters to separate addresses."%}</p>
    {% if user.is_authenticated %}
        <form class="uniForm" id="import_form" method="POST" action="">
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="action" value="remove" />
                    <input type="submit" value="{% trans 'remove' %}"/>
                </div>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}