{% extends "networks/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load wiki_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load networks_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}

{% block head_title %}{{ group.chapter_info.chapter_name }}{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    <div class="right_panel">
        <div class="members">
            <h2>{% trans "Members" %}</h2>
            <table width="100%">
                {% for member in group.get_members %}
                    {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                    <td>
                        <div class="avatar">{% avatar member.user 40 %}</div>
                        <div class="details"><a href="{% url profile_detail member.user.username %}" title="{{ member.user.username }}">{{ member.user.username }}</a></div>
                    </td>
                    {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                {% endfor %}
                {% if group.get_members|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
            </table>
            <p>
                Search members:
                <form method="GET" action="{% url network_members_index group.slug %}">
                    <input type="text" name="search" size="8" value="{{ search_terms }}" />
                    <input type="submit" value="Search" />
                </form>
            </p>
            <p><a href="{% url network_members_index group.slug %}">{% trans "Detailed list" %}</a></p>
        </div>
    </div>
{% endif %}

<div style="width: 550px;">
    
<div id="chapterHead">
    <div id="chapterHeadLeft">
        {# TODO: Put chapter logo here (then remove header?) #}
        <h1>{{ group.chapter_info.chapter_name }}</h1>
    </div>
    <div id="chapterHeadRight">
        <p>
        <strong>{% trans "Mailing address" %}</strong><br/>
        {{ group.chapter_info.street_address }}<br/>
        {% if group.chapter_info.street_address_two %}{{ group.chapter_info.street_address_two }}<br/>{% endif %}
        {{ group.chapter_info.city }}, {{ group.chapter_info.province }}<br/>
        {{ group.chapter_info.postal_code }}<br/>
        </p>
        <p>
        <strong>{% trans "Phone:" %}</strong>&nbsp;{{ group.chapter_info.phone }}
        </p>
        {% if group.chapter_info.fax %}
        <p>
        <strong>{% trans "Fax:" %}</strong>&nbsp;{{ group.chapter_info.fax }}
        </p>
        {% endif %}
        <p>
        <strong>{% trans "Email:" %}</strong>&nbsp;
            <a href="mailto:{{ group.slug }}@ewb.ca">{{ group.slug }}@ewb.ca</a>
        </p>
        <p>
        <strong>{% trans "Website:" %}</strong>&nbsp;<a href="http://{{ group.slug }}.ewb.ca/">http://{{ group.slug }}.ewb.ca/</a>
        </p>
    </div>
</div>

<div id="chapterSubgroups">
    {% if children.count %}
		<p>{% trans "Child groups:" %}</p>
		<ul>
		{% for child in children %}
			<li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
</div>

<div id="chapterActions">
    <div id="chapterActionsLeft">
        {% if user.is_anonymous %}
            <div>Subscribe to our mailing list:</div>
            {# TODO: Subscribe-to-mailing-list form #}
        {% else %}        
            {% if perms.networks.change %}
    			<div><a href="{% url edit_network group.slug %}">{% trans "Edit network details" %}</a></div>
            {% endif %}            
            
            {% if member %}
                {% if member.is_accepted %}
                    {% ifequal user group.creator %}
                        <div>{% trans "You are the creator of this network so can't leave (yet)." %}</div>
                    {% else %}
    					<form method="POST" action="{% url network_delete_member group.slug user.username %}">
                        	<input type="submit" value="{% trans "Leave chapter" %}" />
    					</form>
                    {% endifequal %}
                    
                    {% if member.is_admin %}
                        <div><a href="{% url edit_chapter group.slug %}">{% trans "Edit chapter information" %}</a></div>
        				<div><a href="{% url network_new_member group.slug %}">{% trans "Invite another user" %}</a></div>
        				<div><a href="{% url network_bulk_import group.slug %}">{% trans "Email bulk import" %}</a></div>
                        <div>Member management</div>
                        <div>Email forwards</div>
                        <div>Monitoring and evaluation</div>
                    {% endif %}

					<p><a href="{% url email_forwards_index group.slug %}">{% trans "See email forwards" %}</a></p>
                {% endif %}
            
                {% if member.is_invited %}
                    {% trans "You have been invited to join this network. Do you wish to join?" %}
                    <form method="POST" action="{% url network_accept_invitation group.slug member.user.username %}">
                    	<input type="submit" value="{% trans "Join network" %}" />
        			</form>            			
    				<form method="POST" action="{% url network_delete_member group.slug member.user.username %}">
                    	<input type="submit" value="{% trans "Decline" %}" />
    				</form>
                {% endif %}
            
                {% if member.is_requested %}
                    {% trans "You have requested membership in this network and your request is pending." %}
                {% endif %}
            {% else %}
                <div><a href="{% url network_new_member group.slug %}">{% trans "Join chapter" %}</a></div>
            {% endif %}
        {% endif %}
    </div>
    <div id="chapterActionsRight">
        <div><a href="http://photos.ewb.ca/{{ group.slug }}/">Photos</a></div>
        <div>Events (iCal)</div>{# TODO: Link to events and iCal feed, and add-event link if exec #}
        <div><a href="{% groupurl topic_list group %}">Topics</a> (<a href="{% url topic_feed group.slug %}">RSS</a>)</div>
    </div>
</div>

<div id="chapterExec">
    <h3>{% trans "Executives" %}</h3>
    {% get_admins group as admins %}
    {% for admin in admins %}
        <div class="{% cycle "singleExecLeft" "singleExecRight" %}">
            {% avatar admin.user 60 %}
            <div class="execName"><a href="{% url profile_detail admin.user.username %}">{{ admin.user.get_profile.name }}</a></div>
            <div class="execTitle">{{ admin.admin_title }} {% if member and member.is_admin %}<a href="{% url network_edit_member group.slug admin.user.username %}">(edit)</a>{% endif %}</div>
        </div>
    {% endfor %}
</div>

<div id="chapterContent">
    {% show_group_content group %}
</div>

</div>
{% endblock %}
