{% extends "networks/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load sorting_tags %}
{% load base_groups_tags %}

{% block extra_head %}
	{{ block.super }}
	{{ form.media }}
{% endblock %}

{% block head_title %}{% blocktrans %}Email forwards for {% endblocktrans %} {{group.name}}{% endblock %}

{% block body %}
    <h1>{% trans "Email forwards" %}: {{ group.name }}</h1>
    
    {% autosort forwards %}
{% comment %}    {% autopaginate forwards 10 %} {% endcomment %}
    {% if forwards %}
        {% comment %}
        <p>{% trans "Order by:" %}
            {% anchor name Name %}
            {% anchor created Date %}
        </p>
        {% endcomment %}

	<h3>Add a new forward</h3>
	<em>Please allow up to 15 minutes for new forwards to come into effect.</em>
	<form method="POST" action="" class="uniForm">
		<fieldset class="inlineLabels">
			{{ form|as_uni_form }}
			<input type="submit" value="Add" />
		</fieldset>
	</form>
	<hr/>

	<table border="1" cellpadding=5>
		<tr>
			<th>Name</th>
			<th>Actual email</th>
			<th>Email forward</th>
			<th>&nbsp;</th>
		</tr>

		{% for fwd in forwards %}
			<tr>
				<td>{{fwd.user.visible_name}}</td>
				<td>{{fwd.user.email}}</td>
				<td>{{fwd.address}}</td>
				<td>
					<form action="{% url email_forwards_delete group.slug fwd.id %}" method="post">
					<input type="hidden" name="user" value="{{fwd.user.pk}}"/>
					<input type="submit" value="Delete"/>
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
    {% endif %}

{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">
        function getUserSelectionUrl() { return '{% url selected_user %}'; }
        function getUserSearchUrl() { return '{% url profile_user_search %}'; }
    </script>
{% endblock %}
