{% extends "networks/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load wiki_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load networks_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load events_tags %} 

{% block head_title %}{% spaceless %}
    {% if group.is_chapter %}
        {{ group.chapter_info.chapter_name }}
    {% else %}
        {{ group.name }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block grouptitle %}
    <h1>{% spaceless %}
        {% if group.is_chapter %}
            {{ group.chapter_info.chapter_name }}
        {% else %}
            {{ group.name }}
        {% endif %}
    {% endspaceless %}</h1>
{% endblock %}

{% block groupbody %}

    <p>({{ group.slug }})</p>
            
    {% if group.is_chapter %}
        <p>
            <strong>{% trans "Mailing address" %}</strong><br/>
            {{ group.chapter_info.street_address }}<br/>
            {% if group.chapter_info.street_address_two %}{{ group.chapter_info.street_address_two }}<br/>{% endif %}
            {{ group.chapter_info.city }}, {{ group.chapter_info.province }}<br/>
            {{ group.chapter_info.postal_code }}<br/>
        </p>
        
        <p>
            <strong>{% trans "Phone:" %}</strong>&nbsp;{{ group.chapter_info.phone }}
        </p>
        
        {% if group.chapter_info.fax %}
            <p>
                <strong>{% trans "Fax:" %}</strong>&nbsp;{{ group.chapter_info.fax }}
            </p>
        {% endif %}

        <p>
            <strong>{% trans "Email:" %}</strong>&nbsp;
                <a href="mailto:{{ group.slug }}@ewb.ca">{{ group.slug }}@ewb.ca</a>
        </p>
        
        <p>
            <strong>{% trans "Website:" %}</strong>&nbsp;<a href="http://{{ group.slug }}.ewb.ca/">http://{{ group.slug }}.ewb.ca/</a>
        </p>
    {% else %}
        <p>
            {% trans "Creator:" %} <a href="{% url profile_detail group.creator.username %}">{{ group.creator.get_profile.name }}</a><br />
            {% trans "Created:" %} {{ group.created|date }}
            <br />
            {% show_tags_for group %}
        </p>
            
        <p>{{ group.description }}</p>

    {% endif %}

    {% if children.count %}
        <h2>{% trans "Communities" %}</h2>
        
	    {% for child in children %}
            <a href="{{ child.get_absolute_url }}">{{ child.name }}</a><br/>
	    {% endfor %}
    {% endif %}

{% endblock %}

{% block toolbar_left %}
    {% if group.is_chapter %}
        <div class="toolbarheader bkgd">{% trans "Chapter Info" %}</div>
        <div class="toolbarcontent">
            link to photo gallery, etc?
        </div>
    {% endif %}
    
    {{ block.super }}

	{% if user.is_staff or member.is_admin %}
        <div class="toolbarheader bkgd">{% trans "Admin Options" %}</div>
        <div class="toolbarcontent">
		    <a href="{% url network_new_member group.slug %}">{% trans "Invite another user" %}</a><br/>
	        <a href="{% url network_bulk_import group.slug %}">{% trans "Email bulk import" %}</a><br/>
	        <br/>
	        
            {% if perms.networks.change %}
    			<a href="{% url edit_network group.slug %}">{% trans "Edit network details" %}</a><br/><br/>
            {% endif %}
            
            {% if user.is_staff and not group.is_chapter %}
                <a href="{% url new_chapter %}?network={{ group.slug }}">{% trans "Convert to chapter" %}</a><br/>
            {% endif %}      
        </div>
	{% endif %}
{% endblock %}


{% block toolbar_right %}
    {% if group.is_chapter %}
        <div class="toolbarheader bkgd">{% trans "Chapter Executive" %}</div>
        <div class="toolbarcontent">
            {% get_admins group as admins %}
            {% for admin in admins %}
                <div style="float: left; width: 30px; height: 30px;">
                    {% avatar admin.user 30 %}
                </div>
                <div style="margin-left: 35px; height: 35px;">
                    <a href="{% url profile_detail admin.user.username %}">{{ admin.user.get_profile.name }}</a><br/>
                    {{ admin.admin_title }} {% if member and member.is_admin %}<a href="{% url network_edit_member group.slug admin.user.username %}">(edit)</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}

