{% extends "networks/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load networks_tags %}
{% load base_groups_tags %}
{% load sorting_tags %}

{% block head_title %}{% blocktrans %}Chapters{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Chapters" %}</h1>
    
    {% if not user.is_authenticated %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to join a network.{% endblocktrans %}</p>
    {% endif %}
    

    {% autosort groups %}
    {#{% autopaginate groups 10 %}#}
    {% if groups %}
    	
    	{# Hand coded for that premium taste! #}
    
    <div class="chapterlist">
    
    
    	<h2 id="BC">British Columbia</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "BC" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2 id="AB">Alberta</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "AB" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2 id="SK">Saskatchewan</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "SK" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2 id="MB">Manitoba</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "MB" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2 id="ON">Ontario</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "ON" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2 id="QC">Qu&eacute;bec</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "QC" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2 id="NB">New Brunswick</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "NB" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2 id="NS">Nova Scotia</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "NS" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2 id="NL">Newfoundland and Labrador</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "NL" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2 id="other">Other</h2>
        {% for group in groups %}
        	{% if not group.chapter_info.province %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endif %}
        {% endfor %}
        
	</div>

        {#{% paginate %}#}
    {% endif %}
    
{% endblock %}

{% block toolbar_right %}


    {% if user.is_authenticated and user.get_networks %}
<div class="toolbarheader bkgd">{% trans "My Chapter" %}</div>
		<div class="toolbarcontent">
	    {% for group in user.get_networks %}

			 <a href="{% url group_detail group.slug %}">{{ group.name }}</a><br/>

    	{% endfor %}
		</div>
	{% endif %}


    {% if not user.is_authenticated %}
<div class="toolbarheader bkgd">{% trans "About EWB Chapters" %}</div>
<div class="toolbarcontent">
	You can join EWB chapters across the country to get involved in our work in Canada.
</div>
{% endif %}


<div class="toolbarheader bkgd">{% trans "Chapters by Province" %}</div>
<div class="toolbarcontent provincelinklist">
	<a href="#BC">British Columbia</a>
	<a href="#AB">Alberta</a>
	<a href="#SK">Saskatchewan</a>
	<a href="#MB">Manitoba</a>
	<a href="#ON">Ontario</a>
	<a href="#QC">Qu&eacute;bec</a>
	<a href="#NB">New Brunswick</a>
	<a href="#NS">Nova Scotia</a>
	<a href="#NL">Newfoundland and Labrador</a>
	<a href="#other">Others</a>
</div>


    {% if user.is_authenticated and perms.chapters.create %}
<div class="toolbarheader bkgd">{% trans "New chapter" %}</div>
		<div class="toolbarcontent">
		You have permission to create chapters.
        <p><a href="{% url new_network %}">Get rockin'!</a></p>
</div>
    {% endif %}




{% endblock %}
