{% extends "networks/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load networks_tags %}
{% load base_groups_tags %}
{% load sorting_tags %}

{% block head_title %}{% blocktrans %}Chapters{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Chapters" %}</h1>
    
    {% if user.is_authenticated %}
		{% if perms.chapters.create %}
        	<p><a href="{% url new_network %}">Create</a> a network</p>
		{% endif %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to join a network.{% endblocktrans %}</p>
    {% endif %}
    

    {% autosort groups %}
    {#{% autopaginate groups 10 %}#}
    {% if groups %}
    	
    	{# Hand coded for that premium taste! #}
    
    <div class="chapterlist">
    
    	<h2>British Columbia</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "BC" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2>Alberta</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "AB" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}
    	<h2>Saskatchewan</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "SK" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}
    	<h2>Manitoba</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "MB" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}
    	<h2>Ontario</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "ON" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}
    	<h2>Qu&eacute;bec</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "QC" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}
    	<h2>New Brunswick</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "NB" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}
    	<h2>Nova Scotia</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "NS" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}
    	<h2>Newfoundland and Labrador</h2>
        {% for group in groups %}
        	{% ifequal group.chapter_info.province "NL" %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endifequal %}
        {% endfor %}

    	<h2>Other</h2>
        {% for group in groups %}
        	{% if not group.chapter_info.province %}

		        <dl>
		            {% show_network group %}
		        </dl>
	        {% endif %}
        {% endfor %}
        
	</div>

        {#{% paginate %}#}
    {% endif %}
    
{% endblock %}
