{% extends "networks/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load wiki_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load networks_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load events_tags %} 

{% block head_title %}{% spaceless %}
    {% if group.is_chapter %}
        {{ group.chapter_info.chapter_name }}
    {% else %}
        {{ group.name }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block grouptitle %}
    <h1>{% spaceless %}
        {% if group.is_chapter %}
            {{ group.chapter_info.chapter_name }}
        {% else %}
            {{ group.name }}
        {% endif %}
    {% endspaceless %}</h1>
{% endblock %}

{% block groupbody %}

    {#<p>({{ group.slug }})</p>#}
            
    {% if group.is_chapter %}
    
    
<table class="standard standard-right search-form">
    <tbody>

        {% comment %}<tr>
            <th>label</th>
            <td>content</td>
        </tr>
        {% endcomment %}
        
        
        <tr>
            <th>{% trans "Mailing address" %}</th>
            <td>
                <div>
            {{ group.chapter_info.street_address }}<br/>
            {% if group.chapter_info.street_address_two %}{{ group.chapter_info.street_address_two }}<br/>{% endif %}
            {{ group.chapter_info.city }}, {{ group.chapter_info.province }}<br/>
            {{ group.chapter_info.postal_code }}
                </div>
            </td>
        </tr>    
        
        
        <tr>
            <th>{% trans "Phone:" %}</th>
            <td>{{ group.chapter_info.phone }}</td>
        </tr>   
        

{% if group.chapter_info.fax %}
        <tr>
            <th>{% trans "Fax:" %}</th>
            <td>{{ group.chapter_info.fax }}</td>
        </tr>   
{% endif %}
        
        <tr>
            <th>{% trans "Email:" %}</th>
            <td>
            	<a href="mailto:{{ group.slug }}@ewb.ca">{{ group.slug }}@ewb.ca</a>
			    {% if group and group.is_chapter and is_admin %}
			    	<br/>
			    	<div style="padding-left: 20px;">
			    		(<a href="#" id="reset-email-password">reset password</a> - 
			    		<a href="http://mail.ewb.ca" target="_new">login here</a>)
			    		<div id="reset-email-password-box" style="display: none;">
			    			<form action="" method="post" id="reset-email-password-form">
			    				<input type="password" id="reset-email-password-value" name="new_password"/>
			    				<input type="submit" value="reset"/>
			    				<span id="reset-email-password-result"></span>
			    			</form>
			    		</div>
			    	</div>

					<script type="text/javascript">
					$().ready(function() {
						$('#reset-email-password').click(function() {
							$('#reset-email-password-box').slideDown();
						});
						$('#reset-email-password-form').submit(function() {
							var confirmed = confirm("Are you sure you want to change the password?");
							if (confirmed)
							{
								$('#reset-email-password-result').html("saving...");
								$.post('{% url chapter_email_password group.slug %}',
										{newpass: $('#reset-email-password-value').val()},
										function(data) {
											$('#reset-email-password-result').html(data);
										});
							}
							return false;
						});
					});
					</script>

			    {% endif %}
            </td>
        </tr>
        

        <tr>
            <th>{% trans "Website:" %}</th>
            <td><a href="http://{{ group.slug }}.ewb.ca/">http://{{ group.slug }}.ewb.ca/</a></td>
        </tr>
   

        
    </tbody>
</table>
        
    {% else %}


<table class="standard standard-right search-form">
    <tbody>

        {% comment %}<tr>
            <th>label</th>
            <td>content</td>
        </tr>
        {% endcomment %}
        
  
  		{% ifnotequal group.creator.id 1 %}
        <tr>
            <th>{% trans "Created by" %}</th>
            <td><a href="{% url profile_detail group.creator.username %}">{{ group.creator.visible_name }}</a></td>
        </tr>
        {% endifnotequal %}
        
        <tr>
            <th>{% trans "Date created" %}</th>
            <td>{{ group.created|date }}</td>
        </tr>
    </tbody>
</table>
        <p>
            {% show_tags_for group %}
        </p>
            
        <p>{{ group.description }}</p>
        

        
    {% endif %}

	<br/>
	{% if children or is_admin %}
    	<h2>{% trans "Chapter communities" %}</h2>
    	<ul class="chapter-communities-list linker-list">
    		{% for child in children %}
           		<li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
    		{% endfor %}
    
    	</ul>
    
    	{% if is_admin %}
	        <p><a href="{% url new_community %}?parent={{group.slug}}">Create a chapter community/mailing list</a></p>
		{% endif %}
		
	{% endif %}	    

{% endblock %}

