{% extends "networks/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load networks_tags %}
{% load base_groups_tags %}
{% load sorting_tags %}

{% block head_title %}{% blocktrans %}Chapters{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Chapters" %}</h1>
    
    {% if user.is_authenticated %}
		{% if perms.chapters.create %}
        	<p><a href="{% url new_network %}">Create</a> a network</p>
		{% endif %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to join a network.{% endblocktrans %}</p>
    {% endif %}
    

    {% autosort groups %}
    {#{% autopaginate groups 10 %}#}
    {% if groups %}
    	
	    {% for p, pname in provinces %}
	    	<h2>{{ pname }}</h2>
	    	
		        {% for group in groups %}
		        	{% ifequal group.chapter_info.province p %}

				        <dl>
				            {% show_network group %}
				        </dl>
			        {% endifequal %}
		        {% endfor %}
	    	
	    {% endfor %}
    
		{# @@@ this ignores every group that doesn't have a province equal to one of the ones listed. is this an issue? #}


        {% paginate %}
    {% endif %}
    
{% endblock %}
