{% extends "networks/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load networks_tags %}
{% load base_groups_tags %}

{% block head_title %}{% blocktrans %}Create Network{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Create Network" %}</h1>
    
    <p>{% trans "A <b>network</b> is a group of people associated with a common geographical area, or with a common institution, such as a workplace or university." %}</p>
    <p>{% trans "<b>Visibility</b> refers to the ability for public users to see, or access information related to, a group. You may set a group as either visible to all users; visible to members only; or visible only to existing members and to members of the group's parent group." %}</p>
    {% if user.is_authenticated %}
        <form class="uniForm" id="network_form" method="POST" action="">
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="action" value="create" />
                    <input type="submit" value="{% trans 'create' %}"/>
                </div>
            </fieldset>
        </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own network or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}