
a:link {
    color: #165B87;
    text-decoration: none;
}

a:visited {
    color: #165B87;
    text-decoration: none;
}

a:hover {
    color: #FF9743;
}

#nav a {
color:#999;
}

.submenu {
z-index:1000;  /* the profile image covers it up otherwise in firefox/mac */
}



p {

padding:0;   /* @@@ this could break things; just resetting it so previous layout tweaks line up. */

margin: 5px 0;

}

/* fixing things broken by that CSS in header1 */

#nav p {
padding: 0px;
margin:0;
color:#999999;

font-size:10px;
}


#nav {
font-weight:bold;
text-align:right;
}

body {
margin-top:0px;
}




#content {
margin-left:0;

}

#sidebar {
display:none;

}

#header_sp .textsub {
/* display: none; */
margin:0;
}

#header_sp .textsub h1 {
font-family:"Lucida Grande",Geneva,Verdana,Arial,Helvetica,sans-serif;
text-transform: none;
font-weight: bold;
}

#loading-widget {
    display: none;
    position: fixed;
    top: 30px;
    left: 500px;
}

p.loading {
background: no-repeat left center;

padding:10px;
padding-left: 40px;

margin:10px auto;
width:60px;  /* will this fit everywhere it's used??  @@@ */  /* also removed 40px because of existing 50px padding */
}

#all h1,#all h2, #all h3, #all h4, #all h5, #all h6 {
font-family:"Lucida Grande",Geneva,Verdana,Arial,Helvetica,sans-serif;

/* font-weight: bold; */


}


h2 {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}


/* getting rid of annoying firefox borders.
 * Really we need a reset though. :)
 */
img {
    border: none;
}


div.cleardiv {
clear:both; height:1px;
}

/* removed from   single.html */

    .section {
/*         border: 1px solid black; */
        margin: 9px 4px;
    }
    .sidebar-section {
        border: 1px solid black;
/*         height: 180px; */
        margin: 9px 4px;
    }
    .sidebar-section img {
        float: left;
    }
/*
    .profile-container img {
        float: left;
    }
*/


    #all {
        min-height: 720px;
        /* prevents the page from jumping a bit when you click next or previous page */
    }

    #left {
        float: left;
        width: 68%;
    }
    #right {
        float: right;
        width: 32%;
    }

    #filters {
/*         height: 140px; */
    }
/*
    #browser {
        min-height: 720px;
    }
*/
    #browser-container {
        min-height: 500px;
    }


    .paginator {
        clear: both;
    }
    ul.pagination li {
        display: inline;
        list-style-type: none;
        
        margin:0;
        
        /* todo - fix the paginator so the current page isn't as thin */
        
    }
    div#all ul.pagination li a, div#all ul.pagination li.currentpage, div#all div.pagination-prev-next a  {

            padding:4px 6px;

    
    
    }
    #facebox .content {
        width: 620px;
    }
    #facebox .body {
        /* width: 800px; */
    }
    #facebox .clear {
        clear: both;
    }



/* end of single.html contents */



/*  login form
    needs to reset some crazy stuff from those original templates. yikes. :) 
 */
label {

text-align: left;
display:block;
position:static;

top:auto;
width:inherit;
font-size:14px;
}

.loginform label {
margin-bottom: 3px;
}
.loginform label.leftalign {
/* text-align: left; */
}

.loginform label input[type="text"], .loginform label input[type="password"] {
padding:3px;
width: 150px;
margin:0;
}

.loginform span.left {
width: 80px;
display:block;
float:left;

padding:5px 5px;

text-align:right;
}
.loginform span.rightlabel {
padding:6px 3px;
text-align: left;
display: block;
padding-left: 8px;
float: left;
}
.loginform p.submitbutton {
clear:both;
}
.loginform  input[type="submit"] {
font-size:13px;
}


p.error-message {
clear:both;
}

/* end of loginform */






ul.pagination {

background-color: #D7D8D9;

            padding:8px;
            
        margin:0;
        
        margin-bottom: 10px;

}

div.pagination-prev-next {
float:right;
            padding:8px;  /* should be same as above */

}



#filters h3 {
font-size:24px;
margin-bottom:0.8em;
margin-top:0.6em;

font-weight:bold;
}

#all div, #all p {
font-size:14px;



}


div#browser {
margin-left: 0;

clear:both;
}



a:hover {
text-decoration: none;
}


/* Profile browser */

.profile-summary {
    float: left;

/* background-color: #eee; */

margin:0;
width: 280px;

margin-bottom: 15px;
margin-right: 20px;
height: 110px;
}

div.profile-summary:hover {
/* background-color: #eee; */
/* too much?  :)  */
}

a.profile-thumbnail-pic img {
width:100px;
border: 0;
}

a.profile-thumbnail-pic {
border:1px solid blue;
background-color: white;
padding:4px;
margin-right: 8px;
float:left;

display: block;
}
a.profile-thumbnail-pic:visited {
border:1px solid purple;
}


a.profile-thumbnail-pic:hover {
border:1px solid #FF9743; 
/* background-color: #eee; */

/*
padding:3px;
border-width: 2px;
*/
}

span.yes-text {
color: green;
}

.un-registered a.profile-thumbnail-pic img {
    filter:alpha(opacity=50);
    opacity: 0.5;
}

div.profile-summary.un-registered:hover a.profile-thumbnail-pic img {
    filter:alpha(opacity=80);
    opacity: 0.8;
}

p.profile-details {
margin:0;
margin-top:5px;
}

p.profile-details span {
display: block;
}


p.profile-details span.yes-text {
display: inline;
}

.profile-details-actions img {
    filter:alpha(opacity=100);
    opacity: 1.0;
}

.profile-details-name {
font-size: 16px;
margin-bottom: 1px;
}






/*  Sidebars */

div.sidebar-section {
        border: none;

background: #eee;

border-right:1px solid #D7D8D9;
border-bottom:2px solid #D7D8D9;

}

div.sidebar-section-heading {
background-color: #D7D8D9;

border-bottom: 2px solid #ddd;
}

div.sidebar-section-heading h3 {
margin:0;
font-size: 16px;

padding:6px 9px;
padding-bottom: 5px;
}

div.sidebar-section-contents {
margin:4px 6px;
}




/* Profile container */

div.profile-container {

}

.profile-container textarea,  textarea.invitation-input {
    width: 540px;
    
    
    padding:10px;
    
    font-family: Georgia, Times, serif;   /* @@@ yes/no? */
}

input.invitation-input {
    width: 542px;
    padding:6px;
    font-size: 13px;
}

input.updater-button {
font-size:13px;
padding:4px;
}

div#facebox h2 {

margin:0.1em 0 0.7em;


font-family:"Lucida Grande",Geneva,Verdana,Arial,Helvetica,sans-serif;

}

div#facebox p {
font-size: 14px;
margin: 10px 0;

/* margin-left: 184px; */
}

.cohort-info {
    float: left;
    width: 230px;
}

ul.facebox-cohort-list {
    list-style-type: none;
    padding-left: 5px;
    margin:0;
}

ul.facebox-cohort-list li {
    margin-bottom: 4px;
}

.facebox-cohort-list a {
    font-size: 15px;
    line-height: 1.25em;
    font-family: Georgia, Times, serif;
}

#facebox div.profile-container img.facebox-profile-img {
margin-right: 4px;
/* float: left; */

padding:5px;
border: 1px solid #ddd;
}

div.profile-container-details {
    /* float: left; */
}

span.facebox-profile-question {
display: block;
font-weight: bold;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 0.2em;

margin-bottom: 0.25em;
padding-left: 230px;

color: #333;
}

div.no-question-offset span.facebox-profile-question {
padding-left: 0px;
}

span.facebox-profile-answer {
display: block;

font-family: Georgia, Times, serif;

font-size: 18px;

line-height:1.25em;
padding-left: 230px;

}

/* register button */
img.register-hook {
    margin: 10px 6px;
}


/* custom jgrowl themes */

div#jGrowl .jGrowl-notification {
    height: 95px;
    width: 315px;
}

div#jGrowl .jGrowl-closer {
    width: 315px;
}

div#jGrowl .jGrowl-notification .jGrowl-header {
    font-size: 1.5em;
}

div#jGrowl .jGrowl-notification .jGrowl-message {
    font-size: 1.2em;
}

div#jGrowl div.error {
    background-color: #E32727;
	color: black;
}

div#jGrowl div.confcomm-theme {
    background: #8EA1b3;
    color: black;
    border: none;
    border-right:1px solid #D7D8D9;
    border-bottom:2px solid #D7D8D9;
}

/* name filters */
span.name-filters {
    color: #FF9743;
}

span.filter-letter.selected {
    font-weight: bold;
}

/* cohort-name for search results */
#all div.cohort-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* cohort opt in and out styling */
#browser-container a.hide-opt-links {
    font-size: 0.8em;
}

#browser-container a.remove-button {
    background-color: red;
    border: 1px solid black;
    color: white;
    -moz-border-radius: 3px;
    padding: 1px 3px;
    opacity: 0.5;
    filter:alpha(opacity=50);
}

#browser-container a.remove-button:hover {
    opacity: 0.7;
    filter:alpha(opacity=70);
}

#browser-container a.add-button {
    background-color: green;
    border: 1px solid black;
    color: white;
    -moz-border-radius: 3px;
    padding: 3px;
    opacity: 0.5;
    filter:alpha(opacity=50);
}

#browser-container a.add-button:hover {
    opacity: 0.7;
    filter:alpha(opacity=70);
}

#browser-container .profile-details-cohort {
    margin: 6px 0px;
}


#filter-controls a.clearallfilters {
float:right;
}

div.searchnameregistered {
width: 290px;
float:left
}







/* the "Your profile" box on the left */

a.your-thumb-img img {
padding:2px;
border:1px solid #ccc;
margin-right: 7px;
}

div#my-profile div.sidebar-section-contents { 
/* margin-top: 0; */
}

div#my-profile h4 {
margin:0;
font-size:16px;
clear:none;

font-weight: bold;
padding:0.4em 0;
}

p.profile-blurb {
color:#555555;
font-family:georgia, serif;
font-style:italic;
}
