* { margin:0; padding:0; }

body
{
	font-family: Verdana, sans-serif;
	background-color: #EDEDED;
	background-repeat: repeat-x;
	background-image:url("$base/images/page_bg_gradient.gif");
}


#headertop
{
	background-repeat:no-repeat;
	background-position:top left;
	background-image:url("$base/images/header_top.gif");
	height:5px;
	overflow:hidden;
	width:905px;
	margin: 0 auto;
	margin-top: 10px;
}

#header
{
	padding: 0;
	margin: 0 auto;
	background: #EDEDED;
	border-left: 1px solid black; 
	border-right: 1px solid black; 
	width:903px;
}

#columncontainer 
{
	width:920px; /* FIXED WIDTH, MUST UPDATE NAV WIDTHS TOO*/
	position:relative;
	border: 1px solid $dark; 
	border-top: none;
	border-bottom: none;
	background: white;
	margin: 0 auto;
}

#maincolumn
{
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
	overflow: hidden; /* this is what prevents looong post URLS from stretching */
	width: 900px;
}

div#maincolumn.withtoolbars
{
	width: 725px;
}

#toolbarcolumn
{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 180px;
	float: left;
}

#toolbarcolumn_right
{
	margin-bottom: 15px;
	width: 300px;
	float: right;
}

.barheaderlink
{
        color: white;
        font-weight: bold;
        font-size: 13px;
        text-decoration: none;
}

a.barheaderlink:hover
{
        color: white;
        text-decoration: underline;
}

div.clearer 
{
	clear:both;
	height: 1px;
	overflow:hidden;
	padding: 0;
	margin: 0;
}



#bottomdiv
{
	background-repeat:no-repeat;
	background-position:top left;
	background-image:url("$base/images/${area}_body_bottom.gif");
	height:5px;
	overflow:hidden;
	width:922px;
	margin: 0 auto;
}



#footer
{
	position: relative;
	padding: 0;
	margin: 0 auto;
	font-size: 10px;
	text-align: center;
	background: #EDEDED;
	border-left: 1px solid black; 
	border-right: 1px solid black; 
	width:903px;
	padding: 5px 0px;
}

#footerbottom
{
	background-repeat:no-repeat;
	background-position:top left;
	background-image:url("$base/images/footer_bottom.gif");
	height:5px;
	overflow:hidden;
	width:903px;
	margin: 0 auto;
	margin-bottom: 15px;
}

#safemode
{
	font-size: 10px;
	text-align: center;
	color: red; 
	font-weight: bold;
}

#maincolumn p
{
	padding-right: 20px;
	padding-left: 10px;
	font-size: 14px;
	line-height: 1.4em;
	padding-top:3px;
	padding-bottom:3px;
}


#maincontent ul
{
	margin-left: 60px;
	padding-right: 60px;
}

#maincontent ol
{
	margin-left: 30px;
	padding-right: 60px;
}

#maincontent ul li, #maincontent ol li
{
	padding: 3px 0;
	font-size: 14px;
}

#maincontent dt, #catguide dt
{
	margin-top: 8px;
	font-size: 12px;
	font-weight: bold;
}

#maincontent dd, #catguide dd
{
	margin-top: 2px;
	margin-left: 15px;
	font-size: 12px;
}

h2
{
	margin: 0;


	font-size: 24px;
	padding-top: 3px;

	color: $dark;
	margin-right: 10px;
	margin-bottom: 0px;
	/* margin-bottom: 10px;
	background-repeat:repeat-x;
	background-position:right top;
	background-image:url("$base/images/${area}_h2.gif") */
}

h3, h4
{
	margin: 10px;
	padding: 0;
}

ul
{
	margin: 0px;
	padding: 0px;
	margin-left: 30px;
	color: $med;
}

ul span
{
	color: black;
}

p
{
	margin:5px;
	padding:0;
}

form
{
	margin: 0;
	padding: 0;
}

.graphborder
{
	border: 1px solid black; 
}

.labelcell
{
		font-size: 13px;
		font-weight: bold;
		text-align: right;
		vertical-align: top;
}

table.cellpadding3 td, table.cellpadding3 th	{ padding: 3px; }
table.cellpadding5 td, table.cellpadding5 th	{ padding: 5px; }
table.cellpadding7 td, table.cellpadding7 th	{ padding: 7px; }
table.cellpadding8 td,table.cellpadding8 th		{ padding: 8px; }

table.bordered
{ border-collapse: collapse; border: 1px solid black; }

table.bordered th, table.bordered td
{ border: 1px solid black; }


/* *************************** statsbox *********************** */

#statsbox
{
	margin: 6px 10px;
	float: right; 
	width: 282px; 
}

#statsbox.centered
{
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#statsbox.inside
{
	width: 370px; 
}

#statsboxmid
{
	border-left: 1px solid black; 
	border-right: 1px solid black; 
	background: #DDD; 
	font-size: 10px;
	text-align: center;
	padding: 5px 10px;
	overflow:hidden;
	height:100px;
}

#statsboxmid.inside
{
	height:55px;
}

#statsboxtop
{
	background-repeat:no-repeat;
	background-position:left top;
	background-image:url("$base/images/login_outside_top.gif");
	height:5px;
	overflow:hidden;
}

#statsboxtop.inside
{
	background-image:url("$base/images/login_inside_top.gif");
}

#statsboxbottom
{
	background-repeat:no-repeat;
	background-position:top left;
	background-image:url("$base/images/login_outside_bottom.gif");
	height:5px;
	overflow:hidden;
}

#statsboxbottom.inside
{
	background-image:url("$base/images/login_inside_bottom.gif");
}



/* *************************** tabs etc *********************** */



/*Global Resets*/
#navmenu
{
	width:888px;
	position:relative;
	margin: 0 auto;
	padding:0px;
	display:block;
}

#subnavmenu
{
	width:917px; /* FIXED WIDTH, MUST UPDATE COLCONTAINER WIDTH TOO*/
	position:relative;
	margin: 0 auto;
	padding:0px;
	clear:left;
}

#navmenu ul, #subnavmenu ul
{
	margin:0px;
	padding:0px;
}



/*  NAV MENU */
#navmenu {z-index:100;} /*to make the selected tab cover the border of the box below*/
#navmenu ul
{
  list-style:none;
  overflow:hidden;
  height:24px;

  background-repeat:repeat-x;
  background-position:left top;

}

#navmenu ul.home			{ background-image:url("$base/images/home_bg.gif") }
#navmenu ul.profile			{ background-image:url("$base/images/profile_bg.gif") }
#navmenu ul.chapter			{ background-image:url("$base/images/chapter_bg.gif") }
#navmenu ul.mailing			{ background-image:url("$base/images/mailing_bg.gif") }
#navmenu ul.events			{ background-image:url("$base/images/events_bg.gif") }
#navmenu ul.volunteering	{ background-image:url("$base/images/volunteering_bg.gif") }

#navmenu ul li 
{
  float:left;
  margin-left:12px;
  width:124px;

  /* background image specified below */
  background-repeat:no-repeat;
  background-position:left top;
  margin: 0px 8px;
  
  padding-left:5px;

  margin-top:3px;
  }

#navmenu ul li a 
{
  float:left;
  display:block;

  /* background image specified below */
  background-repeat:no-repeat;
  background-position:right top;
  

  padding-right:5px;
  padding-top:1px;
  padding-bottom:2px;

  font-family: tahoma, verdana, sans-serif;
  font-size:14px;
  text-align:center;
  text-decoration:none;
  font-weight:bold;
  color:#FFF;
  height: 17px;  
  }

#navmenu ul li.pop 
{
  margin-top:1px;
}

#navmenu ul li.pop a 
{
  height: 19px;
}

/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#navmenu ul li a {float:none;}
/* End IE5-Mac hack */

#navmenu ul li a:hover 
{

}


#navmenu ul li#hometab			{ background-image:url("$base/images/home_l.gif"); }
#navmenu ul li#profiletab		{ background-image:url("$base/images/profile_l.gif"); }
#navmenu ul li#chaptertab		{ background-image:url("$base/images/chapter_l.gif"); }	
#navmenu ul li#mailingtab		{ background-image:url("$base/images/mailing_l.gif"); }	
#navmenu ul li#eventstab		{ background-image:url("$base/images/events_l.gif"); }
#navmenu ul li#volunteeringtab	{ background-image:url("$base/images/volunteering_l.gif"); }

#navmenu ul li#hometab a			{ background-image:url("$base/images/home_r.gif"); }
#navmenu ul li#profiletab a			{ background-image:url("$base/images/profile_r.gif"); }
#navmenu ul li#chaptertab a			{ background-image:url("$base/images/chapter_r.gif"); }	
#navmenu ul li#mailingtab a			{ background-image:url("$base/images/mailing_r.gif"); }	
#navmenu ul li#eventstab a			{ background-image:url("$base/images/events_r.gif"); }
#navmenu ul li#volunteeringtab a	{ background-image:url("$base/images/volunteering_r.gif"); }


#navmenu ul li${areatab}
{
  background-image:url("$base/images/home_l_sel.gif");
  padding-left:9px;

  margin-top:0px;
  height:24px;
}
#navmenu ul li${areatab} a
{
  background-image:url("$base/images/home_r_sel.gif");
  padding-right:9px;
    padding-top:2px;
  height:24px;
  
}

#navmenu ul li${areatab} { background-image:url("$base/images/${area}_l_sel.gif"); }
#navmenu ul li${areatab} a { background-image:url("$base/images/${area}_r_sel.gif"); }


/* SUB NAV MENU*/
#subnavmenu
{

	padding-left:5px;

	position:relative;
	top:-1px;
	margin-bottom:-1px; /* Pulls following content up by same ammount */
	z-index:0;
	
	background-repeat:no-repeat;
	background-position:top left;
	background-image:url("$base/images/${area}_sub_l.gif");

}



#subnavmenu ul
{
  list-style:none;
  overflow:hidden;
  height:28px;

  background-repeat:no-repeat;
  background-position:right top;
  background-image:url("$base/images/${area}_sub_r.gif");

}


#subnavmenu ul li 
{
	float:left;
    margin-top:5px;
}

#subnavmenu ul li a
{
	font-family: tahoma, verdana, sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	
	margin-left:10px;
	padding-right:10px;

	border-right: 1px solid;
	border-color: $dark;
}

#subnavmenu ul li a:hover
{
	text-decoration: underline;
	color: $dark;
}

#subnavmenu ul li.active a
{
	text-decoration: none;
	font-weight: bold;
}

#subnavmenu ul li.active a:hover
{
	color: $dark;
}




/* ********************* Toolbars *********************** */


.toolbarheader
{
	background-repeat:no-repeat;
	background-position:top right;
	background-image:url("$base/images/${area}_r.gif");
	color: white; 
	font-weight: bold;
	padding:3px; 
	padding-left: 9px;
	font-size: 13px;

}

.toolbarheader_right
{
	/* background-repeat:no-repeat;
	background-position:top left;
	background-image:url("$base/images/${area}_l_long.gif"); */
	background-color: #001f65;
	color: white; 
	font-weight: bold;
	padding:3px; 
	padding-left: 9px;
	font-size: 13px;

}

.toolbarcontent
{
	border-right: 1px solid $dark;
	padding:5px;
	padding-left: 10px;
}

.toolbarcontent_right
{
	background-color: #f1f5ff;
	padding: 6px;
	padding-bottom: 0px;
	border: 1px solid white;
	border-top: 0px;
	border-left: 1px solid #002BA2;
}

.toolbarcontent ul, .toolbarcontent_right ul
{
	list-style-type: none;
	padding:0;
	margin:0;
	font-size: 13px;
}

.toolbarcontent ul li, .toolbarcontent_right ul li
{
	padding-top: 2px;
	padding-bottom: 2px;
}

.toolbarbottom
{
	background-repeat:no-repeat;
	background-position:top right;
	background-image: url("$base/images/${area}_body_bottom.gif");
	height:5px;
	overflow:hidden;
/*	width:180px; */
	margin-bottom: 12px;
}

.toolbarbottom_right
{
	background-repeat:no-repeat;
	background-position:top left;
	background-image: url("$base/images/${area}_body_bottom.gif");
	height:5px;
	overflow:hidden;
/*	width:300px; */
	margin-bottom: 12px;
}


/*********************** post boxen *****************/

.post
{
	margin-bottom: 12px;
}

.pagination
{
	font-size: 12px;
	text-align: center;
}

.postheader
{
	background-repeat:no-repeat;
	background-position:top left;
	background-image:url("$base/images/${area}_l_long.gif");
	padding:5px; 
	padding-left:8px;
	color: white; 
	font-weight: bold; 
	font-size: 14px;
}

.postheader a
{
	background-color: $med;
}

.postheaderlink
{
	color: white; 
	font-weight: bold; 
	font-size: 14px;
	text-decoration: none;
}

.category
{	
	font-size: 12px;
	color: $light;
	text-decoration: none;
}

.postsubheader
{
	border-left: 1px solid $dark;
	border-right: 1px solid $dark;
	background: $light; 
	padding: 2px 5px;
	font-size:9px;
}

.postcontent
{
	border-left: 1px solid $dark;
	border-right: 1px solid $dark;
	border-bottom: 1px dashed #dddddd;
	padding:5px;
}

#maincolumn div.postcontent p.postbody, #formatting p.postbody
{
	padding-right: 4px;
	font-size: 12px;
	line-height: 17px;
}



/*********************** links, hover effects *****************/

a
{
	color: $dark;
	text-decoration: underline;
}

a:hover
{
	color: $med;
	text-decoration: none;
}

a.nodeco
{
	color: black;
	text-decoration: none;
}

a.more
{
	font-size: 10px;
}

a.nodeco:hover
{
	text-decoration: underline;
}

a.nohover:hover
{
	text-decoration: none;
}

a.postheaderlink:hover
{
	color: white;
	text-decoration: underline;
}

a.category:hover
{
	color: $light;
	text-decoration: underline;
}

ul.feedlist
{ margin-left: 20px; }

ul.feedlist li
{ list-style-image:url($base/images/feed.gif); }

ul.categorylist li.cat
{ margin-top: 2px; line-height: 1em; }

ul.categorylist li.cat a
{ font-size: 11px; text-decoration: none; }

ul.categorylist li.cat a.active
{ font-weight:bold; }

.tagcloudbar a
{ text-decoration:none; font-size: 10px; line-height: 1.2em; }

ul.postlinklist
{ 
	margin-left:5px !important;
	padding-left: 0 !important;
	width:100%;
	font-size: 11px;
	color: #666666;
}

ul.postlinklist li
{
	padding: 0; 
	padding-bottom: 5px;
	padding-left: -5px;
}

ul.postlinklist li a
{
	font-size: 11px; 
	line-height: 1.1; 
	text-decoration: none;
}

/*********************** forms *****************/

input, select, option, textarea
{
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

.button
{
	border: 1px solid black;
	color: black;
	background: $light; 
	font-size: 13px;
	padding: 0 3px;
	width: auto;
	overflow: visible;
}

.fieldname
{
	font-size: 13px;
}

.highlight
{
	color: red;
}

.required
{
	font-weight: bold;
}

.instructions
{
	font-size: 10px; 
	margin-top: 3px; 
}

.formerror
{
	font-size: 10px;
}



/*********************** groupfiles *****************/

ul.filetree li
{
	margin-left: -20px;
}

div.diroptions
{
	margin-left: -60px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.fileoptions
{
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Folder Types */
li.fileshare a
{
	text-decoration:none;
	color: black;
}

li.fileshare a.more
{
	text-decoration:none;
	color: #964400;
}

li.folder 
{ list-style-image: url("$base/images/groupfiles_folder.png") }

li.folder_empty {
	list-style-image: none;
	list-style-type: none;
	color: black;
}

li.file_ 
{ list-style-image: url("$base/images/groupfiles_file.png") }

li.file_doc, li.file_docx 
{ list-style-image: url("$base/images/groupfiles_file_doc.png") }

li.file_pdf 
{ list-style-image: url("$base/images/groupfiles_file_pdf.png") }

li.file_ppt, li.file_pptx 
{ list-style-image: url("$base/images/groupfiles_file_ppt.png") }

li.file_txt, li.file_rtf 
{ list-style-image: url("$base/images/groupfiles_file_txt.png") }

li.file_xls, li.file_xlsx 
{ list-style-image: url("$base/images/groupfiles_file_xls.png") }

li.file_zip, li.file_tar, li.file_gz, li.file_rar 
{ list-style-image: url("$base/images/groupfiles_file_zip.png") }

li.file_html, li.file_htm, li.file_php, li.file_xml 
{ list-style-image: url("$base/images/groupfiles_file_code.png") }

li.file_odt, li.file_ods, li.file_odp, li.file_odg, li.file_odf 
{ list-style-image: url("$base/images/groupfiles_file_tux.png") }

li.file_jpeg, li.file_jpg, li.file_gif, li.file_png, li.file_tiff, li.file_psd, li.file_bmp 
{ list-style-image: url("$base/images/groupfiles_file_pic.png") }

li.file_mp3, li.file_ogg, li.file_wav, li.file_au 
{ list-style-image: url("$base/images/groupfiles_file_sound.png") }

li.file_mov, li.file_mpg, li.file_mpeg, li.file_divx, li.file_xvid 
{ list-style-image: url("$base/images/groupfiles_file_movie.png") }



/*********************** datepicker *****************/



.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: white;
	border: 1px solid black;

	}

.dpTD {
	border: 1px solid white;
	}


.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}


.dpTDHover {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}

.dpDayTD {
	background-color: white;
	border: 1px solid white;
	color: black;
	font-weight: bold;
	font-style: italic;
	}


.dpTitleText {
	font-size: 12px;
	color: black;
	font-weight: bold;
	}


.dpDayHighlight {
	color: #4060ff;
	font-weight: bold;
	}


.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
	background: white;
	border: 0;
	font-weight: bold;
	padding: 0px;
	}


.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
	background: white;
	font-weight: bold;
	border: 0;
	}


/*********************** thickbox *****************/

#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
}
#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color:#666666;
}
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

#TB_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.TB_overlayMacFFBGHack {background: url($base/images/macFFBgHack.png) repeat;}
.TB_overlayBG {
  background-color:#000;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
  position: fixed;
  background: #ffffff;
  z-index: 102;
  color:#000000;
  display:none;
  border: 4px solid #525252;
  text-align:left;
  top:50%;
  left:50%;
}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
  display:block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}
#TB_caption{
  height:25px;
  padding:7px 30px 10px 25px;
  float:left;
}
#TB_closeWindow{
  height:25px;
  padding:11px 25px 10px 0;
  float:right;
}
#TB_closeAjaxWindow{
  padding:7px 10px 5px 0;
  margin-bottom:1px;
  text-align:right;
  float:right;
}
#TB_ajaxWindowTitle{
  float:left;
  padding:7px 0 5px 10px;
  margin-bottom:1px;
}
#TB_title{
  background-color:#e8e8e8;
  height:27px;
}
#TB_ajaxContent{
  clear:both;
  padding:2px 15px 15px 15px;
  overflow:auto;
  text-align:left;
  line-height:1.4em;
}
#TB_ajaxContent.TB_modal{
  padding:15px;
}
#TB_ajaxContent p{
  padding:5px 0px 5px 0px;
}
#TB_load{
  position: fixed;
  display:none;
  height:13px;
  width:208px;
  z-index:103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect{
  z-index:99;
  position:fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  border:none;
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height:100%;
  width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent{
  clear:both;
  border:none;
  margin-bottom:-1px;
  margin-top:1px;
  _margin-bottom:1px;
}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('$base/images/indicator.white.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

.pichighlight {
	border: 0px;
}

  /****************/
 /*   TWITTER    */
/****************/

ul#twitter_update_list
{
    margin-left: 1.3em;
    list-style-type: none;
}

#twitter_update_list li
{
    margin-bottom: 1em;
    font-size: 10px;
}

#twitter_update_list a
{
    display: block;
    margin-left: 1.0em;
  
    target-new: tab;

    /* see also end of file */
}

#twitter_update_list span a
{
    float: none;
    margin-left: 0;
    position: relative;
    display: inline;
  
    /* see also end of file */
}

#twitter-link
{
    display:block;
    text-align:left;
}

#twitter_update_list a
{
    /* continued from above */
    color: #808080;
}

#twitter_update_list span a
{
    /* continued from above */
    color: #002BA2;
}

