/*********************** post boxes *****************/

div.post
{
	margin-bottom: 12px;
}

.pagination
{
	font-size: 12px;
	text-align: center;
}

.post div.postheader
{
    border-top: 0;
    padding: 10px 5px 5px 8px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
	color: white; 
	font-weight: bold; 
	font-size: 14px;
}

.postheaderlink, .postheaderlink:visited
{
	color: white; 
	font-weight: bold; 
	font-size: 14px;
	text-decoration: none;
	position: relative;
	top: -3px;
	left: 3px;
}

.post div.postheader.shortpost
{
    border-top: 0;
    padding: 8px 0px 2px 5px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
	color: white; 
	font-weight: normal; 
	font-size: 12px;
	height: 12px;
	overflow: hidden;
}

div.shortpost .postheaderlink, div.shortpost .postheaderlink:visited
{
	color: white; 
	font-weight: normal; 
	font-size: 12px;
}

.category
{	
	font-size: 12px;
	color: #C2D1FF;
	text-decoration: none;
}

.post div.postsubheader
{
	border-left-width: 1px;
	border-right-width: 1px;
	padding: 2px 5px;
	font-size:10px;
}

.post div.postcontent
{
	border-left-width: 1px;
	border-right-width: 1px;
	padding:10px;
}

.post div.postcontent pre {
white-space: normal;
}


#maincolumn div.postcontent p.postbody
{
	padding-right: 4px;
	font-size: 12px;
	line-height: 18px;
}

div.topic-numberofreplies {

float: right; /* margin-top: -8px; */ margin-right: 15px; font-size: 10px; font-weight: normal; text-align: right; width: 150px;
}
div.topic-numberofreplies.topic-nor-two {
margin-top: -7px;
}

.posts-icon-paperclip {
float: right; margin: 0px 10px 0 0; padding: 0;
}

.posts-icon-whiteboard {
float: right; margin-top: 1px; margin-left: 10px; padding: 0;
}

div.topic-numberofreplies.topic-nor-two .posts-icon-whiteboard {
margin-top: 7px;
}

div#maincolumn div.whiteboard-box {
border-width:1px;
padding:1em 1.5em;
border-color: #ccc;

}

div#maincolumn div.whiteboard-editing-box {
float:right;
padding:10px;
}

/* more on attachments in the main CSS */

/* post profile pic thumbnails */
img.posthumbnail {
border: 1px solid #CCC; float:right; margin: 10px; margin-left:14px; padding:5px;
max-width: 50px; max-height: 50px;
}



#maincolumn .ajaxpoststitle {
-moz-border-radius:11px;
-webkit-border-radius: 11px;
background-color: #F0F0F0;
margin:0 0 12px;
padding:12px;
}
#maincolumn .ajaxpoststitle h1 {
margin:0;
}


div.ajaxpostsside {
float:right;
width:130px;
}
div.ajaxpostsside ul {
margin:0;
padding:0;
list-style-type: none;
float:right;
}
div.ajaxpostsside ul li a, div.ajaxpostsside ul li span {
display: block;
padding:2px 4px;
}

/* making h1, h2, h3 etc. less obnoxious on the frontpage */
/* default for text is 12px */

div#topiclisting div.post h1,div#topiclisting div.post  h2, div#topiclisting div.post h3, div#topiclisting div.post h4, div#topiclisting div.post h5, div#topiclisting div.post h6 {
margin:0;
margin-bottom:0.5em;
}

div#topiclisting div.post h1, div#topiclisting div.post h2, div#topiclisting div.post h3, div#topiclisting div.post h4, div#topiclisting div.post h5, div#topiclisting div.post h6 {
font-size: 13px;
}
div#topiclisting div.post img {
display: none;
}
div#topiclisting div.post img.posthumbnail {
display: block;
}
