#tabhead .login {
    color: #FC9; /* login bar text colour */
}
#tabhead .login a, #tabhead .login a:visited {
    color: #FC9; /* login bar link colour */
}
.friendship_request {
    background: #FC9;
}
#subnav {
    background: #FC9; /* tab colour */
    border-bottom: 1px solid #F63;
}
div.friends {
    background: #FC9;
}
div.tribes {
    background: #FC9;
}
div.groups {
    background: #FC9;
    padding: 8px;
    margin-bottom: 20px;
}
div.groups h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members {
    background: #FC9;
}
div.notice_settings {
    background: #FC9;
}
.form-toggle p span {
    background: #FC9;
}

.form-toggle form {
    background: #FC9;
}

#tabhead .logo img {
    width: auto;
}

ul#messages li a.normal { 
    float: none; 
 	color: #1133CC; 
}

div.topic_group {
     font-size: 0.8em; 
     margin-bottom: -1.2em;
}

div.topic_group a {
    color: #606060;
}

/* Chapter info */

div#chapterHead, div#chapterActions, div#chapterExec {
    overflow: auto;
    width: 100%;
    margin: 10px auto;
}

div#chapterHeadLeft {    
    float: left;
    width: 50%;
}

div#chapterHeadRight {    
    margin-left: 50%;
    width: 50%;
}

div#chapterActionsLeft {
    float: left;
    width: 50%;
}

div#chapterActionsRight {    
    margin-left: 50%;
    width: 50%;
}

div.singleExecLeft, div.singleExecRight {
    width: 50%;
    height: 70px;
    font-size: 1.2em;
}
div.singleExecLeft { float: left; }
div.singleExecRight { float: right; }

div.singleExecLeft img, div.singleExecRight img {
    float:left;
    margin-right: 12px;
}
