#tabhead .login {
    color: #FC9; /* login bar text colour */
}
#tabhead .login a, #tabhead .login a:visited {
    color: #FC9; /* login bar link colour */
}
.friendship_request {
    background: #FC9;
}
#subnav {
    background: #FC9; /* tab colour */
    border-bottom: 1px solid #F63;
}
div.friends {
    background: #FC9;
}
div.tribes {
    background: #FC9;
}
div.groups {
    background: #FC9;
    padding: 8px;
    margin-bottom: 20px;
}
div.groups h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members {
    background: #FC9;
}
div.notice_settings {
    background: #FC9;
}
.form-toggle p span {
    background: #FC9;
}

.form-toggle form {
    background: #FC9;
}

#tabhead .logo img {
    width: auto;
}

ul#messages li a.normal { 
    float: none; 
 	color: #1133CC; 
}