{% extends "site_base.html" %}

{% block extra_head %}
<!-- 		<link href="/media/css/base.css" rel="stylesheet" type="text/css" media="screen" />  -->
<!-- 		<link href="/media/css/forms.css" rel="stylesheet" type="text/css" media="screen" />  -->
		<script type="text/javascript" src="/admin/jsi18n/"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/core.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/admin/RelatedObjectLookups.js"></script> 
		{{ form.media }} 
{% endblock %}

{% block body_class %}volunteering purple{% endblock %}

{% block head_title %}Volunteering with EWB{% endblock %}

{% block subnav %}
<ul class="subnav">
<!-- user/guest -->
<li class="current">Volunteering with EWB</li>

<!-- admins -->
<li><a href="{% url placements %}">Placements</a></li>
<li><a href="{% url sessions %}">Sessions</a></li>
<li><a href="{% url applications %}">Applications</a></li>

<li><a href="{% url casestudies %}">Case Studies</a></li>
<li><a href="{% url sectors %}">Sectors</a></li>
<li><a href="{% url stipends %}">Stipends</a></li>
<li><a href="{% url travelsegments %}">Travel Segments</a></li>
<li><a href="{% url insuranceinstances %}">Insurance</a></li>
<li><a href="{% url sendinggroups %}">Sending Groups</a></li>

<li><a href="{% url ov_info %}">OV Info</a></li>

</ul>
{% endblock %}
