{% extends "messages/base.html" %}

{% load i18n %}
{% load timezone_filters %}
{% load pagination_tags %}

{% block li-inbox %}current ui-tabs-selected ui-state-active{% endblock %} {# last 2 added for new UI tabs look #}

{% block msgheader %}{% trans "Inbox" %}{% endblock %}

{% block msgbody %}
    
    {% autopaginate message_list 20 %}
    
    <table class="messages standard">
        <thead>
            <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
        </thead>
        <tbody>
            {% for message in message_list %}
                <tr class="{% cycle "" "bkgd-light" %}">
                    <td>{{ message.sender.visible_name }}</td>
                    <td>
                        {% if message.new %}<strong>{% endif %}
                        {% if message.replied %}<em>{% endif %}
                        <a class="message-link" href="{{ message.get_absolute_url }}">{% if message.subject.strip %}{{ message.subject }}{% else %}(No subject.){% endif %}</a>
                        {% if message.replied %}</em>{% endif %}
                        {% if message.new %}</strong>{% endif %}</td>
                    <td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</td>
                    <td><a href="{% url messages_delete message.id %}">{% trans "delete" %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% paginate %}

{% endblock %}
