{% extends "messages/base.html" %}

{% load i18n %}
{% load oembed_tags %}
{% load timezone_filters %}

{% block li-view %}current ui-tabs-selected ui-state-active{% endblock %}

{% block msgheader %}{% trans "View Message" %}{% endblock %}


{% block msgbody %}
    
    <dl class="message-headers">
        <dt>{% trans "Sender" %}:</dt>
        <dd><a href="{% url profile_detail message.sender %}">{{ message.sender.visible_name }}</a></dd>
        <dt>{% trans "Subject" %}:</dt>
        <dd><strong>{{ message.subject }}</strong></dd>
        <dt>{% trans "Date" %}:</dt>
        <dd>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT")}}</dd>
        <dt>{% trans "Recipient" %}:</dt>
        <dd>{{ message.recipient.visible_name }}</dd>
    </dl>
    
    <div class="message-body">
    {% oembed %}{{ message.body|safe }}{% endoembed %}
    
    </div>
    
    <hr/>
    {% ifequal message.recipient user %}
        {#<p><a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a></p>#}
        
        <form class="inline-form-button" action="{% url messages_reply message.id %}" method="POST"><input type="submit" value="{% trans "Reply" %}"></form>
        
    {% endifequal %}
    
    {#<p><a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a></p>#}
    
        <form class="inline-form-button"  action="{% url messages_delete message.id %}" method="POST"><input type="submit" value="{% trans "Delete" %}"></form>
{% endblock %}
