{% extends "base_groups/base.html" %}

{% load i18n %}

{% block body_class %}communities orange{% endblock %}

{% block subnav %}
    <ul class="subnav">
        {% if group %}
        <li><a href="{% url community_detail group.slug %}">{{ group.name }}</a></li>
        {% endif %}
        <li><a href="{% url communities_index %}">{% trans "All Communities" %}</a></li>
    </ul>
{% endblock %}

{% block toolbar_left %}
    {{ block.super }}

    {% if group %}
	    {% if is_admin %}
            <div class="toolbarheader bkgd" id="box-admin-options">{% trans "Admin Options" %}</div>
            <div class="toolbarcontent">
		        <a href="{% url community_new_member group.slug %}">{% trans "Add users" %}</a><br/>
		        <a href="{% url community_invite_member group.slug %}">{% trans "Invite users" %}</a><br/>
		        <a href="{% url community_stats group.slug %}">{% trans "Group statistics" %}</a><br/>
	            <br/>
	            
       			<a href="{% url edit_community group.slug %}">{% trans "Edit list details" %}</a><br/><br/>
            </div>
        {% endif %}
	{% endif %}
{% endblock %}


