{% extends "communities/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load communities_tags %}
{% load base_groups_tags %}
{% load sorting_tags %}
{% load cache %}

{% block head_title %}{% blocktrans %}Communities{% endblocktrans %}{% endblock %}

{% block body %}

{% cache CACHE_TIMEOUT "communitylist" user request.page request.field search_terms %}

    <h1>{% trans "Communities" %}</h1>
    
    {# moving the create a community link to the sidebar, but leaving the login prompts here for visibility #}
    {% if not user.is_authenticated %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to join a community.{% endblocktrans %}</p>
    {% endif %}
    
    {% autosort groups %}
    {% autopaginate groups 10 %}
    {% if groups %}
    
    <div class="chapterlist communitieslist">




        {% for group in groups %}
        <dl>
            {% show_community group %}
        </dl>

        {% endfor %}
        
    </div>

        <br class="clear"/>
        {% paginate %}
    {% endif %}
    
{% endcache %}

{% endblock %}


{% block toolbar_left %}
{% endblock %}



{% block toolbar_right %}


    {% if user.is_authenticated and user.get_networks %}
    	{#{% cache CACHE_TIMEOUT "mycommunities" user.username %}#}  
		<div class="toolbarheader bkgd" id="box-my-communities">{% trans "My Communities" %}</div>
		<div class="toolbarcontent">
	    {% for group in user.get_communities %}

			<div style="padding-bottom: 4px;">
				<a href="{% url group_detail group.slug %}">{{ group.name }}</a>
			</div>

    	{% endfor %}
		</div>
		{#{% endcache %}#}
	{% endif %}



<div class="toolbarheader bkgd" id="box-search-communities">{% trans "Search communities" %}</div>
		<div class="toolbarcontent">

    <form method="GET" action="">
        <input type="text" name="search" value="{{ search_terms }}" />
        <input type="submit" value="Search" />
        {% if search_terms %}
            <br/><a href="{% clear_search_url request %}">Clear Search Terms</a>
        {% endif %}
    </form>
</div>

<div class="toolbarheader bkgd" id="box-sort-communities">{% trans "Sort" %}</div>
		<div class="toolbarcontent orderlistbox">
    
        {% trans "Order communities by:" %}
            {% anchor recent_topic_count "Recent Posts" %}
            {% anchor topic_count "Total Posts" %}
            {% anchor member_count Members %}
            {% anchor name Name %}
            {# {% anchor created Date %} #}
        
</div>

    {% if user.is_authenticated %}
<div class="toolbarheader bkgd" id="box-create-communities">{% trans "Create" %}</div>
		<div class="toolbarcontent">
		You can create new communities and invite members to contribute.
        <p><a href="{% url new_community %}">Create a new community</a></p>
</div>
    {% endif %}

    {% if not user.is_authenticated %}
<div class="toolbarheader bkgd" id="box-about-communities">{% trans "About EWB Communities" %}</div>
<div class="toolbarcontent">
myEWB communities are where EWB members come together to discuss issues important to them and to the organization.  Any logged-in myEWB member can also create new communities. Sign in, create a community of your own, and share it with others!
</div>
{% endif %}



{% endblock %}
