{% extends "communities/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load wiki_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load communities_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load events_tags %} 

{% block head_title %}{{ group.name }}{% endblock %}

{% block body %}
    
    {% if user.is_authenticated %}
        <div class="right_panel">
            <div class="members">
                <h2>{% trans "Members" %}</h2>
                <table width="100%">
                    {% for member in group.get_members %}
                        {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                        <td>
                            <div class="avatar">{% avatar member.user 40 %}</div>
                            <div class="details"><a href="{% url profile_detail member.user.username %}" title="{{ member.user.username }}">{{ member.user.username }}</a></div>
                        </td>
                        {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                    {% endfor %}
                    {% if group.get_members|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
                </table>
                <p>
                    Search members:
                    <form method="GET" action="{% url community_members_index group.slug %}">
                        <input type="text" name="search" size="8" value="{{ search_terms }}" />
                        <input type="submit" value="Search" />
                    </form>
                </p>                   
                <p><a href="{% url community_members_index group.slug %}">{% trans "Detailed list" %}</a></p>
            </div>
        </div>
    {% endif %}
    
    <div style="width: 550px;">
        
        <h1>{{ group.name }}</h1>
        
        <p>
            {% trans "Slug:" %} <tt>{{ group.slug }}</tt><br />
            {% trans "Creator:" %} <a href="{% url profile_detail group.creator.username %}">{{ group.creator }}</a><br />
            {% trans "Created:" %} {{ group.created|date }}
            <br />
            {% show_tags_for group %}
        </p>
        
        <p>{{ group.description }}</p>

		{% if group.parent %}
			<p>{% trans "Parent:" %} <a href="{% url group_detail group.parent.slug %}">{{ group.parent.name }}</a></p>
		{% endif %}
        
        {% if member.is_admin %}
			<p><a href="{% url edit_community group.slug %}">{% trans "Edit details" %}</a></p>           
        {% endif %}
        
        {% show_group_content group %}

    </div>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-community').hide();
            $('#edit-community-toggle').click(function() {
                $('#edit-community').toggle();
                $('#edit-community').autoscroll();
                return false;
            });
            if ($('#edit-community .error').length) {
                $('#edit-community').show();
                $('#edit-community .error').autoscroll();
            }
        });
    </script>
    
{% endblock %}
