{% extends "communities/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}

{% block head_title %}{% blocktrans %}Add Member{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Add Member" %}</h1>
    
    {% if user.is_authenticated %}
		{% if user.is_staff or is_admin %}
	        <form class="uniForm" id="member_form" method="POST" action="">
	            <fieldset class="inlineLabels">
	                {{ form|as_uni_form }}
	                <div class="form_block">
	                    <input type="hidden" name="action" value="add" />
	                    <input type="submit" value="{% trans 'add' %}"/>
	                </div>
	            </fieldset>
	        </form>
		{% else %}
			<p>{% trans "Please confirm that you wish to join the community." %}</p>
			<form class="uniForm" id="member_form" method="POST" action="">
	            <fieldset class="inlineLabels">
	                <div class="form_block">
	                    <input type="hidden" name="user" value="{{ user.id }}" />
	                    <input type="submit" value="{% trans 'add' %}"/>
	                </div>
	            </fieldset>
	        </form>
		{% endif %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to join a group.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}