{% extends "apply/base.html" %}
{% load sorting_tags pagination_tags %}
{% load truncate helpers %}
{% autosort insuranceinstance_list %}

{% block head_title %}
Applications » Insurance Instance
{% endblock %}

{% block body %}

	{% new_button "insuranceinstance" "insurance plan" %}

	{% if insuranceinstance_list %}
		{% autopaginate insuranceinstance_list 10 %}
		{% paginate %}
		<div class="clear"></div>
		<table>
		    <tr>
		       <th>{% anchor placement "Placement" %}</th>
		       <th>{% anchor insurance_company "Insurance Company" %}</th>
		       <th>{% anchor policy_number "Policy" %}</th>
		       <th>{% anchor certificate_number "Certificate" %}</th>
		       <th>{% anchor start_date "Start Date" %}</th>
		       <th>{% anchor end_date "End Date" %}</th>
		       <th>{% anchor price "Price" %}</th>
		    </tr>
		{% for insuranceinstance in insuranceinstance_list %}
		<tr>
			<td>{{ insuranceinstance.placement }}</td>
			<td>{{ insuranceinstance.insurance_company.company_name }}</td>
			<td><a href="{% url insuranceinstance_detail insuranceinstance.id %}">{{ insuranceinstance.policy_number }}</a></td>
			<td>{{ insuranceinstance.certificate_number }}</td>
		  <td>{{ insuranceinstance.start_date|date:"d M Y" }}</td>
		  <td>{{ insuranceinstance.end_date|date:"d M Y" }}</td>
			<td>{{ insuranceinstance.price|floatformat:2 }}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
		<p>No insurance instance found.</p>
	{% endif %}
{% endblock %}

