<h3>Who's coming to conference?</h3>

<p>
<form id="filter-controls">

<a href="#/" class="clearallfilters">Clear all filters</a>

<strong>Filter by:</strong> <select class="filter" name="chapter" value="m">
    <option value="">All Chapters</option>
    <% _.each(globals.filter_lists.chapters_list, function(c) { %>
    <option value="<%= c[0] %>"><%= c[1] %></option>
    <% }); %>
</select>
<select class="filter" name="role">
    <% _.each(globals.filter_lists.roles_list, function(r) { %>
    <option value="<%= r[0] %>"><%= r[1] %></option>
    <% }); %>
</select>
<select class="filter" name="year">
    <option value="">All Years</option>
    <% _.each(globals.filter_lists.years_list, function(y) { %>
    <option value="<%= y[0] %>"><%= y[1] %></option>
    <% }); %>
</select>

<input id="hidden-last-name" type="hidden" class="filter" value ="" name="last_name" />
<input id="hidden-name" type="hidden" class="filter" value ="" name="search" />
<input id="hidden-registered" type="hidden" class="filter" value ="" name="registered" />
</form>
</p>
<div id="name-filter"></div>



<div class="searchnameregistered" style="width:320px;">
<label style="width:320px;"><strong>Search By Name:</strong> <input id="search" type="text" value="" style="padding:3px; width:162px;" /></label>
</div>

<div class="searchnameregistered"  style="width:190px; padding:3px;">
<span class="hideregistered"><label><input id="registered-filter" type="checkbox" value="" /> <strong>Hide Registered </strong></label></span>
</div>
<div class="cleardiv">&nbsp;</div>
