<h2>Send an Invitation to <%= model.get('name') %></h2>

<div class="no-question-offset">

<!-- <p>You're invited!</p> -->
<form>

    <p>
                <span class="facebox-profile-question">Subject</span>
    </p> 

    <p><input name="subject" class="invitation-input" value="See you at the EWB conference?" type="text" size="50" /></p>
    
    <p>
                <span class="facebox-profile-question">Your message</span>
    </p> 
    
    <p><textarea name="body" class="invitation-input" rows="14">
Hey <%= $.trim(model.get('name')).split(' ')[0] %>!

Hope you are doing very well.

I just noticed that you aren't registered yet for the 10th Anniversary 2011 EWB National Conference. I'd love to see you there and hang out. Any chance you can make it?

You should check out the new conference networking site at http://my.ewb.ca<%= routes.site_url %> to see who else is coming. It's a bit addictive so be careful!

Hope to see you in Toronto in January!

<%= sender_name %></textarea></p>
    <input type="hidden" class="invitation-input" name="recipient" value="<%= model.get('username') %>" />
    <input type="submit" value="Send"  class="updater-button" />
</form>


</div>
