<div class="sidebar-section-heading"><h3>Your Profile</h3></div>
<div class="sidebar-section-contents">
    <a href="#<%= model.hash() %>"><img src="<%= model.get('avatar_url') %>" height="120px" width="120px"/></a>
    <p><%= model.get('member_profile').name %></p>
    <a href="#/edit/profile/" class="edit-profile">Edit</a>
    <a id="logout" href="#/logout/">Logout</a>
    <% if (!model.get('registered')) { %>
    <a id="register" href="<%= routes.register %>"><img class="register-hook" src="<%= routes.media %>images/confcomm/register.png" alt="Register!" /></a>
    <% } %>
</div>
