<div class="profile-container">
<h2>Edit your profile below</h2>
<form method="POST" action="<%= routes.avatar_url %>" enctype="multipart/form-data">
    <p>
                <span class="facebox-profile-question">What are you excited about doing at conference?</span>
    </p> 
    
    
    <textarea class="profile-input" rows="5" name="conference_goals"><%= model.get('conference_goals') %></textarea>

    <p>
                <span class="facebox-profile-question">What are you hoping to learn at conference?</span>
    </p> 
    <textarea class="profile-input" rows="5" name="conference_question"><%= model.get('conference_question') %></textarea>

    <p>
                <span class="facebox-profile-question">Who are you hoping to connect with at conference and why?</span>
    </p> 
    <textarea class="profile-input" rows="5" name="connections"><%= model.get('connections') %></textarea>
    
    <p>
                <span class="facebox-profile-question">What are you doing now?</span>
    </p> 

    <textarea class="profile-input" rows="5" name="what_now"><%= model.get('what_now') %></textarea>

    <p>
                <span class="facebox-profile-question">What are your current interests?</span>
    </p> 

    <textarea class="profile-input" rows="5" name="interests"><%= model.get('interests') %></textarea>
    
    <p>
                <span class="facebox-profile-question">Your Photo</span>
    </p> 
    
    <img src="<%= model.get('avatar_url') %>" alt="Avatar for <%= model.get('member_profile').name %>" style="float:left; margin-right:10px;" />
    <div>
        <p><strong>Upload a new picture:</strong><br/><input type="file" name="avatar" class="profile-input"></p>
    </div>
    <div class="cleardiv">&nbsp;</div>
    <p><input id="update-profile" value="Update" type="submit" style="font-size:13px;" /></p>
</form>
</div>
