<div class="profile-container">

<div class="no-question-offset">

<h2>Edit your profile below</h2>
<!-- <form method="POST" action="<%= routes.avatar_url %>" enctype="multipart/form-data"> -->
<form method="POST" action="">
    <p>
                <span class="facebox-profile-question">What are you excited about doing at conference?</span>
    </p> 
    
    <textarea class="profile-input" rows="4" name="conference_goals"><%= model.get('conference_goals') %></textarea>

    <p>
                <span class="facebox-profile-question">What topics do you want to discuss at conference?</span>
    </p> 
    <textarea class="profile-input" rows="4" name="conference_question"><%= model.get('conference_question') %></textarea>

    <p>
                <span class="facebox-profile-question">What are you doing now?</span>
    </p> 

    <textarea class="profile-input" rows="4" name="what_now"><%= model.get('what_now') %></textarea>
    
    <p>
                <span class="facebox-profile-question">What are your current interests?</span>
    </p> 

    <textarea class="profile-input" rows="4" name="text_interests"><%= model.get('text_interests') %></textarea>

    <p>
                <span class="facebox-profile-question">Your Photo</span>
    </p> 
<!--
    <img src="<%= model.get('avatar_url') %>" alt="Avatar for <%= model.get('member_profile').name %>" style="float:left; margin-right:10px;" />
    <div>
        <p><strong>Upload a new picture:</strong> <input type="file" name="avatar" class="profile-input" /></p>
    </div>
-->
    <p>
        To change your photo, <a href="/avatar/change/" target="_new">click here</a>
    </p>

    <div class="cleardiv">&nbsp;</div>
    <p>
                <span class="facebox-profile-question">Save changes</span>
    </p> 
    
    <p><input id="update-profile" value="Update" type="submit"  class="updater-button" /></p>
</form>

</div>
</div>
