{% extends 'events/base.html' %}
{% load events_tags %}
{% load whiteboard_tags %}

{% block body %}

<div type="text" id="datepicker"></div>

<div id="event-details">

<h2>{{object.title}}</h2>

{% if can_edit %}
<p>
	<a href="{% url events_change object.pk %}">edit</a> | <a href="{% url events_delete object.pk %}">delete</a>
	{% if can_send %}
		| <a href="{% url events_email object.pk %}">send email</a>
	{% endif %}
</p>
{% endif %}

<p>Start: {{object.start|date:"D, M j \a\t P"}}<br/>
End: {{object.end|date:"D, M j \a\t\ P"}}</p>

<p>Location: {{object.location}}</p>

<p>{{object.description|safe}}</p>

{% show_whiteboard object.whiteboard object.content_object member %}

<p>Created by: {{object.creator.visible_name}}<br/>
Visible to {{object.content_object}}</p>

<p><a href="{% url events_feed_for_event object.id %}">export to ical</a></p>

</div>

<a href="{% link_to_events_for object.content_object 'css_class' 1 %}">&laquo; Back to 
{% if object.content_object.visible_name %}

{{object.content_object.visible_name}}
{% else %}
{{object.content_object }}
{# more accurate chapter_info.name or something? #}
{% endif %} 
events</a>

{% endblock %}

