{% extends "site_base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load whiteboard_tags %}
{% load events_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb2-posts.css" />
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>

{# TODO: move this into an appropriate CSS file #}
<style type="text/css" media="all">
    .group-subsection { display: none; }
</style>
{% endblock %}

{# FIXME: how to choose between communities & networks? #}
{# do we need to? (or will this always be overridden?) #}
{% block body_class %}communities orange{% endblock %}

{% block body %}
    {% comment %}
    Ideally this wouldn't really be in a base.html file, but rather 
    group_detail.html
    
    We can't do this because the templates don't support multiple inheritence -
    a child template (ie, networks/network_detail.html) would need to inherit 
    from group_detail.html (to get the groupbody tag), but also inherit from
    networks/base.html to get the additional toolbars defined there.
    
    The only solution is to define *_detail.html in these base.html files, but 
    always override the body...
    {% endcomment %}
    
    {% block grouptitle %}
        <h1>{{ group.name }}</h1>
    {% endblock %}

    <ul class="segmented" id="groupheader" style="float: none;">
        <li id="li-group-info" class="current"><a href="#group-info" id="show-group-info">{{ group.name }}</a></li>
        <li id="li-group-posts"><a href="#group-posts" id="show-group-posts">Group Posts</a></li>
        <li id="li-group-events"><a href="#group-events" id="show-group-events">Upcoming Events</a></li>
        <li id="li-group-whiteboard"><a href="#group-whiteboard" id="show-group-whiteboard">Whiteboard</a></li>
    </ul>
    
    <div id="group-info" class="group-subsection" style="display: block;">
        {% block groupbody %}
            {# OVERRIDE ME! #}
        {% endblock %}
    </div>

    <div id="group-posts" class="group-subsection">
        <h2>{% trans "Discussions" %}{% if group.topics.all.count %} ({{ group.topics.all.count }}){% endif %}</h2>

        {% get_grouptopics_for_group group as topic_queryset %}
        {% with topic_queryset|slice:":5" as topics %}
            {% if topics %}
                {% for topic in topics|slice:":5" %}
                    {% show_topic topic %}
                    <br/>
                {% endfor %}
                <p><a href="{% groupurl topic_list group %}">{% trans "more..." %}</a></p>
            {% else %}
                {% groupurl topic_list group as new_topic_url %}
                <p>
                    {% trans "None yet." %}
                    {% if user.is_authenticated %}<br/><a href="{{ new_topic_url }}">{% trans "Start one..." %}</a>{% endif %}
                </p>
            {% endif %}
        {% endwith %}
    </div>
    
    <div id="group-events" class="group-subsection">
        <h2>{% trans "Upcoming Events" %}</h2>
        {% events_upcoming user group %} <br/>
        <a href="{% link_to_events_for group 'css_class' 1 %}">Go to the {{group}} calendar</a><br/>
    </div>
    
    <div id="group-whiteboard" class="group-subsection">
        {% show_whiteboard_force group.whiteboard group member %}
    </div>

    {% comment %}

    <h2>{% trans "Tweets" %}</h2>

    {% tweet_listing tweets 1 0 %}

    {% if photos %}
        <h2>{% trans "Group Photo Pool" %}</h2>
        <div class="thumb-row clearfix">
            {% for photo in photos %}
            <div class="gallery-photo-thumb">
                <a href="/photos/details/{{ photo.photo.id }}/"><img src="{{ photo.photo.get_thumbnail_url }}" alt="{{ photo.photo.title }}"/></a><br />
                <img src="{{ STATIC_URL }}pinax/images/silk/icons/comment.png" border="0" class="noborder" align="absmiddle" /><a href="/photos/details/{{ photo.photo.id }}/">{% get_comment_count for photo as commentcount %} {% blocktrans %}{{ commentcount }} Comments {% endblocktrans %}</a>
           </div>
           {% endfor %}
       </div>
    {% endif %}
    {% endcomment %}

{% endblock %}

{% block toolbar_left %}
    {% if group and user.is_authenticated %}
        <div class="toolbarheader bkgd">{% trans "Membership" %}</div>
        <div class="toolbarcontent">
            {% if member %}
                {% if member.is_accepted %}
                    {% ifequal user group.creator %}
                        <p>{% trans "You are the creator of this group so can't leave (yet)." %}</p>
                    {% else %}
						<form method="POST" action="{% url network_delete_member group.slug user.username %}">
                        	<input type="submit" value="{% trans "Leave group" %}" />
						</form><br/>
                    {% endifequal %}                        
                {% endif %}
                
                {% if member.is_invited %}
                    {% trans "You have been invited to join this group. Do you wish to join?" %}<br/>
                    <form method="POST" action="{% url network_accept_invitation group.slug member.user.username %}">
                    	<input type="submit" value="{% trans "Join group" %}" />
        			</form>            			
					<form method="POST" action="{% url network_delete_member group.slug member.user.username %}">
                    	<input type="submit" value="{% trans "Decline" %}" />
					</form><br/>
                {% endif %}
                
                {% if member.is_requested %}
                    {% trans "You have requested membership in this group and your request is pending." %}<br/>
                {% endif %}
                
            {% else %}
				<a href="{% url network_new_member group.slug %}">{% trans "Join group" %}</a><br/>
            {% endif %}
        </div>        
    {% endif %}
{% endblock %}

{% block toolbar_right %}
    {% if group and user.is_authenticated %}
        <div class="toolbarheader bkgd">{% trans "Members" %}</div>
        <div class="toolbarcontent">
            <form method="GET" action="{% url network_members_index group.slug %}">
                <input type="text" name="search" style="width: 150px" value="{{ search_terms }}" />
                <input type="submit" value="Search" style="margin: 2px 0 0 5px;" />
            </form>
            <br/>

            {# TODO: make this a random listing of 10-ish people #}
            {% for member in group.get_accepted_members %}
                <div style="float: left; width: 15px; height: 15px;">
                    {% avatar member.user 15 %}
                </div>
                <div style="margin-left: 18px; height: 18px;">
                    <a href="{% url profile_detail member.user.username %}">{{ member.user.get_profile.name }}</a>
                </div>
            {% endfor %}
            
            <p><a href="{% url network_members_index group.slug %}">{% trans "Full list" %}</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block extra_body %}
    {% comment %}
    Child templates that override the body block should also override this, even 
    if it's just an empty block, for efficiency.
    {% endcomment %}
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#groupheader a').each(function() {
                $(this).click(function() {
                    $('.group-subsection').each(function() {
                        $(this).slideUp();
                    });
                    $('#groupheader li').each(function() {
                        $(this).removeClass('current');
                    });
                    $('#' + $(this).attr('id').substring(5)).slideDown();
                    $('#li-' + $(this).attr('id').substring(5)).addClass('current');
                });
            });
            
            {# Pre-select one of the boxes if needed #}
            {# thanks http://blog.rebeccamurphey.com/2007/12/04/anchor-based-url-navigation-with-jquery/ #}
            var url = document.location.toString();
            if (url.match('#'))
                $('#show-' + url.split('#')[1]).click();

        });
    </script>
{% endblock %}

