{% extends "site_base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load group_topics_tags %}
{% load whiteboard_tags %}
{% load events_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb2-posts.css" />
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>



	<script type="text/javascript">
	$(function() {
		$("#chapter-tabs").tabs({
			show: function(event, ui) {
				parent.location.hash = ui.panel.id;
			}
		});
	});
	</script>



{% endblock %}

{# FIXME: how to choose between communities & networks? #}
{# do we need to? (or will this always be overridden?) #}
{% block body_class %}communities orange{% endblock %}

{% block body %}
    {% comment %}
    Ideally this wouldn't really be in a base.html file, but rather 
    group_detail.html
    
    We can't do this because the templates don't support multiple inheritence -
    a child template (ie, networks/network_detail.html) would need to inherit 
    from group_detail.html (to get the groupbody tag), but also inherit from
    networks/base.html to get the additional toolbars defined there.
    
    The only solution is to define *_detail.html in these base.html files, but 
    always override the body...
    {% endcomment %}
    
    {% block grouptitle %}
        <h1 class="posts-title">{{ group.name }}</h1>
        
		{% if group.parent %}
			<h2 class="posts-parent-partof lighter">
				{% trans "Part of the " %} <a href="{{ group.parent.get_absolute_url }}">{{ group.parent.name }}</a>
			</h2>
		{% endif %}
		
		{% if not group.is_active %}
			<h2>(deleted)</h2>
		{% endif %}

    {% endblock %}




<div id="chapter-tabs">
	<ul>
		<li><a href="#group-info">{{ group.name }}</a></li>

		<li><a href="#group-posts">Posts</a></li>
		<li><a href="#group-events">Events</a></li>
		<li><a href="#group-whiteboard">Whiteboard</a></li>

	</ul>
	<div id="group-info">
		{% block groupbody %}
            {# OVERRIDE ME! #}
        {% endblock %}
	</div>
	<div id="group-posts">

		<h2>{% trans "Discussions" %}{% if group.topics.all.count %} ({{ group.topics.all.count }}){% endif %}</h2>

	    {% if member and member.is_accepted and group.is_active %}
			<p style="font-size: 14px;">
	    		<a href="{% groupurl topic_new group %}">Create a new post</a>
		    </p>
        {% else %}
            {% if is_admin and group.is_active %}
    			<p style="font-size: 14px;">
    	    		<a href="{% groupurl topic_new group %}" title="You're not a member of this group, but as an admin you can post to it.">Create a new post</a>
    		    </p>
            {% endif %}
	    {% endif %}
	    
        {% get_grouptopics_for_group group as topic_queryset %}
        {% with topic_queryset|slice:":5" as topics %}
            {# slice -- http://stackoverflow.com/questions/992230/django-for-loop-counter-break #}
            {% if topics %}
                {% for topic in topics|slice:":5" %}
                    {% show_topic_with_user topic %}
                    <br/>
                {% endfor %}
                <p><a href="{% groupurl topic_list group %}">{% trans "More posts..." %}</a></p>
            {% else %}
                {% groupurl topic_list group as new_topic_url %}
                <p>
                    {% trans "No posts. " %}
                    
        			{% if group.is_active %}
	    				{% if is_member %}
		    				<a href="{% groupurl topic_new group %}">Create a new post</a>
	    				{% else %}
		    				You need to 
	    	
		    				{% if user.is_authenticated %}
	    						<a href="{% groupurl new_member group %}">join this group</a>
	    					{% else %}
	    						join this group
	    					{% endif %}
	    	 				before you can post to it.
	    				{% endif %}
	    			{% endif %}
                </p>
            {% endif %}
        {% endwith %}


	</div>
	
	<div id="group-events">
		<h2>{% trans "Upcoming Events" %}</h2>
        {% events_upcoming user group %} <br/>
        <a href="{% link_to_events_for group 'css_class' 1 %}">Go to the {{group}} calendar</a><br/>
	</div>
	
	<div id="group-whiteboard">
		<h2>{% trans "Whiteboard" %}</h2>

        {% get_membership group request.user as member %}
        {% show_whiteboard_force group.whiteboard group member %}
	</div>
	
</div>





    {% comment %}

    <h2>{% trans "Tweets" %}</h2>

    {% tweet_listing tweets 1 0 %}

    {% if photos %}
        <h2>{% trans "Group Photo Pool" %}</h2>
        <div class="thumb-row clearfix">
            {% for photo in photos %}
            <div class="gallery-photo-thumb">
                <a href="/photos/details/{{ photo.photo.id }}/"><img src="{{ photo.photo.get_thumbnail_url }}" alt="{{ photo.photo.title }}"/></a><br />
                <img src="{{ STATIC_URL }}pinax/images/silk/icons/comment.png" border="0" class="noborder" align="absmiddle" /><a href="/photos/details/{{ photo.photo.id }}/">{% get_comment_count for photo as commentcount %} {% blocktrans %}{{ commentcount }} Comments {% endblocktrans %}</a>
           </div>
           {% endfor %}
       </div>
    {% endif %}
    {% endcomment %}

{% endblock %}

{% block toolbar_left %}

{% if group.is_active %}

	{% if not user.is_authenticated %}
        <div class="toolbarheader bkgd" id="box-membership">{% trans "Sign Up" %}</div>
        <div class="toolbarcontent">
            <p>Enter your email address below to sign up for the {{ group.name }} mailing list!</p>

			<form method="post" action="{% url new_email_member group.slug %}">
				{{ joinform }}
				<input type="submit" value="Subscribe"/>
			</form>
        </div>
	{% endif %}

    {% if group and user.is_authenticated %}
        <div class="toolbarheader bkgd" id="box-membership">{% trans "Membership" %}</div>
        <div class="toolbarcontent">
            {% get_membership group request.user as member %}
            {% if member %}
                {% if member.is_accepted %}
                    {% ifequal user group.creator %}
                        <p>{% trans "You are the creator of this group so can't leave (yet)." %}</p>
                    {% else %}
                        <p>You're currently a member of this group.</p>
                        
                        <a href="{% groupurl delete_member group username=user.username %}">Leave group</a>
                        
						{% comment %}
						<form method="POST" action="{% groupurl delete_member group username=user.username %}">
                        	<input type="submit" value="{% trans "Leave group" %}" />
						</form><br/>
						
						{% endcomment %}
                    {% endifequal %}                        
                {% endif %}
                
                {% if member.is_invited %}
					<div class="bkgd-light" style="border: 1px; width: 75%; margin: 0 auto; padding: 5px;">
						{% trans "You have been invited to join this group." %}<br/>
						<form method="POST" action="{% groupurl accept_invitation group username=member.user.username %}">
							<input type="submit" value="{% trans "Join group" %}" style="float: left;"/>
						</form>            			
						<form method="POST" action="{% groupurl delete_member group username=member.user.username %}">
							&nbsp;&nbsp;&nbsp;<input type="submit" value="{% trans "Decline" %}" />
						</form>
					</div>
                {% endif %}
                
                {% if member.is_requested %}
					<div class="bkgd-light" style="border: 1px; width: 75%; margin: 0 auto; padding: 5px;">
						{% trans "You have requested membership in this group and your request is pending." %}
						<form method="POST" action="{% groupurl delete_member group username=member.user.username %}">
							&nbsp;&nbsp;&nbsp;<input type="submit" value="{% trans "cancel request" %}" />
						</form>
					</div>
		        {% endif %}
                {# Dropping these here from further up the page. @@@ might need formatting. #}
                
				{% if member and member.is_invited %}
					<div class="bkgd-light" style="border: 1px; width: 75%; margin: 0 auto; padding: 5px;">
						{% trans "You have been invited to join this group." %}<br/>
						<form method="POST" action="{% groupurl accept_invitation group username=member.user.username %}">
							<input type="submit" value="{% trans "Join group" %}" style="float: left;"/>
						</form>            			
						<form method="POST" action="{% groupurl delete_member group username=member.user.username %}">
							&nbsp;&nbsp;&nbsp;<input type="submit" value="{% trans "Decline" %}" />
						</form>
					</div>
				{% endif %}

				{% if requests_outstanding %}
					<div class="bkgd-light" style="border: 1px; width: 75%; margin: 0 auto; padding: 5px;">
						{% trans "There are outstanding membership requests." %}
						<a href="{% groupurl members_index group %}">{% trans "Click here to manage" %}</a>
					</div>		
				{% endif %}
            {% else %}		{# if is_member #}
				<a href="{% groupurl new_member group %}">{% trans "Join group" %}</a><br/>
            {% endif %}
        </div>        
    {% endif %}		{# if group and user.is_authenticated #}
    
{% else %}			{# if group.is_active #}
	{% if group %}
		<div class="toolbarheader bkgd" id="box-membership">{% trans "Membership" %}</div>
		<div class="toolbarcontent">
			This group has been deleted.
		</div>
	{% endif %}
{% endif %}
{% endblock %}

{% block toolbar_right %}
    {% if group and group.is_active and user.is_authenticated %}
        <div class="toolbarheader bkgd" id="box-members">{% trans "Members" %}</div>
        <div class="toolbarcontent">
            <form method="GET" action="{% groupurl members_index group %}">
                <input type="text" name="search" style="width: 150px" value="{{ search_terms }}" />
                <input type="submit" value="Search" style="margin: 2px 0 0 5px;" />
            </form>
            <br/>

            {% get_random_members group 10 as randommembers %}
            {% for member in randommembers %}
                <div style="float: left; width: 15px; height: 15px;">
                    {% avatar member.user 15 %}
                </div>
                <div style="margin-left: 18px; height: 18px;">
                    <a href="{% url profile_detail member.user.username %}">{{ member.user.visible_name }}</a>
                </div>
            {% endfor %}
            
            <p><a href="{% groupurl members_index group %}">{% trans "Full list" %}</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block extra_body %}
    {% comment %}
    Child templates that override the body block should also override this, even 
    if it's just an empty block, for efficiency.
    {% endcomment %}
    
	<script type="text/javascript" src="{{STATIC_URL}}js/colorbox.js"></script>
	<link type="text/css" href="{{STATIC_URL}}css/colorbox.css" rel="stylesheet" />

    
{% endblock %}

