<h3>Double Opt-In</h3>

<strong>What is this?</strong><br/>
<p>
	When you add someone to your mailing list, if the person does not already have a myEWB account,
	they are sent an email asking them to verify their email address.<br/><br/>
	
	Until they click the verification link, their account is inactive and they will not receive
	any email from myEWB (including from any mailing lists).
</p>

<strong>What if I add someone who already has a myEWB account?</strong><br/>
<p>
	If they already have an active myEWB account (and have verified their email), they will 
	be added directly to the mailing list.  No further verification is needed.
</p>

<strong>Why is this necessary?</strong><br/>
<p>
	The need to confirm or verify an email address (commonly known as "double opt-in") is 
	standard practice for most mailing lists.  It ensures that:
	<ul>
		<li>people are not added to the mailing list without their permission (whether by mistake or maliciously)</li>
		<li>addresses on the mailing list are real addresses without typos</li>
		<li>people are explicitly aware that they've joined the list</li>
	</ul>
</p>

<p>
	While it may slow the growth of your mailing list numbers, it vastly improves the effectiveness of 
	your mailing list.  It also cuts down on the number of spam complaints we receive (usually from people who 
	didn't realize they were signing up for a mailing list, or who were mistakenly added), and reduces 
	the number of bounced email addresses we send to.  Both of these measures are used by spam 
	filters to predict spam - so addressing these issues will help the rest of our mail go through as well.
</p>
	
<strong>Is there any way around it?</strong><br/>
<p>
	At the moment, no: there is no way to over-ride this and force an email address into the system.
	If you do have a valid need, please <a href="mailto:franciskung@ewb.ca">let us know</a> and we will consider it. 
</p> 
