{# {% extends "networks/base.html" %}#}

{% load i18n %}
{% load uni_form_tags %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load sorting_tags %}
{% load group_tags %}
{% load base_groups_tags %}

{% load avatar_tags %}


<h1>{% trans "Members of " %}<a href="{% groupurl detail group %}">{{ group.name }}</a></h1>

{% if user.is_authenticated and is_admin %}
    {# <p><a href="{% groupurl new_member group %}">Add</a> a member</p> #}
{% endif %}    
    
{% if not user.is_authenticated %}
    {% url acct_signup as signup_url %}
    {% url acct_login as login_url %}
    <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to become a member.{% endblocktrans %}</p>
{% endif %}

<form method="GET" action="">
    <input type="text" name="search" value="{{ search_terms }}" />
    <input type="submit" value="Search" />
    {% if search_terms %}
        <a href="{% clear_search_url request %}">Clear Search Terms</a>
    {% endif %}
</form>
<br/>

{% autosort members %}
{% autopaginate members 20 %}

{% if members %}
    {% comment %}
    Don't think this works across JOINs?
    {% if is_admin %}
        <p>{% trans "Order by:" %}
            {% anchor user.visible_name Name %}
            {# FIXME: is this the right syntax for Admin? #}
            {% anchor admin Admin %}
            {% anchor email Email %}
            {% anchor joined Joined %}
        </p>
    {% endif %}
    {% endcomment %}
    
    
    {% if is_admin %}
    
    	{% if not search_terms %}
    		<p>
    			<a href="{% url group_member_export group.slug %}">Download as spreadsheet</a>
    			{% if group.is_chapter %}
    				<br/>
    				<a href="{% url group_member_export_regular group.slug %}">Download regular member spreadsheet</a>
    			{% endif %}
    		</p>
    	{% endif %}
    	
        <table id="membersList"  class="standard" width="100%">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Exec / Leader" %}</th>
                <th>{% trans "Title" %}</th>
                {% if is_admin %}
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Joined" %}</th>
                    <th>&nbsp;</th>
                {% endif %}
            </tr>
         {% for member in members %}
            <tr>
                <td>
                	{% ifequal member.user.visible_name "Inactive user" %}
                		<span style='color: #a0a0a0;'>Inactive user</span><br/>
	                	<a href="#" class="explain_inactive">(what's this?)</a>
                	{% else %}
                    	<a href="{% url profile_detail member.user.username %}">{{ member.user.visible_name }}</a>
                    {% endifequal %}
                </td>
                <td>{% if member.is_admin %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                <td>{% if member.is_admin %}{{ member.admin_title}}{% endif %}</td>
                {% if is_admin %}
                    <td>
	                	{% ifequal member.user.visible_name "Inactive user" %}
	                		<span style='color: #a0a0a0;'>{% for e in member.user.emailaddress_set.all %}{{ e.email }}{% endfor %}</span>
	                		<br/>
	                		<a href="#" class="explain_inactive">(not receiving emails)</a>
	                	{% else %}
	                    	{% if member.user.email %}
	                    		<a href="mailto:{{ member.user.email }}">{{ member.user.email }}</a>
	                    	{% endif %}
	                    {% endifequal %}
                    </td>
                    <td>{{ member.joined|date }}</td>
                    {% if member.is_admin %}
                        <td><a href="{% groupurl edit_member group username=member.user.username %}">{% trans "Remove from leaders" %}</a></td>
                    {% else %}
                        <td><a href="{% groupurl edit_member group username=member.user.username %}">{% trans "Make leader" %}</a></td>
                    {% endif %}
                {% endif %}
    		</tr>
         {% endfor %}
        </table>
        {% paginate %}
        
        
    {% else %}
        {# isn't an admin; show the userboxes #}
        <ul class="users-search-list chapter-info-member-list">
         {% for member in members %}
        
        
            <li><a href="{% url profile_detail member.user.username %}">
                    {% avatar member.user 40 %}

                    {{ member.user.visible_name }}</a>

                {% if user.is_authenticated %}
                <br/>
                <a href="{% url messages_compose_to member.user.username %}">Send a message</a>
                
                {% endif %}
            </li>
                   
         {% endfor %}        
        </ul>
                
        {% paginate %}
        
    {% endif %}
    
{% endif %}
{% if is_admin %}
    {% with group.pending_members.all as pending_members %}
        {% if pending_members.count %}
        	<br/><br/>
        	<h3>{% trans "Pending members" %}</h3>
            <table id="pendingMembersList" width="100%">
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Primary Email" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Edit" %}</th>
                </tr>
             {% for member in pending_members %}
                <tr>
                    <td>
                        <a href="{% url profile_detail member.user.username %}">{{ member.user.visible_name }}</a>
                    </td>
                    <td>{{ member.user.email }}</td>
                    <td>
                        {% if member.is_requested %}{% trans "Member request pending" %}{% endif %}
        			    {% if member.is_invited %}{% trans "Member invitation pending" %}{% endif %}
                    </td>
                    <td>
                    	{% if member.is_requested %}
                    		<form method="post" action="{% groupurl accept_request group username=member.user.username %}" style="float: left;">
                    			<input type="submit" value="accept"/>
                    		</form>
                    		
                    		<form method="post" action="{% groupurl delete_member group username=member.user.username %}">
                    			&nbsp;&nbsp;&nbsp;<input type="submit" value="decline"/>
                    		</form>
                    	{% endif %}
                    	
                    	{% if member.is_invited %}
                    		<form method="post" action="{% groupurl delete_member group username=member.user.username %}">
                    			<input type="submit" value="revoke"/>
                    		</form>
                    	{% endif %}
                    </td>
        		</tr>
             {% endfor %}
            </table>
        {% endif %}
    {% endwith %}
{% endif %}

<div id='explain_inactive_text' style='display: none;'>
    {% include "base_groups/double-optin.html" %}
</div>

<link type="text/css" href="{{STATIC_URL}}css/colorbox.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}js/colorbox.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$('.explain_inactive').colorbox({width: '75%',
									 height: '75%',
									 opacity: '0.5',
									 html: $('#explain_inactive_text').html()});
});
</script>