{% extends "base_groups/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load sorting_tags %}

{% block head_title %}{% blocktrans %}Members of{% endblocktrans %} {{group.name}}{% endblock %}

{% block body %}
    <h1>{% trans "Members" %}</h1>
    
    {% if user.is_authenticated and user.is_superuser %}
        <p><a href="{% url network_new_member group.slug %}">Add</a> a member</p>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to become a member.{% endblocktrans %}</p>
    {% endif %}
    
    <form method="GET" action="">
        <input type="text" name="search" value="{{ search_terms }}" />
        <input type="submit" value="Search" />
        {% if search_terms %}
            <a href="{% clear_search_url request %}">Clear Search Terms</a>
        {% endif %}
    </form>
    {% autosort members %}
    {% autopaginate members 10 %}
    {% if members %}
        <p>{% trans "Order by:" %}
            {% anchor name Name %}
            {% anchor created Date %}
        </p>
        <dl>
        {% for member in members %}
            <dt><a href="{{ url member_detail group, member.user }}">{{ member.name }}</a></dt>
			<dd>
				{% if member.admin_title %}{{ member.admin_title }}
				<a href="{{ url edit_member group, member.user }}">{% trans "Edit details" %}</a>
			</dd>
        {% endfor %}
        </dl>
        {% paginate %}
    {% endif %}
    
{% endblock %}
