{% extends "jobboard/base.html" %}
{% load ifinlist %}

{% block body %}
	<h1>Job Board</h1>
	
	<h3>{{ job.name }}</h3>
	
	{% if not job.active %}
		<h3 style='color: #ff0000;'>This job is closed.</h3>
	{% endif %}
	
	{% if perms.jobboard %}
		{% if job.active %} 
			<p><a href="{% url jobboard_edit job.id %}">Edit this posting</a></p>
		{% else %}
			<p><a href="{% url jobboard_open job.id %}">Re-open this posting</a></p>
		{% endif %}
	{% else %}
		{% ifequal user job.owner %}
			{% if job.active %} 
				<p><a href="{% url jobboard_edit job.id %}">Edit this posting</a></p>
			{% else %}
				<p><a href="{% url jobboard_open job.id %}">Re-open this posting</a></p>
			{% endif %}
		{% endifequal %} 
	{% endif %}

	<div style='border: 1px solid; background: #f0f0f0; padding: 10px; margin: 10px; width: 50%;	'>
		<strong>Posted by: </strong> {{ job.owner.visible_name}}<br/>
		<strong>Posted on: </strong> {{ job.posted_date|date:"d M Y" }}<br/>
		<strong>Deadline: </strong> {{ job.deadline|date:"d M Y" }}<br/>
		<br/>
		<strong>Est. time required: </strong> {{ job.time_required_verbose }}<br/>
		<strong>Urgency: </strong> {{ job.urgency_verbose }}<br/>
		<br/>
		<strong>Skills: </strong> {{ job.skills.all|join:", " }}<br/>
		<br/>
		<strong>People on this job: </strong> {{ job.accepted_users.count }}<br/>
		<strong>Bids for this job: </strong> {{ job.bid_users.count }}<br/>
		<strong>Watching this job: </strong> {{ job.following_users.count }}
	</div>
	<br/>
	
	<div>{{ job.description|linebreaks}} </div>
	
	{% ifequal job.owner user %}
		<hr/>
		{% if job.accepted_users.all %}
			<p>
				<strong>Accepted users</strong><br/>
				{% for u in job.accepted_users.all %}
					<a href="{% url profile_detail u %}">{{ u.visible_name }}</a>
					(<a href="{% url jobboard_accept_cancel job.id u.username %}">cancel</a>)
					<br/> 
				{% endfor %}
			</p>
		{% endif %}

		{% if job.bid_users.all %}
			<p>
				<strong>Bidding users</strong><br/>
				{% for u in job.bid_users.all %}
					<a href="{% url profile_detail u %}">{{ u.visible_name }}</a>
					(<a href="{% url jobboard_accept job.id u.username %}">accept</a>)
					<br/> 
				{% endfor %}
			</p>
		{% endif %}
	{% endifequal %}
	
	<hr/>
	<p><a href="{% url jobboard_list %}">Back to job board</a></p>
{% endblock %}

{% block toolbar_right %}
{% if job.active %}
	<div class="toolbarheader bkgd" id="box-jobboard-action">Actions</div>
	<div class="toolbarcontent">
		{% ifequal job.owner user %}
			<p><strong>This is your posting.</strong></p>
			
			<p><a href="{% url jobboard_close job.id %}">Close this job</a></p>
			
		{% else %}
			{% if user|in_list:job.accepted_users.all %}
				<p><strong>You have been accepted for job.</strong></p>
			{% else %}
				{% if user|in_list:job.bid_users.all %}
					<p><strong>You have bid on this job.</strong> (<a href="{% url jobboard_bid_cancel job.id %}">cancel</a>)</p>
				{% else %}
					<p><a href="{% url jobboard_bid job.id %}">Bid on this job</a></p>
		
					{% if user|in_list:job.following_users.all %}
						<p><strong>You are watching this job.</strong> (<a href="{% url jobboard_watch_cancel job.id %}">cancel</a>)</p>
					{% else %}			
						<p><a href="{% url jobboard_watch job.id %}">Watch this job</a></p>
					{% endif %}
				{% endif %}
			{% endif %}
	
			{% if perms.jobboard %}
				<p><a href="{% url jobboard_close job.id %}">Close this job</a></p>
			{% endif %}
		{% endifequal %}
	</div>
{% endif %}
{% endblock %}
