{% extends "jobboard/base.html" %}

{% block body %}
	<h1>Job Board</h1>
	
	<h3>{{ job.name }}</h3>
	
	{% if perms.jobboard %}
		<p><a href="{% url jobboard_edit job.id %}">Edit this posting</a></p>
	{% else %}
		{% ifequal user job.owner %}
			<p><a href="{% url jobboard_edit job.id %}">Edit this posting</a></p>
		{% endifequal %} 
	{% endif %}

	<div style='border: 1px solid; background: #f0f0f0; padding: 10px; margin: 10px; width: 50%;	'>
		<strong>Posted by: </strong> {{ job.owner.visible_name}}<br/>
		<strong>Posted on: </strong> {{ job.posted_date|date:"d M Y" }}<br/>
		<strong>Deadline: </strong> {{ job.deadline|date:"d M Y" }}<br/>
		<br/>
		<strong>Est. time required: </strong> {{ job.time_required_verbose }}<br/>
		<strong>Urgency: </strong> {{ job.urgency_verbose }}<br/>
		<br/>
		<strong>Skills: </strong> {{ job.skills.all|join:", " }}
	</div>
	<br/>
	
	<div>{{ job.description|linebreaks}} </div>
	
	<hr/>
	<p><a href="{% url jobboard_list %}">Back to job board</a></p>
{% endblock %}
