{# {% extends "jobboard/base.html" %} #}
{# this should only be loaded via ajax in a popup ... #}
{% extends 'ajaxbase.html' %}

{% load ifinlist %}
{% load avatar_tags %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jobboard.css" />
	<style>
		div#body {
			font-size: 0.8em;
			line-height: 1.3em;
		}
	</style>
{% endblock %}

{% block body %}
	<h1>{{ job.name }}</h1>
	<br/>
	
	<div style='width: 40%; float: right; padding 0 10%; text-align: center;'>
		<img src="{% avatar_url job.owner 125 %}" title="{{job.owner.visible_name}}" alt="{{job.owner.visible_name}}" style='height: 125px; width: 125px; padding-bottom: 10px;'/>
		<br/>
		Posted by<br/>
		<span style='font-size: 1.2em; font-weight: bold;'>{{ job.owner.visible_name }}</span>
		<br/>
		
		{% if user.is_authenticated %}
			{% ifnotequal user job.owner %}
				<form method="GET" action="{% url messages_compose_to job.owner.username %}" target="_parent">
					<input type="submit" value="Send a message" style='background: #e0e0e0; border: 1px solid #c0c0c0; -moz-border-radius: 1em; -webkit-border-radius: 1em;'/>
				</form>
			{% endifnotequal %}
		{% endif %}
	</div> 

	<div style='padding: 10px; margin: 0 5%; width: 50%;' class='jobposting detail-{{ job.urgency }}'>
		{% if not job.active %}
			<h3 style='color: #ff0000;'>This posting is closed.</h3>
		{% endif %}
		
		<strong>Posted on: </strong> {{ job.posted_date|date:"d M Y" }}<br/>
		<strong>Deadline: </strong> {{ job.deadline|date:"d M Y" }}<br/>
		<br/>
		<strong>Location: </strong> {{ job.location|default:"Any" }}<br/>
		<strong>Est. time required: </strong> {{ job.time_required_verbose }}<br/>
		<strong>Urgency: </strong> {{ job.urgency_verbose }}<br/>
		<br/>
		<strong>Skills: </strong> {{ job.skills.all|join:", " }}<br/>
		<br/>
		<strong>People working on this: </strong> {{ job.accepted_users.count }}<br/>
		<strong>Bids for this posting: </strong> {{ job.bid_users.count }}<br/>
		<strong>Watching this posting: </strong> {{ job.following_users.count }}

		<div style='font-weight: bold; padding-top: 10px;'>
			{% if perms.jobboard %}
					{% if job.active %} 
						<a href="{% url jobboard_edit job.id %}" class="modified">Edit this posting</a>
					{% else %}
						<a href="{% url jobboard_open job.id %}" class="modified">Re-open this posting</a>
					{% endif %}
			{% else %}
					{% ifequal user job.owner %}
						{% if job.active %} 
							<a href="{% url jobboard_edit job.id %}" class="modified">Edit this posting</a>
						{% else %}
							<a href="{% url jobboard_open job.id %}" class="modified">Re-open this posting</a>
						{% endif %}
					{% else %}
						&nbsp;
					{% endifequal %}
			{% endif %}
		</div>
	</div>

	<div style='margin: 5px 5%'>
		<strong>Share this job at: <a href="{% url jobboard_detail job.id %}" target="_top">http://my.ewb.ca{% url jobboard_detail job.id %}</a></strong>
	</div>
	
	<br style='clear: both;'/>
	
	<div>{{ job.description|linebreaks}} </div>
	
	<hr/>
	<p><a href="{% url jobboard_list %}" id='back_to_board'>Back to the main listing</a></p>
{% endblock %}

{% block toolbar_right %}
{% if job.active and user.is_authenticated %}
	{% ifequal job.owner user %}
		<p><strong>This is your posting.</strong></p>
		
		<p><a href="{% url jobboard_close job.id %}" class="modified">Close this posting</a></p>
		
		{% if job.accepted_users.all or job.bid_users.all %}
			<hr/>
		{% endif %}
		
		{% if job.accepted_users.all %}
			<h2>Accepted users</h2>
			{% for u in job.accepted_users.all %}
				<div style='width: 90px; text-align: center; float: left; line-height: 1.5em; background: #f0f0f0; margin: 0 5px 10px 5px; padding: 5px;'>
					<a href="{% url profile_detail u %}" style='display: block; margin-bottom: 5px;'>
						<img src="{% avatar_url u 50 %}" title="{{u.visible_name}}" alt="{{u.visible_name}}" style='height: 50px; width: 50px;'/><br/>
						{{ u.visible_name }}
					</a>
					<a href="{% url messages_compose_to u.username %}" target="_parent">send message</a><br/>
					<a href="{% url jobboard_accept_cancel job.id u.username %}">cancel</a>
				</div>
			{% endfor %}
			<br style='clear: left;'/>
		{% endif %}
	
		{% if job.bid_users.all %}
			<h2>Bidding users</h2>
			{% for u in job.bid_users.all %}
				<div style='width: 90px; text-align: center; float: left; line-height: 1.5em; background: #f0f0f0; margin: 0 5px 10px 5px; padding: 5px;'>
					<a href="{% url profile_detail u %}" style='display: block; margin-bottom: 5px;'>
						<img src="{% avatar_url u 50 %}" title="{{u.visible_name}}" alt="{{u.visible_name}}" style='height: 50px; width: 50px;'/><br/>
						{{ u.visible_name }}
					</a>
					<a href="{% url jobboard_statement job.id u.username %}" class="view_statement">view statement</a><br/>
					<a href="{% url messages_compose_to u.username %}" target="_parent">send message</a><br/>
					<a href="{% url jobboard_accept job.id u.username %}">accept</a>
				</div>
			{% endfor %}
			<br style='clear: left;'/>
		{% endif %}


	{% else %}
		{% if user|in_list:job.accepted_users.all %}
			<p><strong>You have been accepted for posting.</strong></p>
		{% else %}
			{% if user|in_list:job.bid_users.all %}
				<p><strong>You have bid on this posting.</strong> (<a href="{% url jobboard_bid_cancel job.id %}" class="modified">cancel</a>)</p>
			{% else %}
				<p><a href="{% url jobboard_bid job.id %}" id="bid_on_job" class="modified">Bid on this posting</a></p>
				
				<div style='display: none;'>
					<form id="bid_form" method="post" action="{% url jobboard_bid job.id %}">
						<h2>You are indicating interest in this posting.</h2>
						
						If you like, you can include a message:<br/>
						<textarea name="statement" cols="50" rows="10"></textarea>
						<br/><br/>
						
						<input type="submit" value="Bid!"/> 
					</form>
				</div>
	
				{% if user|in_list:job.following_users.all %}
					<p><strong>You are watching this posting.</strong> (<a href="{% url jobboard_watch_cancel job.id %}" class="modified">cancel</a>)</p>
				{% else %}			
					<p><a href="{% url jobboard_watch job.id %}" class="modified">Watch this posting</a></p>
				{% endif %}
			{% endif %}
		{% endif %}

		{% if perms.jobboard %}
			<p><a href="{% url jobboard_close job.id %}" class="modified">Close this posting</a></p>
		{% endif %}
	{% endifequal %}
{% else %}
	<style>
		#toolbarcolumn_right {
			display: none;
		}
	</style>
{% endif %}
{% endblock %}

{% block extra_body %}
<link type="text/css" href="{{STATIC_URL}}css/colorbox.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}js/colorbox.js"></script>
<script type='text/javascript'>
	$(document).ready(function() {
		$('#back_to_board').click(function() {
			parent.$.fn.colorbox.close();
			return false;
		});

		$('#bid_on_job').colorbox({opacity: '0.5',
								   inline: true,
								   href: '#bid_form'});

		$('.view_statement').colorbox({opacity: '0.5',
									   width: '75%',
									   height: '75%'});

		$('a.modified').click(function() {
			parent.jobs_modified = true;
		});

	});
</script>
{% endblock %}