{% extends "jobboard/base.html" %}

{% load sorting_tags %}
{% load pagination_tags %}
{% load truncate helpers %}
{% load boolean_icon %}
{% load ifinlist %}
{% autosort open_jobs %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jobboard.css" />
{% endblock %}

{% block body %}
	<h1>Job Postings</h1>
	
	<p style='border: 1px solid #d0d0d0; text-align: center; margin: 10px auto; width: 75%; padding: 15px;'>
		Job postings are specific volunteer opportunities within EWB:<br/>
		generally short-term, part-time projects requiring specific skillsets.<br/>
		If you are looking for full-time employment or volunteering opportunities,
		visit the <a href="{% url applications %}">applications</a> page.
	</p>

	{% if user.is_authenticated %}
		<ul class="segmented">
			<li><a href="{% url jobboard_new %}">Post a job</a></li>
		</ul>
	{% else %}
		<br/>
	{% endif %}

	{% if open_jobs %}
		{% autopaginate open_jobs 10 %}
		{% paginate %}
		<div class="clear"></div>
		
		Showing
		{% if filters.deadline.0 %}
			postings due
			<strong>
			{% ifequal filters.deadline.0 'gt' %}before{% else %}after{% endifequal %}
			{{ filters.deadline.1 }}
			</strong>
		{% endif %}
		
		{% if filters.urgency.0 %}
			{% if filters.deadline.0 %} and {% endif %}
			all postings marked
			<strong>
			{% ifequal filters.urgency.0 'gt' %}at least{% else %}at most{% endifequal %}
			{% for u, uname in URGENCY_CHOICES.items %}
				{% ifequal filters.urgency.1 u %}{{ uname }}{% endifequal %}
			{% endfor %}
			</strong>
		{% endif %}
		
		{% if filters.time.0 %}
			{% if filters.deadline.0 or filters.urgency.0 %} and {% endif %}
			all postings requiring
			<strong>
			{% ifequal filters.time.0 'gt' %}at least{% else %}at most{% endifequal %}
			{{ filters.time.1 }}
			</strong>
		{% endif %}
		
		{% if filters.skills.0 %}
			{% if filters.deadline.0 or filters.urgency.0 or filters.time.0 %} and {% endif %}
			all postings with
			<strong>
				{% ifequal filters.skills.0 'all' %}all of{% endifequal %}
				{% ifequal filters.skills.0 'any' %}any of{% endifequal %}
				{% ifequal filters.skills.0 'none' %}none of{% endifequal %}
				{% for skill in allskills %}
					{% if skill.id|in_list:filters.skills.1 %}{{ skill.name }},{% endif %}
				{% endfor %}
			</strong>
		{% endif %}
		
		{% if not filters.deadline.0 and not filters.urgency.0 and not filters.time.0 and not filters.skills.0 %}
			all open postings
		{% else %}
			(<a href="{% url jobboard_list %}">clear all filters</a>)
		{% endif %}
		(<a href="#" id='toggle_filters'>add filters...</a>)
		<br/>
		
		<div style='display: none;'>
			<form id='filters' method="GET" action="" style='margin: 15px;'>
			<p><strong>Filter postings...</strong></p>
			<table id='filter_options'><tr>
				<td>Deadline is:</td>
				<td>
					<select name='deadline' id='deadline' class='part1'>
						<option value=''>any</option>
						<option value='gt' {% ifequal filters.deadline.0 'gt' %}selected='selected'{% endifequal %}>before</option>
						<option value='lt' {% ifequal filters.deadline.0 'lt' %}selected='selected'{% endifequal %}>after</option>
					</select>
				</td>
				<td>					
					<input type='text' id='deadline2' name='deadline2' value="{{ filters.deadline.1 }}"/>
				</td>
			</tr>
				
			<tr>
				<td>Urgency is:</td>
				<td>
					<select name='urgency' id='urgency' class='part1'>
						<option value=''>any</option>
						<option value='gt' {% ifequal filters.urgency.0 'gt' %}selected='selected'{% endifequal %}>at least</option>
						<option value='lt' {% ifequal filters.urgency.0 'lt' %}selected='selected'{% endifequal %}>at most</option>
					</select>
				</td>
				<td>
					<select name='urgency2' id='urgency2'>
						{% for u, uname in URGENCY_CHOICES.items %}
							<option value="{{u}}" {% ifequal filters.urgency.1 u %}selected='selected'{% endifequal %}>{{uname}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>

			<tr>
				<td>Time required is:</td>
				<td>
					<select name='time' id='time' class='part1'>
						<option value=''>any</option>
						<option value='gt' {% ifequal filters.time.0 'gt' %}selected='selected'{% endifequal %}>at least</option>
						<option value='lt' {% ifequal filters.time.0 'lt' %}selected='selected'{% endifequal %}>at most</option>
					</select>
				</td>
				<td>
					<select name='time2' id='time2'>
						{% for t, tname in TIME_CHOICES.items %}
							<option value="{{t}}" {% ifequal filters.time.1 t %}selected='selected'{% endifequal %}>{{tname}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>

			<tr>
				<td valign='top'>Skills include:</td>
				<td valign='top'>
					<select name='skills' id='skills' class='part1'>
						<option value=''>any</option>
						<option value='all' {% ifequal filters.skills.0 'all' %}selected='selected'{% endifequal %}>all of</option>
						<option value='any' {% ifequal filters.skills.0 'any' %}selected='selected'{% endifequal %}>any of</option>
						<option value='none' {% ifequal filters.skills.0 'none' %}selected='selected'{% endifequal %}>none of</option>
					</select>
				</td>
				<td>
					<select name='skills2' id='skills2' multiple size=5>
						{% for skill in allskills %}
							<option value="{{skillid}}" {% if skill.id|in_list:filters.skills.1 %}selected='selected'{% endif %}>{{skill.name}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
				
			<tr>
				<td colspan='3' align='center'>
					<input type="submit" value="Filter"/>
					or
					<a href="{% url jobboard_list %}">clear all filters</a>
				</td>
			</tr></table>
			<br/>
			</form> 
		</div>

		<p>
			Sort by: 		
		    {% anchor name "Name" %} |
		    {% anchor posted_date "Posted Date" %} |
		    {% anchor deadline "Deadline" %} |
		    {% anchor urgency "Urgency" %} |
		    {% anchor time_required "Time Required" %}
	    </p>
	    
		{% for job in open_jobs %}
			<a href="{% url jobboard_detail job.id %}" style="display: block; width: 230px; margin: 10px; float: left; position: relative;" class="urgency-{{ job.urgency }} jobposting" id="job-{{ job.id }}">
				<img src="{{ STATIC_URL }}images/post-it-top.png" style='width: 100%; position: absolute; top: 0; left: 0;'/>
				<div style='position: relative; margin-top: 48px;'>
					<img src="{{ STATIC_URL }}images/post-it-bottom.png" style='height: 100%; width: 100%; position: absolute; top: 0px; left: 0;'/>
					<div style='padding: 0px 25px 35px; z-index: 20; position: relative;'>
						<div style='font-weight: bold; font-size: 1.3em;'>
							{{ job.name }}
						</div>
 						<div style='font-style: italic; color: #808080;'>
							{{ job.owner.visible_name }}, 
							{{ job.posted_date|date:"d M Y"}}
						</div>
						<br/>

						{% if job.skills.all %}				
							<div>
								{{ job.skills.all|join:", "}}
							</div>
							<br/>
						{% endif %}
				
						<div>{{ job.time_required_verbose }}</div>
						{% if job.deadline %}
							<div>Due {{ job.deadline|date:"d M Y"}}</div>
						{% endif %}
					</div>
				</div>
			</a>
		{% endfor %}
		
	{% else %}
		<p>No open jobs.</p>
	{% endif %}
{% endblock %}

{% block extra_body %}
	<link type="text/css" href="{{STATIC_URL}}css/colorbox.css" rel="stylesheet" />
	<script type="text/javascript" src="{{STATIC_URL}}js/colorbox.js"></script>
	<script type='text/javascript'>
		$(document).ready(function() {
			$('#toggle_filters').colorbox({opacity: '0.5',
										   inline: true,
										   href: '#filters'
			});

			$('.part1').change(function() {
				var next_element = $('#' + $(this).attr('id') + '2');
				if ($(this).val() == '')
				{
					next_element.attr('disabled', 'disabled');
				}
				else
				{
					next_element.attr('disabled', '');
				}
			});
			$('.part1').change();		// fire event to set initial states

			/*
			{% if filters_active %}
				$('#toggle_filters').click();
			{% endif %}
			*/
		});
	</script>
{% endblock %}


{% block toolbar_right %}
	{% if user.is_authenticated %}
		<div class="toolbarheader bkgd" id="box-jobboard-dashboard">Actions</div>
		<div class="toolbarcontent">
			{% if my_postings %}
				<strong>My Postings</strong><br/>
				{% for job in my_postings %}
					<a href="{% url jobboard_detail job.id %}">{{ job.name }}</a><br/>
				{% endfor %}
				<br/>
			{% endif %}
			
			{% if my_jobs %}
				<strong>Accepted Jobs</strong><br/>
				{% for job in my_jobs %}
					<a href="{% url jobboard_detail job.id %}">{{ job.name }}</a><br/>
				{% endfor %} 
				<br/>
			{% endif %}
			
			{% if bid_jobs %}
				<strong>My Bids</strong><br/>
				{% for job in bid_jobs %}
					<a href="{% url jobboard_detail job.id %}">{{ job.name }}</a><br/>
				{% endfor %} 
				<br/>
			{% endif %}
			
			{% if watching_jobs %}
				<strong>Watching</strong><br/>
				{% for job in watching_jobs %}
					<a href="{% url jobboard_detail job.id %}">{{ job.name }}</a><br/>
				{% endfor %} 
				<br/>
			{% endif %}
			
			{% if closed_jobs %}
				<strong>My closed postings</strong><br/>
				{% for job in closed_jobs %}
					<a href="{% url jobboard_detail job.id %}">{{ job.name }}</a><br/>
				{% endfor %} 
				<br/>
			{% endif %}
			
		</div>
	{% endif %}
{% endblock %}
