{% extends 'confcomm/base.html' %}

{% block body %}
<h1>Profile</h1>
<p>{{ profile.member_profile.name }}</p>
<p><strong>What I'm excited to do at the conference:</strong> {{ profile.conference_goals }}</p>
<p><strong>What I'm hoping to learn at the conference:</strong> {{ profile.conference_question }}</p>
<p><strong>What I'm doing now:</strong> {{ profile.what_now }}</p>
<p>
<strong>Interests:</strong>
<ul>
    {% for interest in profile.interests.all %}
    <li>{{ interest.name }}</li>
    {% endfor %}
</ul>
</p>
{% if is_owner %}<p><a href="{% url confcomm_profile_edit %}">Edit profile</a></p>{% endif %}
{% endblock %}
