{% extends "confcomm/base.html" %}


{% block body %}
<div id="hash-nav">
    <a href="#/">Home</a>
    <a href="#/profile/">Profile</a>
    <a href="#/profile/edit/">Edit Profile</a>
</div>
<div id="all" style="height:800px;">
<div id="left" style="float: left; width: 65%;">
    <div id="main-view"></div>
    <div id="profile"></div>
    <div id="profile-form-container"></div>
</div>
<div id="right" style="float:right; width: 35%;">
    <div id="profile-list"></div>
</div>
</div>
{% endblock body %}

{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.spwa.js"></script>

<script type="text/javascript">
;(function() {
  // Helper function to get a URL from a Model or Collection as a property
  // or as a function.
  var getUrl = function(object) {
    if (!(object && object.url)) throw new Error("A 'url' property or function must be specified");
    return _.isFunction(object.url) ? object.url() : object.url;
  };
  // Map from CRUD to HTTP for our default `Backbone.sync` implementation.
  var methodMap = {
    'create': 'POST',
    'update': 'PUT',
    'delete': 'DELETE',
    'read'  : 'GET'
  };
  Backbone.sync = function(method, model, success, error) {
    var sendModel = method === 'create' || method === 'update';
    // changing data to remove the {'model':} namespace on the data.
    var data = sendModel ? JSON.stringify(model) : {};
    var type = methodMap[method];
    if (Backbone.emulateHttp && (type === 'PUT' || type === 'DELETE')) {
      data._method = type;
      type = 'POST';
    }
    $.ajax({
      url       : getUrl(model),
      type      : type,
      data      : data,
      dataType  : 'json',
      success   : success,
      error     : error,
      contentType : 'application/json'
    });
  };
  })();
</script>

<script type="text/javascript">
;(function() {
    var current_username;
    var current_profile;
    /* SERVER ROUTES */
    var routes = {
        profile_base: "{% url confcomm_profile_api_base %}",
        profiles_base: "{% url confcomm_profile_api_profiles %}",
        templates_base: "{{ STATIC_URL }}templates/confcomm/"
    }
    /* Extended BaseView of Backbone.SPWA.View */
    var BaseView = Backbone.SPWA.View.extend({
        _template_cache: {},
        // get the current template - either from the cache or from the network.
        template: function() {
            var self = this;
            // return empty string if no template name given.
            if (!self.template_name) {
                return "";
            }
            // check the cache first
            var t = self._template_cache[self.template_name];
            if (!t) {
                // synchronously grab template from the server otherwise
                // TODO: find a better non-blocking way
                $.ajax(
                    {
                    url:routes.templates_base + self.template_name,
                    async: false,
                    success: function(data){
                        self._template_cache[self.template_name] = data;
                        t = data;
                }});
            }
            return t;
        }
    });
    var ConferenceProfile = Backbone.Model.extend({
        initialize: function() {
            var self = this;
            if (!self.id) self.id = self.get('username');
        },
        url: function() {
            var self = this;
            return routes.profile_base + self.id + '/';
        },
        hash: function() {
            var self = this;
            return '#/profile/?id=' + self.id;
        }
    });
    /* COLLECTIONS */
    var ProfileStore = Backbone.Collection.extend({
        model: ConferenceProfile
    });
    /* VIEWS */
    var MainView = BaseView.extend({
        el: $('#main-view'),
        template_name: 'main.html',
        render: function() {
            var self = this;
            $(self.el).html(_.template(self.template(), {model: current_profile}));
        }
    });
    var ProfileView = BaseView.extend({
        el: $('#profile'),
        template_name: 'profile.html',
        render: function() {
            var self = this;
            $(self.el).html(_.template(self.template(), {model:self.model}));
            // self.handleEvents();
        }
    });
    var ProfileFormView = BaseView.extend({
        el: $('#profile-form-container'),
        template_name: 'profile_form.html',
        events: {'submit #profile-form': 'update_profile'},
        update_profile: function() {
            var self = this;
            var inputs = $('#profile-form').find('.profile-input');
            var data = {}
            _.each(inputs, function(i) {
                if (i.name) data[i.name] = i.value;
            });
            // self.model.set(data);
            self.model.save(data, {success: function(){location.hash='/profile/'}});
            return false;
        },
        render: function() {
            var self = this;
            $(self.el).html(_.template(self.template(), {model:self.model}));
        }});
    var ProfilesView = BaseView.extend({
        el: $('#profile-list'),
        template_name: 'profile_list.html',
        render: function() {
            var self = this;
            $(self.el).html(_.template(self.template(), {collection:self.collection}));
        }});
    /* CONTROLLER */
    var Controller = Backbone.SPWA.Controller.extend({
        routes: {
            '/': 'main',
            '/profile/': 'profile',
            '/profile/edit/': 'edit_profile'
        },
        views: {
            'Profile': ProfileView,
            'ProfileForm': ProfileFormView,
            'Main': MainView
        },
        main: function(args) {
            var self = this;
            self.hideAll();
            var view = self.getView('Main');
            view.show();
        },
        profile: function(args) {
            var self = this;
            self.hideAll();
            var view = self.getView('Profile');
            var id = args.id ? args.id : current_username;
            view.model = profiles.get(id);
            if (!view.model) {
                var profile_to_get = new ConferenceProfile({
                    id: id
                });
                profile_to_get.fetch({success: function(){
                    profiles.add(profile_to_get);
                    view.model = profile_to_get;
                    view.show();
                    }
                });
            }
            else {
                view.show();
            }
        },
        edit_profile: function(args) {
            var self = this;
            self.hideAll();
            var view = self.getView('ProfileForm');
            var id = current_username;
            view.model = profiles.get(id);
            view.show();
        }
    });

    app = new Controller();

    /* GO TIME */
    $(function() {
        current_username = '{{ username }}';
        current_profile = new ConferenceProfile({
            id: current_username
        });
        profiles = new ProfileStore();
        all_profiles = new ProfileStore(); // 
        all_profiles.url = routes.profiles_base;
        all_profiles.fetch({success: function() {
            var v = new ProfilesView();
            v.collection = all_profiles;
            v.render();
        }});
        current_profile.fetch({success: function(){
            profiles.add(current_profile);
            if (!location.hash) {
                location.hash = '/';
            }
            else {
                $(window).hashchange();
            }
        }});
    });
})();
</script>
{% endblock extra_body %}
