{% extends "confcomm/base.html" %}


{% block body %}
<div id="all">
<div id="left">
    <div class="section" id="filters"></div>
    <div class="section" id="browser">Loading profiles...</div>
</div>
<div id="right">
    <div id="cc-login" class="sidebar-section" style="display: none;"></div>
    <div id="my-profile" class="sidebar-section round" style="display: none;">Loading your profile...</div>
    

    <div class="sidebar-section round">
        <div class="sidebar-section-heading"><h3>Stats here</h3></div>
        <div id="stats" class="sidebar-section-contents">Loading conference stats...</div>
    </div>
    
    
    <div class="sidebar-section round">
        <div class="sidebar-section-heading"><h3>News here</h3></div>
        <div id="news" class="sidebar-section-contents">Loading conference news...</div>
    </div>
    
    {# <div id="profile-list"></div> #}
</div>
</div>
<div id="profile" style="display:none;"></div>
<div id="profile-form-container" style="display:none;"></div>
<div id="invitation" style="display:none;"></div>


{# @@@ SEAN - REMOVED STYLE TAG HERE  #}

{% endblock body %}

{% block extra_body %}
{# serialization #}
<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
{# for hashchange event (ajax history) #}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-hashchange.min.js"></script>
{# underscore library required for backbone #}
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
{# backbone #}
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-min.js"></script>
{# backbone single page web application - controller functionality #}
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.spwa.js"></script>
{# further extensions to backbone for our purposes #}
<script type="text/javascript" src="{{ STATIC_URL}}js/backbone.ewb.js"></script>
{# awesome messaging plugin #}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.jgrowl.css" />    
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.jgrowl_google.js"></script>
{# iframe uploader so we can upload photos #}
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.form.js"></script>

{# globals we need from the server #}
<script type="text/javascript">
    var CONFCOMM_GLOBALS = {
        routes: {
            profile_base: "{% url confcomm_profile_api_base %}",
            templates_base: "{{ STATIC_URL }}templates/confcomm/",
            cohorts_base: "{% url confcomm_cohorts %}",
            email: "{% url confcomm_email %}",
            login_url: "{% url confcomm_login %}",
            logout_url: "{% url acct_logout %}",
            avatar_url: "{% url confcomm_avatar %}",
            site_url: "{% url confcomm_app %}",
            media: "{{ STATIC_URL }}"
        },
        username: "{{ username }}",
        anon: {{ anon }},
        filter_lists: {
            chapters_list: {{ chapters_list|safe }},
            canada_roles_list: {{ canada_roles_list|safe }},
            africa_roles_list: {{ africa_roles_list|safe }},
            roles_list: {{ roles_list|safe }},
            countries_list: {{ countries_list|safe }},
            years_list: {{ years_list|safe }}
        },
        loading_image: "{{ STATIC_URL }}pinax/images/facebox/loading.gif"
    }
    // facebox settings
    $.facebox.settings.closeImage = "{{ STATIC_URL }}pinax/images/facebox/closelabel.gif"
    $.facebox.settings.loadingImage = "{{ STATIC_URL }}pinax/images/facebox/loading.gif"
    $.facebox.settings.opacity = 0.5;
</script>
{# all of our app's js is here #}
<script type="text/javascript" src="{{ STATIC_URL}}js/confcomm.app.js"></script>
{# preload some images so the facebox comes up quickly #}
<div style="display:none;">
    <img src="{{ STATIC_URL }}pinax/images/facebox/loading.gif" />
    <img src="{{ STATIC_URL }}pinax/images/facebox/tl.gif" />
    <img src="{{ STATIC_URL }}pinax/images/facebox/tr.gif" />
    <img src="{{ STATIC_URL }}pinax/images/facebox/bl.gif" />
    <img src="{{ STATIC_URL }}pinax/images/facebox/br.gif" />
    <img src="{{ STATIC_URL }}pinax/images/facebox/b.gif" />
</div>
{% endblock extra_body %}
