{% extends "profiles/base.html" %}

{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load extra_tagging_tags %}
{% load profile_tags %}
{% load uni_form_tags %}
{% block head_title %}{% blocktrans %}Sample Usage of AJAX User Search{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block body %}
    <h2>Sample Usage of AJAX Single User Search</h2>
    
    {% if results %}
    <div id="selected_user_results" style="border: solid 2px black; padding: 8px;">
        The following users were successfully selected on the previous page:<br/>
        <b>To:</b> {{ to_user.visible_name }}<br/>
        
        <b>Cc:</b> {{ cc_user.visible_name }}<br/>
        
        <b>Bcc:</b> {{ bcc_user.visible_name }}
    </div>
    {% else %}
    
    <form class="uniForm" id="search-users" method="POST" action="{% url profile_sample_user_search %}">
    	<fieldset class="inlineLabels">
    	    {{ form|as_uni_form }}
    	    
    		<div class="form_block">
            <input type="hidden" name="action" value="submit" />
            <input type="submit" value="{% trans "submit" %}"/>
            </div>
    	</fieldset>
    </form>
    {% endif %}
{% endblock %}

{% block extra_body %}    
    <script type="text/javascript">    
        function getUserSelectionUrl() { return '{% url selected_user %}'; }
        function getUserSearchUrl() { return '{% url profile_user_search %}'; }
	</script>
{% endblock %}
