{% comment %}
This file is part of myEWB
Copyright 2009 Engineers Without Borders (Canada) Organisation and/or volunteer contributors
{% endcomment %}

{% load i18n %}
{% load extra_tagging_tags %}
{% load profile_tags %}

<span class="selected-user" id="su_{{ field }}_{{ sel_user.username }}">
    {% if input_data %}
        <input {{ input_data }} />
    {% else %}
        <input type="hidden" name="{{ field }}" value="{{ sel_user.username }}"/>
    {% endif %}
    {# TODO: remove usernames from UI once all users are guaranteed to have their names set up initially #}
    {{ sel_user.visible_name }}
    <a href="#" style="text-decoration: none;" class="su-remove">x</a>
</span>
