{% extends "volunteering/base.html" %}

{% load uni_form_tags %}

{% block head_title %}
Volunteering » Applications
{% endblock %}

{% block body %}
<style>
select {
    display: inline;
}
#submit_link {
    color: red;
    margin-left: 25px;
}
</style>
<h2>Application: {{ application.session.name }}</h2>

<div id="application-tabs">
	<ul>
		<li><a href="#instructions">Instructions</a></li>
		<li><a href="#about">About Me</a></li>
		<li><a href="#questions">Questions</a></li>
	</ul>

    <p>
	    {% if application.complete %}
    		<strong>Your application has been submitted.  Thank you!</strong>
    		{% if application.session.active %}
    		<br/>
    		<a href="{% url applications_reopen application.id %}">You can re-open you application and edit it until the session deadline</a>.
    		{% endif %}
    	{% else %}
    		<strong>
    		{% if not application.session.active %}
				Your application was not submitted, and will not be considered.
			{% else %}
				Your application has not been submitted yet - <a href="{% url applications_edit application.id %}">continue it here</a>
    		{% endif %}
    		</strong>
    	{% endif %}
    </p>
        
	<div id="instructions">
        <h2>Instructions</h2>
        
        <div id="instructions-english">
            <a href="#" id="fr-toggle">en fran&ccedil;ais</a>
            {{ application.session.en_instructions|safe}}
        </div>
        
        <div id="instructions-french" style="display: none;">
            <a href="#" id="en-toggle">english</a>
            {{ application.session.fr_instructions|safe}}
        </div>
    </div>
    
    <div id="about">
	    <fieldset>
	        <legend>English language</legend>
	        <div>
	            Writing: {{ application.en_writing }}
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	            Reading: {{ application.en_reading }}
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	            Speaking: {{ application.en_speaking }}
	        </div>
	    </fieldset>
	    <br/>
	    
	    <fieldset>
	        <legend>French language</legend>
	        <div>
	            Writing: {{ application.fr_writing }}
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	            Reading: {{ application.fr_reading }}
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	            Speaking: {{ application.fr_speaking }}
	        </div>
	    </fieldset>
	    <br/>
	    
	    <fieldset>
	        <legend>GPA</legend>
	        {{ application.gpa }}
	    </fieldset>
	    <br/>
	    
	    <strong>Schooling</strong><br/>
	    <div>
	    	{{ application.schooling|safe }}
	    </div>
	    <br/><br/>
	    
	    <strong>Resume</strong><br/>
	    <div>
	    	{{ application.resume_text|safe }}
	    </div>
	    <br/><br/>
	
	    <strong>References</strong><br/>
	    <div>
	    	{{ application.references|safe }}
	    </div>
	    <br/><br/>
    </div>
    
    <div id="questions">
        {% for question in application.session.application_questions %}
            <p>
                <strong>{{ question.question|linebreaksbr }}</strong><br/>
                <div style="padding-left: 20px;">
                    {% for qid, ans in application.get_answers.items %}
                        {% ifequal question.id qid %}
                            {{ans|linebreaksbr}}
                        {% endifequal %}
                    {% endfor %}
                </div>
            </p>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_body %}
<script type="text/javascript">
	$().ready(function() {
		$("#application-tabs").tabs({
			show: function(event, ui) {
				parent.location.hash = ui.panel.id;
			}
		});
		
		$('#fr-toggle').click(function() {
		    $('#instructions-english').slideUp();
		    $('#instructions-french').slideDown();
		});
		$('#en-toggle').click(function() {
		    $('#instructions-french').slideUp();
		    $('#instructions-english').slideDown();
		});
	});
</script>

{% endblock %}
