{% extends "volunteering/base.html" %}

{% load sorting_tags pagination_tags %}
{% load truncate helpers %}

{% block head_title %}
Volunteering » Applications
{% endblock %}

{% block body %}

    {% if sessions %}
    	<h2>Open application sessions</h2>
        {% for s in sessions %}
            <h3>{{ s.name }}</h3>
            <div style="padding-left: 25px;">
	            Due: {{ s.close_date|date }}<br/>
	            {% if s.application %}
	                {% if not s.application.complete %}
	                    <a href="{% url applications_edit s.application.id %}">continue application</a><br/>
	                {% else %}
	                    <a href="{% url applications_detail s.application.id %}">your application has been submitted</a><br/>
	                {% endif %}
	            {% else %}
	                <a href="{% url applications_new s.id %}">begin application</a><br/>
	            {% endif %}
	        </div>
            <br/>
            
        {% endfor %}
    {% else  %}
    	<h3 style="text-align: center;">We are not currently accepting applications for any positions.<br/>
    	We look forward to seeing your application in the future</h3>
    	
    	<p style="text-align: center;">For further information on becoming an overseas volunteer please visit 
    	<a href="http://www.ewb.ca/en/whatyoucando/volunteer/index.html" target="_new">EWB's website</a>.<br/>
    	Overseas placement applications are typically accepted in February and August each year.</p>
    {% endif %}
    <br/>
    
	{% if past %}
	    <h2>Past applications</h2>
		<div class="clear"></div>
		<table style="width: 100%">
		    <tr>
		       <th align="left">Date</th>
		       <th align="left">Session</th>
		       <th align="left">Status</th>
		       <th>&nbsp;</th>
		    </tr>
		    
    		{% for a in past %}
        		<tr style="background: {% cycle "#ffffff;" "#e0e0e0;"%}">
			        <td>{{ a.session.close_date|date }}</td>
			        <td>{{ a.session.name }}</td>
			        <td>{% for x,y in a.APPLICATION_STATUS %}{% ifequal x a.status %}{{y}}{% endifequal %}{% endfor %}</td>
			        <td><a href="{% url applications_detail a.id %}">view</a></td>
			     </tr>
    		{% endfor %}
		</table>
	{% endif %}

{% endblock %}

