{% extends "volunteering/base.html" %}

{% load sorting_tags pagination_tags %}
{% load truncate helpers %}

{% block head_title %}
Volunteering » Applications
{% endblock %}

{% block body %}

    {% if sessions %}
        <h2>Open application sessions</h2>
        {% for s in sessions %}
            <strong>{{ s.name }}</strong> (due {{ s.close_date }})<br/>
            {% if s.application %}
                {% if not s.application.complete %}
                    <a href="{% url applications_edit s.application.id %}">view draft</a><br/>
                {% else %}
                    <a href="{% url applications_detail s.application.id %}">view application</a><br/>
                {% endif %}
            {% else %}
{#	            {% new_button "application" %} #}
                <a href="{% url applications_new s.id %}">begin application</a><br/>
            {% endif %}
            
            {% comment %}
            {% for a in current %}
                {% ifequal a.session s %}
                    {% if not a.complete %}
                        <a href="">view draft</a><br/>
                    {% else %}
                        <a href="">view application</a><br/>
                    {% endif %}
                {% else %}
	                {% new_button "application" %}
                    <a href="">begin application</a><br/>
                {% endifequal %}
            {% endfor %}
            {% endcomment %}
            <br/>
        {% endfor %}
    {% endif %}
    
	{% if past %}
	    <h2>Past applications</h2>
		<div class="clear"></div>
		<table style="width: 100%">
		    <tr>
		       <th align="left">Date</th>
		       <th align="left">Session</th>
		       <th align="left">Status</th>
		       <th>&nbsp;</th>
		    </tr>
		    
    		{% for a in past %}
        		<tr style="background: {% cycle "#ffffff;" "#e0e0e0;"%}">
			        <td>{{ a.session.close_date|date }}</td>
			        <td>{{ a.session.name }}</td>
			        <td>{% if a.complete %}complete{%else%}incomplete{%endif%}</td>
			        <td><a href="{% url applications_detail s.application.id %}">view</a></td>
			     </tr>
    		{% endfor %}
		</table>
	{% endif %}

{% endblock %}

