{% load threadedcommentstags %}
{% load attachablecomments_tags %}
{% load i18n %}
{% load uni_form_tags %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load attachments_tags %}
{% load icon_tags %}
{% load filesize_tags %}
{% load time_filters %}

{% get_threaded_comment_tree for object as responses %}
{% autopaginate responses %}

<div class="post">

    {% if responses %}
    	<div class="postheader bkgd" style="position: relative;"> <!-- header row -->
		    Replies
    	</div>
    {% endif %}

    {% for response in responses %}

        <div class="postsubheader bkgd-light" id="reply-{{ response.id }}"> <!-- stat row -->
            <table width="100%" style="margin:0; padding: 0;">
            <tr>
				<td>By <a href="{% url profile_detail response.user.username %}">{{ response.user.visible_name }}</a> {% mktime response.date_submitted %}</td>
            </tr>
            </table>
        </div>

        <div class="postcontent" style="width: 98%;"> <!-- main row -->
    		<a href="{% url profile_detail response.user.username %}">
    		    <img src="{% avatar_url response.user 60 %}" class="posthumbnail" title="{{response.user.visible_name}}" style="max-width:70px; max-height:70px;" alt="{{response.user.visible_name}}"/>
    		</a>

        <div class="textbody">
            {{ response.comment|safe }}
        </div>

            <br style="clear:both; height: 1px; line-height: 1px;" />

            <table width="100%" style="margin:0; padding: 0; margin-top: 6px;"> <!-- tags and drill-in link table -->
            <tr>
                <td valign="top" style="padding-left: 15px; font-size: 10px;">
                    {% get_attachments_for response as "attachments" %}

                    {% if attachments.count %}
                        <div class="post-attachments">
                            <span class="attach-label lighter">attached files:</span>
                            <ul>
                                {% for att in attachments %}
                                
<li class="file_$file.extension attachmentItem">
                                {% icon_for_filename att.filename %}<a href="{% get_STATIC_URL %}{% filter urlencode %}{{ att.attachment_file.name }}{% endfilter %}" target="_blank">{{ att.filename }}</a>
                                {% image_preview att.attachment_file.name att.filename response.pk %}
                                {% filesize_for_filename att.attachment_file.name %}
                                </li>
                
                                    
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                <td align="right" valign="top" width="300" style="font-size: 10px; padding-right: 10px;">
                    {% if grpadmin %}
                        <form method="POST" action="{% url tc_comment_delete response.id %}">
                            <input type="submit" value="{% trans "Delete Post" %}" />
                            <input type="hidden" name="next" value="{{ request.path }}" />
                        </form>
                    {% endif %}
                </td>
            </tr>
            </table>
        </div>


    
        {% comment %}
        <li class="{% cycle even,odd %} thread-{{ response.depth }} clearfix">
            <div class="meta">
                <div class="avatar">{% avatar response.user 40 %}</div>
                <div class="details"><a href="{% url profile_detail response.user.username %}">{{ response.user     }}</a></div>
                {{ response.date_submitted|date }}
            </div>
            <div class="bulk">
                <div class="body">{{ response.comment|safe }}</div>
                {% get_attachments_for response as "attachments" %}
                {% if attachments.count %}
                    <div class="attachments">
                        <div class="attachmentsTitle">Attachments</div>
                        <ul>
                        {% for att in attachments %}
                            <li class="attachmentItem">
                                {% icon_for_filename att.filename %}<a href="{% get_STATIC_URL %}{{ att.attachment_file.name }}">{{ att.filename }}</a>
                                {% image_preview att.attachment_file.name att.filename topic.pk %} 
                                {% filesize_for_filename att.attachment_file.name %} 
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% ifequal user response.user %}
                <form method="POST" action="{% url tc_comment_delete response.id %}">
                    <input type="submit" value="{% trans "Delete Post" %}" />
                    <input type="hidden" name="next" value="{{ request.path }}" />
                </form>
                {% endifequal %}
                <a href="javascript:toggle_comment_form({{ response.id }})">{% trans "Reply to This Post" %}</a>
                <form class="hidden" method="POST" action="{% get_comment_url object response %}" id="comment_form_{{ response.id }}">
                    <table><tr><td><textarea id="id_comment_{{response.id}}" class="tinymce" rows="10" cols="40" name="comment"></textarea></td></tr>
                    <tr><td>Tags: <input id="id_tags" type="text" class="textinput" name="tags" maxlength="255" /></td></tr></table>
                    <tr><td><input type="submit" value="{% trans "Post Response" %}" /></td></tr></table>
                    <input type="hidden" name="next" value="{{ request.path }}" />
                </form>
            </div>
        </li>
        
        {% endcomment %}
    {% endfor %}
</div>

{% paginate %}

{% if user.is_authenticated %}
	{# FIXME: is there any way to use a proper django form, instead of hardcoding? #}
	{# FIXME: this is also loaded for EVERY comment, which gets really slow if there #}
	{#        are a lot of comments (esp with the tinymce editor #}
	<h2 class="clear">{% trans "Add a reply" %}</h2>
	<div class="post-reply-container">
        <form method="POST" enctype="multipart/form-data" action="{% get_comment_url object %}">
                    <textarea id="id_comment" class="tinymce" rows="8" cols="80" style="width:99%" name="comment"></textarea>
                    <br/><br/>
                    <div id="attachFiles">                    
                        {% for af in attach_forms %}
                            {{ af.as_p }}
                        {% endfor %}
                        <div id="attachLink">
                            <a class="getAttachForm" href="{% url ac_get_attachment_form %}">{% trans "Attach a file to this reply" %}</a>
                        </div>
                    </div>
                
                <p>
                    <label for="id_tags">Tags:</label>
                    <input id="id_tags" type="text" class="textinput" name="tags" maxlength="255" />
                </p>
                
                <div class="form_block">
                    <input type="hidden" id="attachCount" name="attach_count" value="0">
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <input type="submit" value="{% trans "Post Response" %}" />
                </div>
        </form>
    </div>
{% else %}
    <h3>Please <a href="{% url acct_login %}?url={{request.path}}">Sign in</a> (or <a href="{% url acct_signup %}">Sign Up</a>) to respond</h3>
{% endif %}
