{% extends "topics/base.html" %}

{% load threadedcommentstags %}
{% load attachablecomments_tags %}
{% load i18n %}
{% load uni_form_tags %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load attachments_tags %}

{% block head_title %}{% trans "Reply Preview" %}{% endblock %}

{% block body %}
<h1>{% trans "Reply" %}</h1>
{% if user.is_authenticated %}
    {% if comment %}
        <div id="comment_preview">{% auto_transform_markup comment %}</div>
    {% endif %}
    <form class="uniForm" method="POST" enctype="multipart/form-data" action="">
            <div class="ctrlHolder">
                {# {{ form.comment }} #}
                {{ form|as_uni_form }}
                <div id="attachFiles">             
                    {% for af in attach_forms %}
                        {{ af|as_uni_form }}
                    {% endfor %}
                    <div id="attachLink">
                        <a class="getAttachForm" href="{% url ac_get_attachment_form %}">{% trans "Attach a file to this reply" %}</a>
                    </div>
					<p><strong>{% trans "If you had any files attached, you will have to re-attach them." %}</strong></p>
                </div>
            </div>
            <div class="form_block">                
                <input type="hidden" id="attachCount" name="attach_count" value="{{ attach_count }}">
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="{% trans "Post Response" %}" />
            </div>
    </form>
{% else %}
    <h3>Please <a href="{% url acct_login %}">Login</a> (or <a href="{% url acct_signup %}">Sign Up</a>) to leave a comment</h3>
{% endif %}
{% endblock %}

{% block extra_body %}
	{{ block.super }}
	{% include "tinymce.html" %}
    <script type="text/javascript">    
        var nextAttachPrefix = 0;
        $(function() {
    		$('#attachFiles').click(function(e) {
    		    var $tgt = $(e.target);
    		    if ($tgt.is('.getAttachForm')) {
    		        var parentDiv = $tgt.parents('div:first');
    		        var grandParentDiv = parentDiv.parents('div:first');
        		    var postData = {'prefix': nextAttachPrefix};
                    $.post($tgt.attr('href'), postData, function(data){
                        parentDiv.remove();
                        grandParentDiv.append(data);
                        });
                    nextAttachPrefix++;
                    $('#attachCount').val(nextAttachPrefix);
                    return false;                    
    		    }
            });
        });
    </script>
{% endblock %}