{% extends "conference/schedule/base.html" %}

{% load conference_tags %}

{% block body %}

    {% if request.user.is_authenticated %}
        <p>
            <a href="{% url conference_for_user %}">View my personalized schedule</a>
        </p>
    {% endif %}

    {% for did, dname, dnum in days %}
        {% ifequal day did %}
            <strong>{{ dname }}</strong>
        {% else %}
            <a href="{% url conference_by_day did stream %}">{{ dname }}</a>
        {% endifequal %}
        {% if not forloop.last %} | {% endif %}
    {% endfor %}
    <br/>
    
    {% ifequal stream "all" %}
        <strong>All streams</strong>
    {% else %}
        <a href="{% url conference_by_day day 'all' %}">All streams</a>
    {% endifequal %} | 
    {% for sid, sname in streams %}
        {% ifequal stream sid %}
            <strong>{{ sname }}</strong>
        {% else %}
            <a href="{% url conference_by_day day sid %}">{{ sname }}</a>
        {% endifequal %}
        {% if not forloop.last %} | {% endif %}
    {% endfor %}
    <br/><br/>
    
    <table border="1" width="100%">
        {% for t in timelist %}
            <tr>
                <th>{{ t }}:00</th>
                {% for s in sessions %}
                    {% ifequal s.time.hour t %}
                        {% ifequal s.time.minute 0 %}
                            <td rowspan="{% rowspan s.length %}" class="{{ s.stream }}">
                                <a href="{% url conference_session s.id %}">
                                    <strong>{{ s.name }}</strong>
                                </a><br/>
                                <em>{{ s.room.name }}</em>
                            </td>
                        {% endifequal %}
                    {% endifequal %}
                {% endfor %}
            </tr>
            <tr>
                <th>&nbsp;</th>
                {% for s in sessions %}
                    {% ifequal s.time.hour t %}
                        {% ifequal s.time.minute 30 %}
                            <td rowspan="{% rowspan s.length %}" class="{{ s.stream }}">
                                <a href="{% url conference_session s.id %}">
                                    <strong>{{ s.name }}</strong>
                                </a><br/>
                                <em>{{ s.room.name }}</em>
                            </td>
                        {% endifequal %}
                    {% endifequal %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
