{% extends "conference/schedule/base.html" %}

{% load conference_tags %}
{% load avatar_tags %}

{% block body %}
    <h1>{{ session.name }}</h1>
    {{ session.time|time:"g:i A" }} - {{ session.endtime|time:"g:i A" }} ({{ session.room.name }})<br/>
    <em>{{ session.streamverbose }}</em>
    {% if session.popular %}
        <br/>
        <span style="color: red;">Popular - arrive early to save a seat!</span>
    {% endif %}
    <br/><br/>
    
    {% if request.user.is_authenticated %}
        {% attendance session request.user as attending tentative %}
        {% if attending %}
            <strong>This session is in your schedule!</strong><br/>
            <em>This is NOT a formal RSVP; all sessions are first-come, first-serve</em>
            <br/>
            <a href="{% url conference_session_tentative session.id %}">Move to my backup list</a> | 
            <a href="{% url conference_session_skip session.id %}">Remove from my schedule</a>
        {% endif %}
        
        {% if tentative %}
            <strong>This session is in your backup list.</strong><br/>
            <em>This is NOT a formal RSVP; all sessions are first-come, first-serve</em>
            <br/>
            <a href="{% url conference_session_attend session.id %}">Move to my schedule</a> | 
            <a href="{% url conference_session_skip session.id %}">Remove from my list</a>
        {% endif %}
        
        {% if not attending and not tentative %}
            Add to... 
            <a href="{% url conference_session_attend session.id %}">my schedule</a> | 
            <a href="{% url conference_session_tentative session.id %}">my backup list</a>
        {% endif %}
        <br/><br/>
    {% endif %}
    
    <p>
        {{ session.long_description|linebreaksbr }}
    </p>
    <hr/>
    
    <p>
        Room capacity: {{ session.capacity }}
    </p>
    <p>
        Attending:<br/>
        {% for u in attendees %}
            <div style="float: left; width: 35px; height: 35px; padding: 3px; margin: 4px; border: 1px solid #d0d0d0;">
                {% avatar u 35 %}
            </div>
        {% endfor %}
    </p>
    <br style="clear: both;"/>
    <hr/>
    
    <p>
        <a href="{% url conference_by_time session.dayverbose session.timeverbose %}">Find other sessions at this time</a><br/>
        <a href="{% url conference_by_stream session.stream %}">Find other sessions in this content stream</a>
    </p>
    <hr/>
    
    {% if perms.conference %}
        <p>
            <a href="{% url conference_session_edit session.id %}">Edit this session</a><br/>
            <a href="{% url conference_session_delete session.id %}">Delete this session</a>
        </p>
    {% endif %}
    
{% endblock %}
