{% extends "conference/schedule/base.html" %}

{% block body %}
    {% if stream %}
        {% for sid, sname in streams %}
            {% ifequal stream sid %}
                <strong>{{ sname}}</strong>
            {% endifequal %}
        {% endfor %}
    {% else %}
        <strong>{{ day|date:"l" }} at {{ time|time:"P" }}</strong>
    {% endif %}
    <br/><br/>

    {% for s in sessions %}    
        <strong>{{ s.name }}</strong><br/>
        {% if stream %}
            {{ s.time}} - {{ s.endtime }} ({{ s.room.name }})
        {% else %}
            {{ s.room.name }} - {{ s.length }} minutes<br/>
            <em>{{ s.streamverbose }}</em>
        {% endif %}
        <br/><br/>

        {% if request.user.is_authenticated %}
            <a href="#">Attend</a> | <a href="#">Tentative</a> | <a href="#">Remove</a>

            {% if perms.conference %}
                || -- ||
                <a href="{% url conference_session_edit s.id %}">edit</a> |
                <a href="{% url conference_session_delete s.id %}">delete</a>
            {% endif %}

            <br/><br/>
        {% endif %}
    
        <p>
            {{ s.short_description|linebreaksbr }}
        </p>
        
        <p>
            <a href="{% url conference_session s.id %}">view details &raquo;</a>
        </p>
        
        {% if not forloop.last %}<hr/>{% endif %}
    {% endfor %}
    

{% endblock %}
