{% extends "conference/schedule/base.html" %}

{% load conference_tags %}

{% block body %}
    <h1>My Conference Schedule</h1>
    <p>
        {% if day %}
            <a href="{% url conference_by_day day 'all' %}">View the master schedule</a>
        {% else %}
            <a href="{% url conference_by_day 'fri' 'all' %}">View the master schedule</a>
        {% endif %}
    </p>

    {% for did, dname, dnum in days %}
        {% ifequal day did %}
            <strong>{{ dname }}</strong>
        {% else %}
            <a href="{% url conference_for_user did %}">{{ dname }}</a>
        {% endifequal %}
        {% if not forloop.last %} | {% endif %}
    {% endfor %}
    <br/><br/>
    
    <table border="1" width="100%">
        {% for t in timelist %}
            <tr>
                <th>{{ t }}:00</th>
                {% for s in sessions %}
                    {% ifequal s.time.hour t %}
                        {% ifequal s.time.minute 0 %}
                            <td rowspan="{% rowspan s.length %}" class="tlink {{ s.stream }}" style="height: {% height s.length %}">
                                <a href="{{ s.url }}">
                                    <strong>{{ s.name }}</strong>
                                    <br/>
                                    <em>{{ s.room }}</em>
                                </a>
                            </td>
                        {% endifequal %}
                    {% endifequal %}
                {% endfor %}
            </tr>
            <tr>
                <th>&nbsp;</th>
                {% for s in sessions %}
                    {% ifequal s.time.hour t %}
                        {% ifequal s.time.minute 30 %}
                            <td rowspan="{% rowspan s.length %}" class="tlink {{ s.stream }}" style="height: {% height s.length %}">
                                <a href="{{ s.url }}">
                                    <strong>{{ s.name }}</strong>
                                    <br/>
                                    <em>{{ s.room }}</em>
                                </a>
                            </td>
                        {% endifequal %}
                    {% endifequal %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br/>
    
    <a href="{% url conference_private_new %}">Add a custom event to my schedule</a>
    <br/>
    
{% endblock %}
