{% extends "base.htm" %}
{% block body %}
<h1> Create Income </h1>

	 {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
	<form action="{% url enter_transaction %}" method="post">
		<table>
			{{ form.as_table }}
		</table>
		<br /> <br />
		<input type="submit" value="Add Transaction" /> <a href="{% url index %}"><button type="button">Cancel</button></a>
		<br /> <br />
		
	</form>

{% endblock body %}