{% extends "base.htm" %}
{% block body %}
<h1>View all Transactions</h1>

<table border="1">
	<tr>
		<td>Type</td>
		<td>Date</td>
		<td>Amount</td>
		<td>Category</td>
	</tr>
{% for e in expenditures %}
	<tr>
		<td>{{e.type}}</td>
		<td>{{e.date}}</td>
		<td>{{e.amount}}</td>
		<td>{{e.expenditure_category.name}}</td>
	</tr>
{% endfor %}
{% for i in incomes %}
	<tr>
		<td>{{i.type}}</td>
		<td>{{i.date}}</td>
		<td>{{i.amount}}</td>
		<td>{{i.income_category.name}}</td>
	</tr>
{% endfor %}
</table>


{% endblock body %}