{% load i18n %}
{% load group_tags %}
{% load attachments_tags %}
{% load icon_tags %}
{% load filesize_tags %}

{% if not wb.content and not force %}

	{% if member %}
		{% trans "No whiteboard" %} - <a href="{% groupurl wiki_edit group title=wb.title %}">{% trans "create a whiteboard..." %}</a>
	{% endif %}

{% else %}

	{# <h2>{% trans "Whiteboard" %}</h2> #}
	
	<div class="whiteboard-box">
		{# we ignore the markup field, and assume it's html, since we've hacked it up... #}
		{{ wb.content|safe }}

        {% get_attachments_for wb as "attachments" %}
        {% if attachments.count %}
        	<hr/>
            attached files:
            <ul style="margin-top: 0px; margin-bottom: 5px; margin-left: 25px;">
                {% for att in attachments %}
                    <li class="attachmentItem">
                        {% icon_for_filename att.filename %} <a href="{{ STATIC_URL }}{{ att.attachment_file.name }}">{{ att.filename }}</a>
                        {% image_preview att.attachment_file.name att.filename wb.pk %} 
                        {% filesize_for_filename att.attachment_file.name %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


		{% if member %}
    <div class="whiteboard-editing-box">
			<a href="{% groupurl wiki_edit group title=wb.title %}">{% trans "Edit this article" %}</a>
			|
			<a href="{% groupurl wiki_article_history group title=wb.title %}">{% trans "Editing history" %}</a>
	</div>
	<br class="clear"/>
		{% endif %}



{% endif %}
