{% load i18n %}
{% load group_tags %}
{% load attachments_tags %}
{% load icon_tags %}
{% load filesize_tags %}

{% if not wb.content and not force %}

	{% if member %}
		{% trans "No whiteboard" %} - <a href="{% groupurl wiki_edit group title=wb.title %}">{% trans "create a whiteboard..." %}</a>
	{% endif %}

{% else %}

	{# <h2>{% trans "Whiteboard" %}</h2> #}
	
	<div class="whiteboard-box" id="post-whiteboard">
		{# we ignore the markup field, and assume it's html, since we've hacked it up... #}
		<div class="whiteboard-contents">
		  <div class="textbody">
    		{{ wb.content|safe }}
		  </div>
        </div>

        {% get_attachments_for wb as "attachments" %}
        {% if attachments.count %}
            <div class="whiteboard-attachments">
                <span class="attach-label lighter">attached files:</span>
                <ul>
                    {% for att in attachments %}
                        <li class="attachmentItem">
                            {% icon_for_filename att.filename %} <a href="{{ STATIC_URL }}{{ att.attachment_file.name }}" target="_blank">{{ att.filename }}</a>
                            {% image_preview att.attachment_file.name att.filename wb.pk %} 
                            {% filesize_for_filename att.attachment_file.name %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>


		{% if member %}
    <div class="whiteboard-editing-box">
            {% if wb.latest_changeset %}
            
            <span class="lighter">Last edited by <a href="{% url profile_detail  wb.latest_changeset.editor.username %}" class="nodeco">{{ wb.latest_changeset.editor.visible_name }}</a>  on {{ wb.last_update|date }} at {{ wb.last_update|time }}</span>
            
            {% else %}
            No whiteboard edits yet
            {% endif %}
            
            | 
			<a href="{% groupurl wiki_edit group title=wb.title %}">{% trans "Edit this article" %}</a>
			|
			<a href="{% groupurl wiki_article_history group title=wb.title %}">{% trans "Editing history" %}</a>
	</div>
	<br class="clear"/>
		{% endif %}



{% endif %}
