{% extends "champ/base.html" %}

{% load i18n %}
{% load pagination_tags %}

{% block champ_body %}
<style>
	th {
		background-color: #c0c0c0;
	}
	th, td {
		padding: 5px 25px 5px 10px;
		border: 1px solid #a0a0a0;
		text-align: left;
	}
	table {
		border: 1px solid #a0a0a0;
	}
</style>

<h2>{{ group.name }}: 
{% if confirmed %}
	Confirmed Activities</h2>
	Switch to <a href="{% url champ_unconfirmed_activities group.slug %}">unconfirmed activities</a>
{% else %}
	Unconfirmed Activities</h2>
	Switch to <a href="{% url champ_confirmed_activities group.slug %}">confirmed activities</a>
{% endif %}
<br/><br/><br/>

{% autopaginate activities 15 %}
<table>
	<tr>
		<th style="width: 75%;">Activity name</th>
		<th style="width: 25%;">Activity date</th>
	</tr>
	{% for a in activities %}
		<tr style="background-color: {% cycle '#ffffff' '#e0e0e0' %};">
			<td><a href="{% url champ_activity group.slug a.pk %}">{{a.name}}</a></td>
			<td>{{a.date|date}}</td>
		</tr>
	{% endfor %}
</table>

<br/>
{% paginate %}
<br/>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
    </script>
{% endblock %}

