{% extends "champ/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load wiki_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load networks_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load events_tags %}
{% load schoolyear %} 
{% load helpers %}

{% block champ_body %}
<style>
	#champtable td, #champtable th.topheading {
		text-align: center;
	}
	#champtable td.labelcell {
		text-align: left;
	}
</style>

<h3 align="center">Currently Displaying: 

{% if term %}
    {{ term }} term, {{ year }}
{% else %}
    {% if month %}
        {{ month|month }}, {{ year }}
    {% else %}
        {% if year %}
            {{ year|schoolyear }}
        {% else %}
            all dates
        {% endif %}
    {% endif %}
{% endif %}

</h3>


<table style="width: 95%"> <tr>
<td align="left" valign="middle">
	{# maybe templatetag this entire thing...!!! #}
	{% if group %}
		{% if term %}
			<a href="{% url champ_dashboard year=prevterm.1,term=prevterm.0,group_slug=group.slug %}" class="more">&laquo; previous term</a>
		{% else %}
		    {% if month %}
				<a href="{% url champ_dashboard year=prevmonth.1,month=prevmonth.0,group_slug=group.slug %}" class="more">&laquo; previous month</a>
		    {% else %}
		        {% if year %}
					<a href="{% url champ_dashboard year=prevyear,group_slug=group.slug %}" class="more">&laquo; previous year</a>
		        {% endif %}
		    {% endif %}
		{% endif %}
	{% else %}
		{% if term %}
			<a href="{% url champ_dashboard year=prevterm.1,term=prevterm.0 %}" class="more">&laquo; previous term</a>
		{% else %}
		    {% if month %}
				<a href="{% url champ_dashboard year=prevmonth.1,month=prevmonth.0 %}" class="more">&laquo; previous month</a>
		    {% else %}
		        {% if year %}
					<a href="{% url champ_dashboard year=prevyear %}" class="more">&laquo; previous year</a>
		        {% endif %}
		    {% endif %}
		{% endif %}
	{% endif %}
	
</td>
<td align="center">
	<span style="font-size: 11px;">Jump to:</span> <br /> 
	
	{% if group %}
	    <a href="{% url champ_dashboard year=nowyear,month=nowmonth,group_slug=group.slug %}" class="more">[current month]</a> 
	    <a href="{% url champ_dashboard year=nowyear,term=nowterm,group_slug=group.slug %}" class="more">[current term]</a> 
	    <a href="{% url champ_dashboard year=nowyear,group_slug=group.slug %}" class="more">[current year]</a> 
	    <a href="{% url champ_dashboard group_slug=group.slug%}" class="more">[all dates]</a></td>
	{% else %}
	    <a href="{% url champ_dashboard year=nowyear,month=nowmonth %}" class="more">[current month]</a> 
	    <a href="{% url champ_dashboard year=nowyear,term=nowterm %}" class="more">[current term]</a> 
	    <a href="{% url champ_dashboard year=nowyear %}" class="more">[current year]</a> 
	    <a href="{% url champ_dashboard %}" class="more">[all dates]</a></td>
    {% endif %}
<td align="right" valign="middle">
	{% if group %}
		{% if term %}
			<a href="{% url champ_dashboard year=nextterm.1,term=nextterm.0,group_slug=group.slug %}" class="more">&raquo; next term</a>
		{% else %}
		    {% if month %}
				<a href="{% url champ_dashboard year=nextmonth.1,month=nextmonth.0,group_slug=group.slug %}" class="more">&raquo; next month</a>
		    {% else %}
		        {% if year %}
					<a href="{% url champ_dashboard year=nextyear,group_slug=group.slug %}" class="more">&raquo; next year</a>
		        {% endif %}
		    {% endif %}
		{% endif %}
	{% else %}
		{% if term %}
			<a href="{% url champ_dashboard year=nextterm.1,term=nextterm.0 %}" class="more">&raquo; next term</a>
		{% else %}
		    {% if month %}
				<a href="{% url champ_dashboard year=nextmonth.1,month=nextmonth.0 %}" class="more">&raquo; next month</a>
		    {% else %}
		        {% if year %}
					<a href="{% url champ_dashboard year=nextyear %}" class="more">&raquo; next year</a>
		        {% endif %}
		    {% endif %}
		{% endif %}
	{% endif %}
	
</td>
</tr> </table>

<br />

<div style="text-align: center;">
Chapter: 
<form>
<select id="champ_groups">
    <option value="">all (national)</option>
    {% for grp in allgroups %}
        <option value="{{grp.slug}}" {% ifequal group grp %}selected="selected"{% endifequal %}>{{grp.name}}</option>
    {% endfor %}
</select>
</form>
</div>

<br/><br/>
<table class="cellpadding8 standard" {# width="500" #} style="margin: 0 auto; width: 90%;" id="champtable">

<tr>
	<th {# style="width: 300px;" #}>&nbsp;</th>
	{% if group %}
		<th {# style="width: 150px;" #} class="topheading">
			{{ group.name }}:<br/>
			{% if term %}
			    {{ term }} term, {{ year }}
			{% else %}
			    {% if month %}
			        {{ month|month }}, {{ year }}
			    {% else %}
			        {% if year %}
			            {{ year|schoolyear }}
			        {% else %}
			            all dates
			        {% endif %}
			    {% endif %}
			{% endif %}
		</th>
		<th {# style="width: 150px;" #} class="topheading">{{ year|schoolyear }} Plan
		{% if is_group_admin %}
		     <br />
		     {% if year %}
		     	<a href="{% url champ_yearplan group.slug year %}">[edit]</a>
		     {% else %}
		     	<a href="{% url champ_yearplan group.slug %}">[edit]</a>
		     {% endif %}
		{% endif %}
		</th>
	{% endif %}
	<th {#style="width: 150px;"#} class="topheading">
		National:<br/>
		{% if term %}
		    {{ term }} term, {{ year }}
		{% else %}
		    {% if month %}
		        {{ month|month }}, {{ year }}
		    {% else %}
		        {% if year %}
		            {{ year|schoolyear }}
		        {% else %}
		            all dates
		        {% endif %}
		    {% endif %}
		{% endif %}
	</th>
	<th {#style="width: 150px;"#} class="topheading">
		National goals<br/>
		({{ year|schoolyear }})
	</th>
</tr>


<tr><td style="width: 200px"></td><td></td></tr>

<tr><th colspan="5" align="left">CHAMP Usage</th></tr>
<tr>
	<td  class="labelcell">Unconfirmed Activities:</td>
	{% if group %}
		<td> {{ unconfirmed }} <a href="{% url champ_unconfirmed_activities group.slug %}" class="more">list &raquo;</a></td>
		<td>&nbsp;</td>
	{% endif %}
	<td>{{ natl_unconfirmed }}</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="labelcell">Confirmed Activities:</td>
	{% if group %}
		<td>  {{ confirmed }} <a href="{% url champ_confirmed_activities group.slug %}" class="more">list &raquo;</a></td>
		<td>&nbsp;</td>
	{% endif %}
	<td>{{ natl_confirmed }}</td>
	<td>&nbsp;</td>
</tr>

<tr><th colspan="5" align="left">Member Learning</th></tr>
<tr>
	<td class="labelcell">Member Learning Hours:</td>
	{% if group %}
		<td> {{ ml_hours }} </td>
		<td> {% if yearplan %} {{ yearplan.ml_total_hours }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_ml_hours }}</td>
	<td>25,000</td>
</tr>
<tr>
	<td  class="labelcell">Average Attendance:</td>
	{% if group %}
		<td> {{ ml_attendance }}  </td>
		<td> {% if yearplan %} {{ yearplan.ml_average_attendance }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_ml_attendance }}</td>
	<td>20</td>
</tr>
<tr>
	<td  class="labelcell">Number of events:</td>
	{% if group %}
		<td> {{ ml_events }}  </td>
		<td> {% if yearplan %} {{ yearplan.ml_events }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_ml_events }}</td>
	<td>1,400</td>
</tr>

<tr><th colspan="5" align="left">Public Outreach</th></tr>
<tr>
	<td class="labelcell">People reached on campus:</td>
	{% if group %}
		<td> {{ pe_people_oncampus }} </td>
		<td> {% if yearplan %} {{ yearplan.eng_people_reached }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_pe_people_oncampus }}</td>
	<td>80,050</td>
</tr>
<tr>
	<td class="labelcell">People reached off campus:</td>
	{% if group %}
		<td> {{ pe_people_offcampus }} </td>
		<td> {% if yearplan %} {{ yearplan.eng_people_reached_offcampus }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_pe_people_offcampus }}</td>
	<td>40,000</td>
</tr>
<tr>
	<td class="labelcell">Number of events:</td>
	{% if group %}
		<td> {{ pe_events }} </td>
		<td> {% if yearplan %} {{ yearplan.eng_events }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_pe_events }}</td>
	<td>414</td>
</tr>

<tr><th colspan="5" align="left">Advocacy</th></tr>
<tr>
	<td class="labelcell">MP meetings:</td>
	{% if group %}
		<td> {{ po_contacts }} </td>
		<td> {% if yearplan %} {{ yearplan.adv_contacts }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_po_contacts }}</td>
	<td>235</td>
</tr>
<tr>
	<td class="labelcell">Letters to the editor:</td>
	{% if group %}
		<td> {{ po_letters }} </td>
		<td> {% if yearplan %} {{ yearplan.adv_letters }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_po_letters }}</td>
	<td>110</td>
</tr>

<tr><th colspan="5" align="left">Global Engineering</th>
</tr>
<tr>
	<td class="labelcell">Students Reached:</td>
	{% if group %}
		<td> {{ ce_students }} </td>
		<td> {% if yearplan %} {{ yearplan.ce_students }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_ce_students }}</td>
	<td>20,500</td>
</tr>
<tr>
	<td class="labelcell">Total Class Hours:</td>
	{% if group %}
		<td> {{ ce_hours }} </td>
		<td> {% if yearplan %} {{ yearplan.ce_hours }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_ce_hours }}</td>
	<td>234</td>
</tr>

<tr><th colspan="5" align="left">Workplace Outreach</th></tr>
<tr>
	<td class="labelcell">Professionals Reached:</td>
	{% if group %}
		<td>  {{ wo_professionals }} </td>
		<td> {% if yearplan %} {{ yearplan.wo_reached }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_wo_professionals }}</td>
	<td></td>
</tr>
<tr>
	<td class="labelcell">Presentations:</td>
	{% if group %}
		<td>  {{ wo_presentations }} </td>
		<td> {% if yearplan %} {{ yearplan.wo_presentations }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_wo_presentations }}</td>
	<td></td>
</tr>

<tr><th colspan="5" align="left">Youth Engagement</th></tr>
<tr>
	<td class="labelcell">Students Reached:</td>
	{% if group %}
		<td>  {{ so_students }} </td>
		<td> {% if yearplan %} {{ yearplan.so_reached }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_so_students }}</td>
	<td>26,417</td>
</tr>
<tr>
	<td class="labelcell">Presentations:</td>
	{% if group %}
		<td>  {{ so_presentations }} </td>
		<td> {% if yearplan %} {{ yearplan.so_presentations }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_so_presentations }}</td>
	<td>1,200</td>
</tr>

<tr><th colspan="5" align="left">Fundraising</th></tr>
<tr>
	<td class="labelcell">Total Dollars Fundraised:</td>
	{% if group %}
		<td>  $ {{ fundraising_dollars|default:0 }} </td>
		<td> {% if yearplan %} $ {{ yearplan.fund_total|default:0 }} {% endif %}</td>
	{% endif %}
	<td>$ {{ natl_fundraising_dollars|default:0 }}</td>
	<td>$780,000</td>
</tr>
<tr>
	<td class="labelcell">Dollars from one-off events:</td>
	{% if group %}
		<td>  $ {{ fundraising_dollars_oneoff|default:0 }} </td>
		<td> {% if yearplan %} $ {{ yearplan.fund_oneoff|default:0 }} {% endif %}</td>
	{% endif %}
	<td>$ {{ natl_fundraising_dollars_oneoff|default:0 }}</td>
	<td>$138,000</td>
</tr>
<tr>
	<td class="labelcell">Dollars from recurring activities:</td>
	{% if group %}
		<td>  $ {{ fundraising_dollars_recurring|default:0 }} </td>
		<td> {% if yearplan %} $ {{ yearplan.fund_recurring|default:0 }} {% endif %}</td>
	{% endif %}
	<td>$ {{ natl_fundraising_dollars_recurring|default:0 }}</td>
	<td>$95,000</td>
</tr>
<tr>
	<td class="labelcell">Dollars from non-event sources:</td>
	{% if group %}
		<td>  $ {{ fundraising_dollars_nonevent|default:0 }} </td>
		<td> {% if yearplan %} $ {{ yearplan.fund_nonevent|default:0 }} {% endif %}</td>
	{% endif %}
	<td>$ {{ natl_fundraising_dollars_nonevent|default:0 }}</td>
	<td>$452,000</td>
</tr>

<tr><th colspan="5" align="left">Publicity</th></tr>
<tr>
	<td class="labelcell">Media Hits:</td>
	{% if group %}
		<td>  {{ publicity_hits }} </td>
		<td> {% if yearplan %} {{ yearplan.pub_media_hits }} {% endif %}</td>
	{% endif %}
	<td>{{ natl_publicity_hits }}</td>
	<td>250</td>
</tr>
</table>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#champ_groups').change(function() {
                var theDate = new Date();
                if ($(this).val())
	                window.location.href="{% url champ_dashboard %}" + $(this).val() + "/" + theDate.getFullYear() + "/";
	            else
	                window.location.href="{% url champ_dashboard %}" + theDate.getFullYear() + "/";
            });
        });
    </script>
{% endblock %}

