{% load helpers %}

	<tr>
		<th colspan="2">
			{% lookup metric_names metric.metricname %}
			
			{% if not activity.confirmed and is_group_admin %}
				<span class="edit">
					(<a href="{% url champ_edit_activity group.slug activity.pk %}">edit</a>)
				</span>
			{% endif %}
		</th>
	</tr>
	

	{% for name, value in metric.get_values.items %}
		<tr>
			<td><strong>{{ name }}</strong></td>
			{# TODO : write a tag that will display "unknown" only for required fields #}
			{#<td>{{ value|default:"<span style='color: red'>unknown</span>"|linebreaksbr }}</td>#}
			<td>{{ value|linebreaksbr }}</td>
		</tr>
	{% endfor %}

	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
