{% load helpers %}

	<tr class="metric-{{metric.metricname}}">
		<th colspan="2">
			{% lookup metric_names metric.metricname %}
			
			{% if not activity.confirmed and is_group_admin %}
				<span class="edit">
					(<a href="{% url champ_edit_metric group.slug activity.pk metric.pk %}" class="edit2" id="metric-edit-{{metric.id}}">edit</a>)
					&nbsp;&nbsp;
					(<a href="{% url champ_remove_metric group.slug activity.pk metric.pk %}" class="removemetric" id="metric-remove-{{metric.id}}">remove</a>)
				</span>
			{% endif %}
		</th>
	</tr>
	

	{% for name, value in metric.get_values.items %}
		<tr class="metric-{{metric.metricname}}">
			<td><strong>{{ name }}</strong></td>
			{# TODO : write a tag that will display "unknown" only for required fields #}
			{#<td>{{ value|default:"<span style='color: red'>unknown</span>"|linebreaksbr }}</td>#}
			<td>{{ value|default_if_none:""|linebreaksbr }}</td>
		</tr>
	{% endfor %}

	<tr class="metricspace-{{metric.metricname}}">
		<td colspan="2">&nbsp;</td>
	</tr>
