<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>CHAMP-alytics</title>
		<script src="{{ STATIC_URL }}/js/jquery.js" type="text/javascript"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb2.css" />

        <style>
            input.graphtype {
                -moz-border-radius: 1em;
                -webkit-border-radius: 1em;
                border: 1px solid;
                background: #ff7200;
                padding: 25px;
                text-align: center;
                width: 500px;
                font-weight: bold;
                color: #ffffff;
                cursor: pointer;
                margin: 15px;
            }
            
        </style>
    </head>

    <body style="background: #ffffff; overflow-x: hidden;">

        <h2>CHAMP-alytics</h2>
    
        {% block body %}
        {% endblock %}
        
    </body>
</html>
