{% extends "champ/champalytics/base_draw.html" %}

{% load helpers %}

{% block table %}
    {% if noyearplan %}
        <stron>Your chapter doesn't have any goals entered.  This graph isn't very interesting...</strong>

    {% else %}

        <table style="display: none;" id="progress">
        {% for stat, numbers in chapter_progress.items %}
            {% ifnotequal numbers.0 -1 %}
                <tr class="data">
                    {% lookup_ctx namedict stat as metricname %}
                    <td class="stat">{{ metricname.0 }}</td>
                    <td class="percent">{{ numbers.0 }}</td>
                    <td class="actual">{{ numbers.1 }}</td>
                    <td class="goal">{{ numbers.2 }}</td>
                    <td class="npercent">{{ numbers.3 }}</td>
                    <td class="nactual">{{ numbers.4 }}</td>
                    <td class="ngoal">{{ numbers.5 }}</td>
                </tr>
            {% endifnotequal %}
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% comment %}
<div id="omitted" style="margin-left: 700px; font-size: 10px;">
    <em>Omitted (no goal set):</em><br/>
    {% for stat, numbers in chapter_progress.items %}
        {% ifequal numbers.0 -1 %}
            {{ stat }}<br/>
        {% endifequal %}
    {% endfor %}
</div>
{% endcomment %}
        
{% block jscript %}
    {% if not noyearplan %}
        <script type="text/javascript">
            var metrics = [];
            var values = [];
            var difference = [];
            var actual = [];
            var goal = [];
            var nvalues = [];
            var nactual = [];
            var ngoal = [];
            function showDetail(idx)
            {
                m = metrics[idx];
                v = values[idx];
                d = difference[idx];
                a = actual[idx];
                g = goal[idx];
                nv = nvalues[idx];
                na = nactual[idx];
                ng = ngoal[idx];

                var content = '<p><strong>' + m + '</strong></p>';

                content += '<p><strong>Your chapter</strong><br/>';
                content += '<strong>' + a + '</strong> ';
                content += '(' + v + '% of ' + g + ')</p>';

                content += '<p><strong>Nationally</strong><br/>';
                content += '<strong>' + na + '</strong> ';
                content += '(' + nv + '% of ' + ng + ')</p>';

                $('#graphdetail').html(content);
                $('#graphdetail').show();
            }
            function hideDetail()
            {
                $('#graphdetail').hide();
            }
            
            $(document).ready(function() {
                // parse table data into javascript variables
                var i = 0;
                
                $('tr.data').each(function() {
                    i++;
                    metrics.push($('.stat', this).text());
                    values.push(parseInt($('.percent', this).text(), 10));
                    difference.push(100 - parseInt($('.percent', this).text(), 10));
                    actual.push(parseInt($('.actual', this).text(), 10));
                    goal.push(parseInt($('.goal', this).text(), 10));
                    nvalues.push(parseInt($('.npercent', this).text(), 10));
                    nactual.push(parseInt($('.nactual', this).text(), 10));
                    ngoal.push(parseInt($('.ngoal', this).text(), 10));
                });
                
                // dynamically resize graph area
                $('#graphcontainer').height((metrics.length * 50) + 'px');
                $('#graph').height((metrics.length * 50) + 'px');
                $('#graphlabels').height((metrics.length * 50) + 'px');

                var newmargin = ($(document).width() - $('#graphcontainer').width() - $('#champsays').width()) / 2;
                $('#champsays').css('margin-right', newmargin + 'px');
                
                {% if not includenatl %}
                    // draw graph
                    var r = Raphael("graph");
                    graph = r.g.hbarchart(10, 10, 300, 220, [values, difference],
                                 {type: 'soft',
                                  stacked: 'true',
                                  axis: "0 1 1 0",
                                  colors: ['#ff7200', '#d0d0d0']});
                                  
                    // cool hover effect
                    graph.hoverColumn(function () {
                            var y = [], res = [];
                            for (var i = this.bars.length; i--;) {
                                y.push(this.bars[i].y);
                                res.push(this.bars[i].value || "0");
                            }
                            this.flag = r.g.popup(this.bars[0].x, Math.min.apply(Math, y), res[1] + "%").insertBefore(this);
                            showDetail(this.bars[0].idx);
                        },
                        function () {
                            this.flag.animate({opacity: 0}, 300, function () {this.remove();});
                            hideDetail();
                        });

                {% else %}
                    // draw graph
                    var r = Raphael("graph");
                    graph = r.g.hbarchart(10, 10, 300, 220, [values, nvalues],
                                 {type: 'soft',
                                  axis: "0 1 1 0",
                                  colors: ['#ff7200', '#007fff']});
                                  
                    // cool hover effect
                    graph.hover(function () {
                        this.flag = r.g.popup(this.bar.x, this.bar.y, (this.bar.value || "0") + "%").insertBefore(this);
                        showDetail(this.bar.idx);
                    },
                    function () {
                        this.flag.animate({opacity: 0}, 300, function () {this.remove();});
                        hideDetail();
                    });
                {% endif %}

                //graph.label([metrics]);   // is broken... so let's hack it in.
                $('#graphlabels').css('line-height', $('#graphlabels').height() / (metrics.length+1) + 'px');
                for (var i = 0; i < metrics.length; i++)
                    $('#graphlabels').html($('#graphlabels').html() + metrics[i] + "<br/>");
            });
        </script>
        
    {% endif %}
    
{% endblock %}
