{% extends "site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}topics{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}networks/css/networks.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/myewb2-posts.css" />
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
{% endblock %}

{% comment %}
{% block subnav %}
    <ul class="subnav">
        <li><a href="{% url topic_list %}">{% trans "All Posts" %}</a></li>
    </ul>
{% endblock %}
{% endcomment %}
{% block subnav %}
    {{ block.super }}
{% endblock %}
