{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load pagination_tags %}
{% load group_tags %}
{% load tagging_tags %}

{% comment %}
**********
NOTE: this template should only be used in the context of a group (ie, the group 
variable is not None).  The generic/combined post listing has been moved to
templates/frontpage.html

The {% if group %} checks are left in just in case, and should be removed eventually.
***********
{% endcomment %}

{% block head_title %}{% trans "New Post" %}{% endblock %}

{% block body %}
    <h2>{% trans "New Post" %}
    
	{% ifnotequal group.slug "ewb" %}
       	 to: <a href="{{group.get_absolute_url}}" target="_blank">{{group.name}}</a>
    {% endifnotequal %}
    
    </h2>

    

		<h2><span class="lighter">Title: </span>{{ data.title }}</h2>

	
	{% if data.send_as_email %}
		<h3><span class="lighter">Send as email from: </span>{{ data.sender }}</h3>
	{% endif %}
	
	<div style="padding: 10px; margin: 25px; border: 1px solid #ccc;" class="message-body">
		{{ data.body|safe }}
	</div>
	
	<div>
		<strong>Tags: </strong> {{ data.tags }}
	</div>
	<br/>
	
    <form class="uniForm" method="POST" enctype="multipart/form-data" action="">
    	<div style="display: none;">
            {{ topic_form|as_uni_form }}
            {% for af in attach_forms %}
                {{ af|as_uni_form }}
            {% endfor %}
        </div>
        <p class="form_block">
            <input type="hidden" id="attachCount" name="attach_count" value="{{ attach_count }}">
            <input type="hidden" name="next" value="{{ request.path }}" />
            <input type="submit" name="goback" value="{% trans "Go back and edit" %}" />
            <input type="submit" name="previewed" value="{% trans "Create New Post" %}" />
        </p>
    </form>
{% endblock %}
