{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load group_tags %}
{% load tagging_tags %}

{% block head_title %}{% spaceless %}
{% if group %}
    {% blocktrans with group.name as group_name %}Posts for {{ group_name }}{% endblocktrans %}
{% else %}
    {% trans "Posts" %}
{% endif %}
{% endspaceless %}{% endblock %}

{% block body %}
    <h1>{% spaceless %}
        {% if group %}
            {% blocktrans with group.get_absolute_url as group_url and group.name as group_name %}Posts for <a href="{{ group_url }}">{{ group_name }}</a>{% endblocktrans %}
        {% else %}
            {% trans "Topics" %}
        {% endif %}
    {% endspaceless %}</h1>

    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>

    {% endif %}

    <p>
        {% if group %}
            <a href="{% url topic_feed group.slug %}">View RSS feed</a>
        {% else %}            
            <a href="{% url topic_feed "all" %}">View RSS feed</a>
        {% endif %}
    </p>
    
    {% autopaginate topics 10 %}
    
    {% for topic in topics %}
        {% include "topics/topic_item.html" %}
    {% endfor %}
    
    {% paginate %}
    
    {% if group and is_member %}
        <h2>{% trans "New Topic" %}</h2>
        
        <form class="uniForm" method="POST" enctype="multipart/form-data" action="">
            <fieldset class="inlineLabels">
                {{ topic_form|as_uni_form }}
                <div id="attachFiles">
                    {% for af in attach_forms %}
                        {{ af|as_uni_form }}
                    {% endfor %}
                    <div id="attachLink">
                        <a class="getAttachForm" href="{% url topic_get_attachment_form %}">{% trans "Attach a file to this post" %}</a>
                    </div>
                </div>
                <div class="form_block">
                    <input type="hidden" id="attachCount" name="attach_count" value="{{ attach_count }}">
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <input type="submit" id="submitPost" value="{% trans "Create New Post" %}" /></td>
                </div>
            </fieldset>
        </form>
    {% endif %}

    {% if not group %}
		<br/><br/>
		<h2>Tag Cloud</h2>    
	    (this probably isn't the best place for the tag cloud, but we'll leave
	    it here for now as a feature demo.)<br/>
	    
    	{% tag_cloud_for_model group_topics.GroupTopic as topic_cloud with steps=6 %}
    	
    	{% for tag in topic_cloud %}
			<a href="{% url tag_results tag %}"><font size={{tag.font_size}}>{{tag}}</font></a><br/>
		{% endfor %}
    {% endif %}
    
{% endblock %}

{% block extra_body %}
	{{ block.super }}
	{% include "tinymce.html" %}
    {% include "comments-js.html" %}
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css" />
    <script type="text/javascript" src="{{STATIC_URL}}jquery.autocomplete.min.js"></script>
	<script type="text/javascript">
    $("#id_tags").autocomplete('{% url tagging_utils_autocomplete "group_topics" "grouptopic" %}', {
                max: 10,
                multiple: true,
                multipleSeparator: ", ",
            });
    </script>	
{% endblock %}
