{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load extra_tagging_tags %}
{% load pagination_tags %}
{% load attachablecomments_tags %}
{% load avatar_tags %}
{% load group_tags %}
{% load attachments_tags %}
{% load icon_tags %}
{% load filesize_tags %}

{% block head_title %}{% trans "Post" %} : {{ topic.title }}{% endblock %}

{% block body %}
    <p><a href="{{ topic.group.get_absolute_url }}">{{ topic.group }}</a> &gt; <a href="{% groupurl topic_list topic.group %}">{% trans "Posts" %}</a></p>
    
    <ul class="responses">
        <li class="odd thread-0 clearfix">
            <div class="meta">
                <div class="avatar">{% avatar topic.creator 40 %}</div>
                <div class="details"><a href="{% url profile_detail topic.creator.username %}">{{ topic.creator }}</a></div>
                {{ topic.created|date }}
            </div>
            <div class="bulk">
                <h1>{{ topic.title }}</h1>
                <div class="body">{{ topic.body|safe }}</div>
                
                {% get_attachments_for topic as "attachments" %}
                {% if attachments.count %}
                    <div class="attachments">
                        <div class="attachmentsTitle">Attachments</div>
                        <ul>
                        {% for att in attachments %}
                            <li class="attachmentItem">
                                {% icon_for_filename att.filename %} <a href="{{ STATIC_URL }}{{ att.attachment_file.name }}">{{ att.filename }}</a>
                                {% filesize_for_filename att.attachment_file.name %} 
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            
                <p>{% show_tags_for topic %}</p>
                {% ifequal user topic.creator %}
                <form class="uniForm" method="POST" action="{{ request.path }}delete/">
                    <fieldset class="inlineLabels">
                        <div class="form_block">
                            <input type="submit" value="{% trans "Delete Post" %}" />
                            <input type="hidden" name="next" value="{% groupurl topic_list group %}" />
                        </div>
                    </fieldset>
                </form>
                {% if not edit %}<p><a href="{{ request.path }}edit/">Edit Post</a></p>{% endif %}
                {% endifequal %}
            </div>
        </li>
    </ul>
    {% if edit %}
        <h2>Edit</h2>
        <form class="uniForm" method="post" action="{{ request.path }}">
            <fieldset class="inlineLabels">
                <div class="form_block">
                    <textarea id="id_body" class="tinymce" name="body">{{ topic.body }}</textarea>
                    <input type="submit" name="edit" value="Edit!" />
                </div>
            </fieldset>
        </form>
    {% else %}
        {% attachablecomments topic %}
    {% endif %}
{% endblock %}

{% block extra_body %}
	{{ block.super }}
	{% include "tinymce.html" %}
    {% include "comments-js.html" %}
	
	{% if not edit %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css" />
    <script type="text/javascript" src="{{STATIC_URL}}jquery.autocomplete.min.js"></script>
	<script type="text/javascript">
    $("#id_tags").autocomplete('{% url tagging_utils_autocomplete "group_topics" "grouptopic" %}', {
                max: 10,
                multiple: true,
                multipleSeparator: ", ",
            });
    </script>	
	{% endif %}	
{% endblock %}
