{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load group_tags %}
{% load tagging_tags %}

{% block extra_head %}
    {{ block.super }}
    
    {% if group %}
        <link rel="alternate" type="application/rss+xml" title="{{ group }}" href="{% url topic_feed group.slug %}" />
    {% else %}
        <link rel="alternate" type="application/rss+xml" title="myEWB Front Page" href="{% url topic_feed "all" %}" />
    {% endif %}
{% endblock %}


{% block head_title %}{% spaceless %}
{% if group %}
    {% blocktrans with group.name as group_name %}Posts for {{ group_name }}{% endblocktrans %}
{% else %}
    {% trans "Posts" %}
{% endif %}
{% endspaceless %}{% endblock %}

{% block body %}
   	{% if can_adminovision %}
	    <p style="margin-top: 0; text-align: right;">
   		{% spaceless %}
   			<a href="{% url topic_adminovision %}">
    		{% if adminovision %}
    			Turn off adminovision
    		{% else %}
    			Turn on adminovision
    		{% endif %}
    		</a>
    	{% endspaceless %}
    	</p>
   	{% endif %}
    
    {% if group %}
        <h1>{% blocktrans with group.get_absolute_url as group_url and group.name as group_name %}Posts for <a href="{{ group_url }}">{{ group_name }}</a>{% endblocktrans %}</h1>
    {% endif %}

    {% autopaginate topics 10 %}
    
    {% for topic in topics %}
        {% include "topics/topic_item.html" %}
    {% endfor %}
    
    {% paginate %}
    
    {% if group and is_member %}
        <h2>{% trans "New Topic" %}</h2>
        
        <form class="uniForm" method="POST" enctype="multipart/form-data" action="">
            <fieldset class="inlineLabels">
                {{ topic_form|as_uni_form }}
                <div id="attachFiles">
                    {% for af in attach_forms %}
                        {{ af|as_uni_form }}
                    {% endfor %}
                    <div id="attachLink">
                        <a class="getAttachForm" href="{% url topic_get_attachment_form %}">{% trans "Attach a file to this post" %}</a>
                    </div>
                </div>
                <div class="form_block">
                    <input type="hidden" id="attachCount" name="attach_count" value="{{ attach_count }}">
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <input type="submit" id="submitPost" value="{% trans "Create New Post" %}" /></td>
                </div>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}

{% block extra_body %}
	{{ block.super }}
	{% include "tinymce.html" %}
    {% include "comments-js.html" %}
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css" />
    <script type="text/javascript" src="{{STATIC_URL}}jquery.autocomplete.min.js"></script>
	<script type="text/javascript">
    $("#id_tags").autocomplete('{% url tagging_utils_autocomplete "group_topics" "grouptopic" %}', {
                max: 10,
                multiple: true,
                multipleSeparator: ", ",
            });
    </script>	
{% endblock %}
