{% load i18n %}
{% load pagination_tags %}
{% load group_tags %}
{% load cache %}

{% if not hideheader %}

{% if group %}
	<div class="ajaxpoststitle">
	
	   <div class="ajaxpostsside">
	   <ul>

        {% if group or True %}
	 		{% if is_member %}
				<li><a href="{% groupurl topic_new group %}">Create a new post &raquo;</a></li>
			{% else %}
				You need to join this group before you can post to it.
			{% endif %}

		{% endif %}

	       <li><a href="{{ group.get_absolute_url }}">View group info &raquo;</a></li>
	       
	   </ul>
	   </div>

    	<h2 style="margin:0 0 5px 0;"><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></h2>
    	{% if request.REQUEST.page %}
   	       {% ifnotequal request.REQUEST.page "1" %}
       	       <span>Page: <strong>{{ request.REQUEST.page }}</strong></span>
       	   {% endifnotequal %}
        {% endif %}	   
	
		<span style="margin: 0 0 0 10px;">
			{% if request.REQUEST.short %}
				<a href="#" id="collapse-posts" style="display: none;">Collapse posts</a>
				<a href="#" id="expand-posts">Show post previews</a>
			{% else %}
				<a href="#" id="collapse-posts">Collapse posts</a>
				<a href="#" id="expand-posts" style="display: none;">Show post previews</a>
			{% endif %}
		</span>

	   <div style="clear:both"></div>
	
	</div>
{% else  %}

{# assuming it's the homepage! how excitin'! #}
<div class="ajaxpoststitle">
	
	   <div class="ajaxpostsside">
	   <ul>

        {% if user.is_authenticated %}
			<li><a href="{% groupurl topic_new group %}">Create a new post<br/>on the front page &raquo;</a></li>
		{% else %}
			<li><span>Sign in to post to myEWB.</span></li>
			

		{% endif %}
	       
	   </ul>
	   </div>

	
    	<h2 style="margin: 0 0 5px 0;">
		{% ifequal mode "featured" %}
			{% trans "Featured Posts" %}
		{% else %}
			{% ifequal mode "frontpage" %}
				{% trans "Front-page Posts" %}
			{% else %}
				{% trans "Latest Posts" %}
			{% endifequal %}
		{% endifequal %}	
    	</h2>
	
    	{% if request.REQUEST.page %}
	       {% ifnotequal request.REQUEST.page "1" %}
    	       <span>Page: <strong>{{ request.REQUEST.page }}</strong></span>
    	   {% endifnotequal %}
    	{% endif %}
	   
		<span style="margin: 0 0 0 10px;">
			{% if request.REQUEST.short %}
				<a href="#" id="collapse-posts" style="display: none;">Collapse posts</a>
				<a href="#" id="expand-posts">Show post previews</a>
			{% else %}
				<a href="#" id="collapse-posts">Collapse posts</a>
				<a href="#" id="expand-posts" style="display: none;">Show post previews</a>
			{% endif %}
		</span>

	   <div style="clear:both"></div>
	
	</div>
{% endif %}

{% endif %}

{% if request.REQUEST.short %}

<div class="shortpostcontainer">
{% endif %}


{% cache CACHE_TIMEOUT "postlist" user.username request.page group mode LATEST_POST CACHE_STAMP current_timezone LANGUAGE_CODE %}

{% autopaginate topics 10 %}

{% for topic in topics %}
	{% include "topics/topic_item.html" %}
{% endfor %}

{% paginate %}

{% endcache %}


{% if request.REQUEST.short %}
</div>

<script style="text/javascript">
$('div.postcontent').hide(); 
$('div.postheader').addClass('shortpost');

</script>

{% endif %}

<script type="text/javascript">
	$('#collapse-posts').click(function(){
		var state = {};
		state['short'] = 1;
		$.bbq.pushState( state );

		return false;
	});

	$('#expand-posts').click(function(){
		var state = {};
		state['short'] = 0;
		$.bbq.pushState( state );

		return false;
	});
</script>