{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load extra_tagging_tags %}
{% load pagination_tags %}
{% load attachablecomments_tags %}
{% load avatar_tags %}
{% load group_tags %}
{% load group_topics_tags %}
{% load attachments_tags %}
{% load whiteboard_tags %}
{% load icon_tags %}
{% load filesize_tags %}
{% load cache %}
{% load time_filters %}

{% block head_title %}{% trans "Post" %} : {{ topic.title }}{% endblock %}

{% block extra_head %}
	{{ block.super }}
	<link type="text/css" href="{{STATIC_URL}}css/colorbox.css" rel="stylesheet" />
	
{% endblock %}

{% block body %}

<div class="post">
	{% cache CACHE_TIMEOUT "postbody" topic.id current_timezone LANGUAGE_CODE request.page %}
	<div class="postheader bkgd" style="position: relative;"> <!-- header row -->
		
        {% get_attachments_for topic as "attachments" %}
        {% if attachments.count %}
		<a href="{{ topic.get_absolute_url }}"><img src="{{ STATIC_URL }}images/post_icons/paperclip.gif" class="posts-icon-paperclip" border="0"/></a>
		{% endif %}

		<div class="topic-numberofreplies">
			{% if topic.num_whiteboard_edits %}
    			<a href="{{ topic.get_absolute_url }}#post-whiteboard" class="posts-icon-whiteboard" border="0"><img src="{{ STATIC_URL }}images/post_icons/whiteboard.gif" border="0"/></a>
    		{% endif %}
		</div>
		
		{% if topic.send_as_email %}
			<a href="{{ topic.get_absolute_url }}"><img src="{{ STATIC_URL }}images/post_icons/envelope.gif"
			style="float: left; margin-right: 5px; margin-top: 0; padding: 0;" border="0" title="this post was sent as an email"/></a>
		{% endif %} 
		
		<a href="{{ topic.get_absolute_url }}" class="postheaderlink">{{ topic.title }}</a>

	</div>

	<div class="postsubheader bkgd-light"> <!-- stat row -->
		<table width="100%" style="margin:0; padding: 0;">
			<tr>
				<td>By <a href="{% url profile_detail topic.creator.username %}">{{ topic.creator.visible_name }}</a> {% mktime topic.created %}</td>
				<td align="right" width="50%">
					{% ifnotequal topic.group.slug "ewb" %}
				    	<a href="{% groupurl topic_list topic.group %}">{{ topic.group }}</a>
				    {% endifnotequal %}
				</td>
			</tr>
		</table>
	</div>

	<div class="postcontent"> <!-- main row -->
	
	    

		<a href="{% url profile_detail topic.creator.username %}">
		    {# {% avatar topic.creator 40 %} #}
		    <img src="{% avatar_url topic.creator 60 %}" class="posthumbnail" style="max-width:70px; max-height:70px;"  title="{{topic.creator}}" alt="{{topic.creator}}"/>
		</a>

        <div class="textbody">

            {{ topic.body|safe }}
        
        </div>
        
		<br style="clear:both; height: 1px; line-height: 1px;" />
	
		<table width="100%" style="margin:0; padding: 0; margin-top: 6px;"> <!-- tags and drill-in link table -->
    		<tr>
		    <td valign="top" style="font-size: 10px;">
                {% if attachments.count %}
                    <div class="post-attachments">
                        <span class="attach-label lighter">attached files:</span>
                        <ul>
                            {% for att in attachments %}
                                <li class="attachmentItem">
                                    {% icon_for_filename att.filename %} <a href="{{ STATIC_URL }}{% filter urlencode %}{{ att.attachment_file.name }}{% endfilter %}" target="_blank">{{ att.filename }}</a>
                                    {% image_preview att.attachment_file.name att.filename topic.pk %} 
                                    {% filesize_for_filename att.attachment_file.name %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                {% endif %}
		    </td>
		    
		    {% endcache %}

			<td align="right" valign="top" width="300" style="font-size: 10px; padding-right: 10px;">
				{# TODO: toggle watchlists, hot list, etc, etc #}
                {% if grpadmin %}
                <form class="uniForm" method="POST" action="{{ request.path }}delete/">
                    <fieldset class="inlineLabels">
                        <div class="form_block">
                            <input type="submit" value="{% trans "Delete Post" %}" />
                            <input type="hidden" name="next" value="{% groupurl topic_list group %}" />
                        </div>
                    </fieldset>
                </form>
                
                {# <p><a href="{{ request.path }}edit/">Edit Post</a></p> #}
                
                {% endif %}
                
				{% if user.is_authenticated %}
					{% topic_on_watchlist user topic as on_list %}
					<br/>
					<span id="toggle_watchlist_container">
					{% if on_list %}
	    				<a href="#" id="toggle_watchlist-{{ topic.pk }}" class="more watchlist-toggle toggle-remove">[remove from watch-list]</a>
	    			{% else %}
	    				<a href="#" id="toggle_watchlist-{{ topic.pk }}" class="more watchlist-toggle toggle-add">[add to watch-list]</a>
	    			{% endif %}
    				</span>
				{% endif %}
				
				<div align="right" style="font-size: 1-px; margin-bottom: 15px;">
	        printable verison:<br/>
	        <a href="{% url topic_printable_with_replies topic.id %}" class="more">with replies</a> |
	        <a href="{% url topic_printable topic.id %}" class="more">without replies</a>
	    </div>
				
				{% if perms.group_topics %}

					<div id="simple_hotlist">
						<form action="" method="post" class="score_modifier_form">
							<input type="hidden" name="modifier" value="{{topic.score_modifier|add:100}}"/>
							<input type="submit" value="add to global hotlist"/><br/>(<a href="#" id="show_advanced_hotlist">advanced hotlist options</a>)
						</form>
					</div>
					<div id="advanced_hotlist" style="display: none;">
						Featured posts score: <span id="featured-posts-score">{{topic.score}}</span>
						(current threshold: {% featured_posts_threshold %})
						<br/>
						<form action="" method="post" class="score_modifier_form">
							modifier:
							<input type="text" name="modifier" value="{{topic.score_modifier}}" size="3"/>%
							<input type="submit" value="update"/>
							<span id="score_modifier_status"></span>
						</form>
						
					</div>
				{% endif %}
				<br/>
				
			</td>
    		</tr>

			{% cache CACHE_TIMEOUT "posttagswbreplies" topic.id topic.last_reply topic.whiteboard.last_update user.is_authenticated current_timezone LANGUAGE_CODE request.page %}
            <tr>
			<td align="left" valign="top" colspan="2" style="font-size: 10px; padding-right: 10px;">
                {% show_tags_for topic %}
			</td>
			</tr>
			
		</table> <!-- end tags and drill-in link table -->	

	</div>
</div>

<div class="topic-whiteboard-container">
{% show_whiteboard topic.whiteboard topic.group member %}
</div>
    
{% attachablecomments topic %}

{% endcache %}

{% endblock %}

{% block extra_body %}
	{{ block.super }}
	{% include "tinymce.html" %}
    {% include "comments-js.html" %}
	
	{% if not edit %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css" />
    <script type="text/javascript" src="{{STATIC_URL}}jquery.autocomplete.min.js"></script>
	<script type="text/javascript">
    $("#id_tags").autocomplete('{% url tagging_utils_autocomplete "group_topics" "grouptopic" %}', {
                max: 10,
                multiple: true,
                multipleSeparator: ", ",
            });
    </script>	
	{% endif %}	

	{% if user.is_authenticated %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.watchlist-toggle').click(function() {
			
			  if($(this).hasClass('toggle-remove')) {
			      // remove it from the watchlist when clicked
	                $(this).html("removing...");
					$(this).load('{% url topic_watchlist_remove user.pk topic.pk %}');
					
					$(this).removeClass('toggle-remove');
					$(this).addClass('toggle-add');
			  } else {
	                $(this).html("adding...");
					$(this).load('{% url topic_watchlist_add user.pk topic.pk %}');
					
					$(this).removeClass('toggle-add');
					$(this).addClass('toggle-remove');
			  }
			  return false;
			});
		});
	</script>
	{% endif %}
	
	{% if perms.group_topics %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#show_advanced_hotlist').click(function() {
				$('#simple_hotlist').slideToggle();
				$('#advanced_hotlist').slideToggle();
				return false;
			});
			$('form.score_modifier_form').submit(function() {
				var new_modifier = $(this).find('input[name=modifier]').val();
				$('#score_modifier_status').html("updating...");
				$('#score_modifier_status').load("{% url topic_update_modifier topic.pk %}",
						                           {value: new_modifier},
						                           function(response, status, xhr) {
							                           if (!isNaN(parseInt(response)))
							                           {
							                        	   $('#featured-posts-score').html(response);
							                        	   $('#score_modifier_status').html("done");
							                           }
						                           });
				return false;
			});
		});
	</script>
	{% endif %}
	
	<script type="text/javascript" src="{{STATIC_URL}}js/colorbox.js"></script>
	<script type="text/javascript">
		$('.preview-img').colorbox({transition: "elastic", width:"80%", height:"80%"});
	</script>
{% endblock %}
