{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load extra_tagging_tags %}
{% load pagination_tags %}
{% load attachablecomments_tags %}
{% load avatar_tags %}
{% load group_tags %}
{% load attachments_tags %}
{% load whiteboard_tags %}
{% load icon_tags %}
{% load filesize_tags %}
{% block head_title %}{% trans "Post" %} : {{ topic.title }}{% endblock %}

{% block body %}

<div class="post">
	<div class="postheader" style="position: relative;"> <!-- header row -->
		
        {% get_attachments_for topic as "attachments" %}
        {% if attachments.count %}
		<a href="{{ topic.get_absolute_url }}"><img src="{{ STATIC_URL }}images/post_icons/paperclip.gif" style="float: right; margin: -5px 10px 0 0; padding: 0;" border="0"/></a>
		{% endif %}

		<div style="float: right; margin-top: -8px; margin-right: 15px; font-size: 10px; font-weight: normal; text-align: right; width: 150px;">
			{% if topic.num_whiteboard_edits %}
    			<a href="{{ topic.get_absolute_url }}" style="float: right; margin-top: 3px; margin-left: 10px; padding: 0;" border="0"><img src="{{ STATIC_URL }}images/post_icons/whiteboard.gif" border="0"/></a>
    		{% endif %}
		</div>
		
		{% if topic.send_as_email %}
			<a href="{{ topic.get_absolute_url }}"><img src="{{ STATIC_URL }}images/post_icons/envelope.gif"
			style="float: left; margin-right: 5px; margin-top: 0; padding: 0;" border="0" title="this post was sent as an email"/></a>
		{% endif %} 
		
		<a href="{{ topic.get_absolute_url }}" class="postheaderlink">{{ topic.title }}</a>

	</div>

	<div class="postsubheader"> <!-- stat row -->
		<table width="100%" style="margin:0; padding: 0;">
			<tr>
				<td>By <a href="{% url profile_detail topic.creator.username %}">{{ topic.creator }}</a>, {{ topic.created|date }}</td>
				<td align="right" width="50%">
				    <a href="{% groupurl topic_list topic.group %}">{{ topic.group }}</a>
				</td>
			</tr>
		</table>
	</div>

	<div class="postcontent"> <!-- main row -->
	
	    <div align="right" style="font-size: 1-px; margin-bottom: 15px;">
	        printable verison:
	        <a href="{% url topic_printable_with_replies topic.id %}" class="more">with replies</a> |
	        <a href="{% url topic_printable topic.id %}" class="more">without replies</a>
	    </div>

		<a href="{% url profile_detail topic.creator.username %}">
		    {# {% avatar topic.creator 40 %} #}
		    <img src="{% avatar_url topic.creator 40 %}" style="border: 1px solid #CCC; float:right; margin: 10px; margin-left:14px; padding:5px;" title="{{topic.creator}}" alt="{{topic.creator}}"/>
		</a>

        {{ topic.body|safe }}
        
		<br style="clear:both; height: 1px; line-height: 1px;" />
	
		<table width="100%" style="margin:0; padding: 0; margin-top: 6px;"> <!-- tags and drill-in link table -->
    		<tr>
		    <td valign="top" style="padding-left: 15px; font-size: 10px;">
                {% if attachments.count %}
                    attached files:
                    <ul style="margin-top: 0px; margin-bottom: 5px; margin-left: 25px;">
                        {% for att in attachments %}
                            <li class="attachmentItem">
                                {% icon_for_filename att.filename %} <a href="{{ STATIC_URL }}{{ att.attachment_file.name }}">{{ att.filename }}</a>
                                {% filesize_for_filename att.attachment_file.name %} 
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
		    </td>

			<td align="right" valign="top" width="300" style="font-size: 10px; padding-right: 10px;">
				{# TODO: toggle watchlists, hot list, etc, etc #}
                {% if grpadmin %}
                <form class="uniForm" method="POST" action="{{ request.path }}delete/">
                    <fieldset class="inlineLabels">
                        <div class="form_block">
                            <input type="submit" value="{% trans "Delete Post" %}" />
                            <input type="hidden" name="next" value="{% groupurl topic_list group %}" />
                        </div>
                    </fieldset>
                </form>
                
                {# <p><a href="{{ request.path }}edit/">Edit Post</a></p> #}
                
                {% endif %}
			</td>
    		</tr>

            <tr>
			<td align="left" valign="top" colspan="2" style="font-size: 10px; padding-right: 10px;">
                {% show_tags_for topic %}
			</td>
			</tr>
			
		</table> <!-- end tags and drill-in link table -->	

	</div>
</div>

<p>
{% show_whiteboard topic.whiteboard topic.group member %}
</p>
    
{% attachablecomments topic %}

{% endblock %}

{% block extra_body %}
	{{ block.super }}
	{% include "tinymce.html" %}
    {% include "comments-js.html" %}
	
	{% if not edit %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css" />
    <script type="text/javascript" src="{{STATIC_URL}}jquery.autocomplete.min.js"></script>
	<script type="text/javascript">
    $("#id_tags").autocomplete('{% url tagging_utils_autocomplete "group_topics" "grouptopic" %}', {
                max: 10,
                multiple: true,
                multipleSeparator: ", ",
            });
    </script>	
	{% endif %}	
{% endblock %}
