{% load i18n %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load attachablecomments_tags %}
{% load extra_tagging_tags %}
{% load group_tags %}
{% load group_topics_tags %}
{% load attachments_tags %}
{% load helpers %}

<div class="post">
	<div class="postheader bkgd" style="position: relative;"> <!-- header row -->
		
		{# is there a more efficient way than calling get_attachments_for ? #}
		{# TODO: display the icon if any replies have an attachment, too #}
        {% get_attachments_for topic as "attachments" %}
        {% if attachments.count %}
		<a href="{{ topic.get_absolute_url }}"><img src="{{ STATIC_URL }}images/post_icons/paperclip.gif" style="float: right; margin: -5px 10px 0 0; padding: 0;" border="0"/></a>
		{% endif %}

		<div style="float: right; margin-top: -8px; margin-right: 15px; font-size: 10px; font-weight: normal; text-align: right; width: 150px;">
			{% get_comment_count for topic as num_comments %}
            {% get_latest_comments_for 1 as latest for topic %}
            
			{% if topic.num_whiteboard_edits %}
    			<a href="{{ topic.get_absolute_url }}" style="float: right; margin-top: 3px; margin-left: 10px; padding: 0;" border="0"><img src="{{ STATIC_URL }}images/post_icons/whiteboard.gif" border="0"/></a>
    		{% endif %}

			{% if num_comments %}
				<a href="{{ topic.get_absolute_url }}" style="color: white;" class="nodeco">
				{% ifequal num_comments 1 %}
					1 reply
				{% else %}
					{{ num_comments }} replies
				{% endifequal %}
				
				{% if user.is_authenticated %}
					<em>{% get_comments_since user.get_profile.previous_login %}</em>
    			{% endif %}
    			</a>
			{% else %}
					&nbsp;
			{% endif %}
			<br/>

			{% if topic.num_whiteboard_edits %}
 				<a href="{{ topic.get_absolute_url }}" style="color: white;" class="nodeco">{{topic.num_whiteboard_edits}} whiteboard edits</a>
            {% else %}
 				&nbsp;
			{% endif %}
		</div>
		
		{% if topic.send_as_email %}
			<a href="{{ topic.get_absolute_url }}"><img src="{{ STATIC_URL }}images/post_icons/envelope.gif"
			style="float: left; margin-right: 5px; margin-top: 0; padding: 0;" border="0" title="this post was sent as an email"/></a>
		{% endif %} 
		
		<a href="{{ topic.get_absolute_url }}" class="postheaderlink">{{ topic.title }}</a>

	</div>

	<div class="postsubheader bkgd-light"> <!-- stat row -->
		<table width="100%" style="margin:0; padding: 0;">
			<tr>
				<td>By <a href="{% url profile_detail topic.creator.username %}">{{ topic.creator.visible_name }}</a> on {{ topic.created|date }} at {{ topic.created|time }}</td>
				<td align="right" width="50%">
					{% ifnotequal topic.group.slug "ewb" %}
				    	<a href="{{ topic.group.get_absolute_url }}#group-posts">{{ topic.group }}</a>
				    {% endifnotequal %}
				</td>
			</tr>
		</table>
	</div>

	<div class="postcontent"> <!-- main row -->

		<a href="{% url profile_detail topic.creator.username %}">
		    {# {% avatar topic.creator 40 %} #}
		    <img src="{% avatar_url topic.creator 40 %}" style="border: 1px solid #CCC; float:right; margin: 10px; margin-left:14px; padding:5px;" title="{{topic.creator.visible_name}}" alt="{{topic.creator.visible_name}}"/>
		</a>

        {{ topic.intro|safe }}
        
        {% if topic.intro_has_more %}
            <em>(more inside)</em>
        {% endif %}
		
		<br style="clear:both; height: 1px; line-height: 1px;" />
	
		<table width="100%" style="margin:0; padding: 0; margin-top: 6px;"> <!-- tags and drill-in link table -->
			<tr>
			<td align="right" valign="top" colspan="2" style="font-size: 10px; padding-right: 10px;">
		        {% if num_comments %}
					<a href="{{ topic.get_absolute_url }}#reply-{{ latest.0.id }}">Latest reply</a> by <a href="{% url profile_detail latest.0.user.username %}" class="nodeco">{{ latest.0.user.visible_name }}</a><br/> on {{ latest.0.date_submitted|date }} at {{ latest.0.date_submitted|time }}

                    {% if topic.num_whiteboard_edits %}<br/>{% endif %}
				{% endif %}
					
		        {% if topic.num_whiteboard_edits %}
		            Lastest whiteboard edit by <a href="{% url profile_detail topic.whiteboard.latest_changeset.editor.username %}">{{ topic.whiteboard.latest_changeset.editor.visible_name }}</a> on {{ topic.whiteboard.latest_changeset.modified|date }}
		        {% endif %}
		    </td>
    		</tr>

    		<tr>
		    <td valign="top" style="padding-left: 15px; font-size: 10px;">
				
				{% if user.is_authenticated %}
					{% topic_on_watchlist user topic as on_list %}
					<br/>
					<span id="toggle_watchlist_container-{{ topic.pk }}">
					{% if on_list %}
	    				<a href="#" id="toggle_watchlist-{{ topic.pk }}" class="more watchlist-toggle toggle-remove">[remove from watch-list]</a>
	    			{% else %}
	    				<a href="#" id="toggle_watchlist-{{ topic.pk }}" class="more watchlist-toggle toggle-add">[add to watch-list]</a>
	    			{% endif %}
    				</span>
				{% endif %}
				
                {% show_tags_for topic %}
		    </td>

			<td align="right" valign="top" width="300" style="font-size: 10px; padding-right: 10px;">
				<a href="{{ topic.get_absolute_url }}" class="more">read more and reply &raquo;</a>
			</td>
    		</tr>

		</table> <!-- end tags and drill-in link table -->	


	</div>

</div>
